@model SMS.App.ViewModels.ExamVM.AcademicExamCreateVM

@using System.Globalization

@{
    ViewData["Title"] = "Create new Exam";
    GlobalUI.PageTitle = ViewData["Title"].ToString();
}

    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" method="post">
                <div class="col-md-6">
                    <div class="">
                        <fieldset class="border border-info p-2">
                            <legend class="w-auto text-primary">Exam Information</legend>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4 col-md-3" asp-for="ExamName"></label>
                                <div class=" col-sm-8 col-md-9 ">
                                    <input asp-for="ExamName" class="form-control" readonly />
                                    <span asp-validation-for="ExamName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3" asp-for="AcademicExamTypeId"></label>
                                <div class="col-md-3">
                                    <select asp-for="AcademicExamTypeId" asp-items="ViewBag.AcademicExamTypeList" class="form-control" onchange="createExamName()">
                                        <option selected disabled>-Select Exam Type-</option>
                                    </select>
                                    <span asp-validation-for="AcademicExamTypeId" class="text-danger"></span>
                                </div>
                                @*</div>
                            <div class="form-group row">*@
                                <label class="col-form-label col-md-3 text-sm-left text-md-right" asp-for="AcademicSessionId"></label>
                                <div class="col-md-3">
                                    <select asp-for="AcademicSessionId" asp-items="ViewBag.AcademicSessionList" class="form-control" onchange="createExamName()">
                                        <option selected disabled>-Select Academic Session-</option>
                                        <option value="">All Section</option>
                                    </select>
                                    <span asp-validation-for="AcademicSessionId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3" asp-for="AcademicClassId"></label>
                                <div class="col-md-3">
                                    <select asp-for="AcademicClassId" asp-items="ViewBag.AcademicClassList" class="form-control" onchange="createExamName()">
                                        <option selected disabled>-Select Class-</option>
                                    </select>
                                    <span asp-validation-for="AcademicClassId" class="text-danger"></span>
                                </div>
                                @*</div>
                            <div class="form-group row">*@
                                <label class="col-form-label col-md-3 text-sm-left text-md-right" asp-for="AcademicSectionId"></label>
                                <div class="col-md-3">
                                    <select asp-for="AcademicSectionId" asp-items="ViewBag.AcademicSectionList" class="form-control" onchange="createExamName()">
                                        <option disabled selected>Select Class First</option>
                                        <option value="">All Section</option>
                                    </select>
                                    <span asp-validation-for="AcademicSectionId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3" asp-for="MonthId"></label>
                                <div class="col-md-3">
                                    <select asp-for="MonthId" class="form-control" onchange="createExamName()">
                                        <option selected disabled>--Select Month--</option>
                                        @for (int i = 1; i <= 12; i++)
                                        {
                                            <option value="@i">@DateTimeFormatInfo.CurrentInfo.GetMonthName(i)</option>
                                        }
                                    </select>
                                    <span asp-validation-for="MonthId" class="text-danger"></span>
                                </div>
                                <label class="col-form-label col-md-3 text-sm-left text-md-right" asp-for="MonthId">How Many Exam</label>
                                <div class="col-md-3">
                                    <input type="number" id="ExamCount" value="" class="form-control" />
                                    <span asp-validation-for="MonthId" class="text-danger"></span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="examListArea">
                        <fieldset class="border border-info p-2">
                            <legend class="w-auto text-primary">Subject Information</legend>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>SL</td>
                                        <td>Subject</td>
                                        <td>Teacher</td>
                                        <td>Mark</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 1; i <= 12; i++)
                                    {
                                        <tr>
                                            <td>@(i)</td>
                                            <td>
                                                <select asp-for="SubjectInfos[i].SubjectName" asp-items="ViewBag.AcademicSubjectList" class="form-control" onchange="createExamName()">
                                                    <option disabled selected>Select Subject</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select asp-for="SubjectInfos[i].EmployeeId" asp-items="ViewBag.TeacherList" class="form-control" onchange="createExamName()">
                                                    <option selected disabled>Select Exam Teacher</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input asp-for="SubjectInfos[i].Marks" class="form-control" min="10" max="100" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            @*<div class="form-group row">
                            <label class="col-form-label col-md-2" asp-for="AcademicSubjectId"></label>
                            <div class="col-md-2">
                                <select asp-for="AcademicSubjectId" asp-items="Model.AcademicSubjectList" class="form-control" onchange="createExamName()">
                                    <option disabled selected>Select Subject</option>
                                </select>
                                <span asp-validation-for="AcademicSubjectId" class="text-danger"></span>
                            </div>

                            <label class="col-form-label col-md-2 text-sm-left text-md-right" asp-for="EmployeeId"></label>
                            <div class="col-md-2">
                                <select asp-for="EmployeeId" asp-items="Model.TeacherList" class="form-control" onchange="createExamName()">
                                    <option selected disabled>Select Exam Teacher</option>
                                </select>
                                <span asp-validation-for="EmployeeId" class="text-danger"></span>
                            </div>

                            <label class="col-form-label col-md-2 text-sm-left text-md-right" asp-for="TotalMarks"></label>
                            <div class="col-md-2">
                                <input asp-for="TotalMarks" class="form-control" min="10" max="100" />
                                <span asp-validation-for="TotalMarks" class="text-danger"></span>
                            </div>
                        </div>*@

                            <div class="form-group row">
                                <div class="col-md-12 text-right">
                                    <input type="submit" value="Create" class="btn-info btn" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </form>

        </div>
    </div>



@section Scripts{
    <script src="~/js/AlertifyNotify/AlertifyNofify.js"></script>

    <script>
        let deleted = '@TempData["deleted"]';
        let created = '@TempData["created"]';
        let updated = '@TempData["updated"]';
        let failed = '@TempData["error"]';


        $('#AcademicClassId').change(function () {
            let id = $('#AcademicClassId option:selected').val();

            $.ajax({
                url: "/AcademicSubjects/GetSubjectsByClassId?classId=" + id,
                dataType: "JSON",
                type: "POST",
                cache: false,
                success: function (data) {
                    $('#AcademicSubjectId').empty();
                    //let o = '<option value="">All Section</option>';
                    if (data != null || data != '') {
                        var o = '<option disabled selected>Select Subject</option>';
                        $('#AcademicSubjectId').append(o);
                        $.each(data, function (i, obj) {
                            console.log(obj.subjectName);
                            var op = '<option value="' + obj.id + '">' + obj.subjectName + '</option>';
                            $('#AcademicSubjectId').append(op);
                        });
                    }
                    else {
                        var o = '<option disabled selected>Subject Not Found</option>';
                        $('#AcademicSubjectId').append(o);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });

            let sessionId = $('#AcademicSessionId option:selected').val();

            $.ajax({
                url: "/api/academicsections/getbyclasswithsessionId?classId=" + id + "&sessionId=" + sessionId,
                dataType: "JSON",
                type: "POST",
                cache: false,
                success: function (data) {
                    $('#AcademicSectionId').empty();
                    if (data != null || data != '') {
                        var o = '<option disabled selected>Select Section Name</option>';
                        var o2 = '<option value="">All Section</option>';
                        $('#AcademicSectionId').append(o);
                        $('#AcademicSectionId').append(o2);
                        $.each(data, function (i, obj) {
                            console.log(obj.name);
                            var op = '<option value="' + obj.id + '">' + obj.name + '</option>';
                            $('#AcademicSectionId').append(op);
                        });
                    }
                    else {
                        var o = '<option disabled selected>Section Not Found</option>';
                        $('#AcademicSectionId').append(o);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });

        });
        function createExamName() {
            let subjectName = $("#AcademicSubjectId option:selected").text();
            let className = $("#AcademicClassId option:selected").text();
            let examType = $("#AcademicExamTypeId option:selected").text();
            let sessionName = $("#AcademicSessionId option:selected").text();
            let monthName = $("#MonthId option:selected").text();
            let examName = subjectName + " (" + className + ") " + examType + " " + monthName + " " + sessionName.substr(-4);
            $('#ExamName').val(examName);
        }

    </script>
}