@model SMS.App.ViewModels.AcademicVM.AcademicExamVM

@using System.Globalization

@{
    ViewData["Title"] = "Academic Exams";
    GlobalUI.PageTitle = ViewData["Title"].ToString();
    int sl = 0;
    string styleForCurrentTransaction = string.Empty;

    string[] months = new string[12];

    for (int i = 1; i <= 12; i++)
    {
        DateTime month = new DateTime(1, i, 1);
        string monthName = month.ToString("MMMM");
        months[i - 1] = monthName;

    }

}

@section Styles{
    <link href="~/css/switch.css" rel="stylesheet" />
    <style>
        #loading
        {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

            #loading img
            {
                position: fixed;
                left: 40%;
                top: 40%;
                width: 20%;
            }
    </style>
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-sm table-striped table-bordered table-responsive-sm" id="myTable">
            <thead class=" table-info">
                <tr>
                    <th class="text-center">#</th>
                    @*<td>Exam Name</td>*@
                    @*<th>Exam</th>*@
                    <th>Subject</th>
                    <th>Academic Class</th>
                    <th>Academic Section</th>
                    <th>Teacher</th>
                    <th>Total Students</th>
                    <th>Total Marks</th>
                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                    {
                        <th>Lock</th>
                    }
                    <th class="p-0">
                        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                        {
                            <button class="btn-sm btn-info rounded-pill m-0" id="CreateId" data-toggle="modal" data-target="#createUpdateModal"><i class="fa fa-plus"></i> Add</button>
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.AcademicExams.Any())
                {
                    foreach (var item1 in Model.AcademicExams.OrderByDescending(g => g.AcademicExamGroup.AcademicSessionId).ThenByDescending(m => m.AcademicExamGroup.ExamMonthId).GroupBy(s => s.AcademicExamGroup.ExamGroupName))
                    {
                        <tr class="bg-navy-blue">
                            <td colspan="9"><span class="font-weight-bolder h6">@item1.Key - (Total @item1.Count() Exam/s)</span> </td>
                        </tr>
                        foreach (var item2 in item1.GroupBy(s => s.AcademicClass.Name).OrderBy(s => s.Min(m => m.AcademicClassId)))
                        {
                            <tr class="table-primary">
                                <td class="border-0"></td>
                                <td class="border-0" colspan="7"><span class="font-weight-bolder">@item2.Key - @item2.Count() Exam/s</span></td>
                                <td>
                                    <a href="#">Create Result</a>
                                </td>
                            </tr>
                            foreach (var item in item2)
                            {
                                <tr style="@styleForCurrentTransaction">
                                    <td class="text-center">@(++sl).</td>
                                    <td><a asp-action="Details" asp-route-id="@item.Id">  @item.AcademicSubject.SubjectName </a></td>
                                    <td>@item.AcademicClass.Name</td>
                                    <td>
                                        @if (item.AcademicSection == null)
                                        {
                                            <span>All</span>
                                        }
                                        else
                                        {
                                            @item.AcademicSection.Name
                                        }
                                    </td>
                                    <td>@item.Employee.EmployeeName</td>
                                    <td>@item.AcademicExamDetails.Count</td>
                                    <td>@item.TotalMarks</td>
                                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                                    {
                                        <td>
                                            @item.Status
                                        </td>
                                    }

                                    <td>
                                        <div class="btn-group btn-group-sm" role="group">
                                            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                                            {
                                                <a class="btn btn-sm rounded mr-1 examEditBtn" id="editBtn_@item.Id" data-examid="@item.Id" data-groupid="@item.AcademicExamGroupId" data-classid="@item.AcademicClassId" data-subjectid="@item.AcademicSubjectId" data-sectionid="@item.AcademicSectionId" data-employeeid="@item.EmployeeId" data-status="@item.Status" data-marks="@item.TotalMarks" data-toggle="modal" data-target="#createUpdateModal" onclick="EditExamClick(@item.Id)"><i class="fas fa-edit text-dark"></i> </a>
                                            }
                                            <a class="btn  btn-sm rounded mr-1" asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-info-circle text-info"></i> </a>
                                            @if (User.IsInRole("SuperAdmin"))
                                            {
                                                <button class="btn btn-group-sm" data-id="@item.Id" data-toggle="tooltip" data-placement="right" title="Delete" onclick="DeleteExam(@item.Id)">
                                                    <i class="fas fa-trash text-danger"></i>
                                                </button>
                                            }
                                        </div>

                                    </td>
                                </tr>

                            }
                        }
                    }
                }
                else
                {
                    <tr class="text-center">
                        <td colspan="12">
                            <h1>Nothing Found</h1>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createUpdateModal" tabindex="-1" role="dialog" aria-labelledby="createUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUpdateModalLabel">Add New Exam</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="post">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label text-md-right" asp-for="AcademicExamGroupId"></label>
                        <div class="col-md-4">
                            <select asp-for="AcademicExamGroupId" asp-items="Model.AcademicExamGroupList" class="form-control">
                                <option selected disabled value="">Select Exam Group</option>
                            </select>
                            <span asp-validation-for="AcademicExamGroupId"></span>
                        </div>
                        <label class="col-md-2 col-form-label text-md-right" asp-for="AcademicClassId"></label>
                        <div class="col-md-4">
                            <select asp-for="AcademicClassId" asp-items="Model.AcademicClassList" class="form-control">
                                <option selected disabled value="">Select Class</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label text-md-right" asp-for="AcademicSubjectId"></label>
                        <div class="col-md-4">
                            <select asp-for="AcademicSubjectId" class="form-control">
                                <option selected disabled value="">Change Academic Class</option>
                            </select>
                        </div>
                        <label class="col-md-2 col-form-label text-md-right" asp-for="AcademicSectionId"></label>
                        <div class="col-md-4">
                            <select asp-for="AcademicSectionId" class="form-control">
                                <option selected disabled value="0">Change Academic Class</option>
                            </select>
                            <span asp-validation-for="AcademicSectionId"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label text-md-right" asp-for="EmployeeId"></label>
                        <div class="col-md-4">
                            <select asp-for="EmployeeId" class="form-control" asp-items="Model.TeacherList">
                                <option selected disabled value="">Select Exam Teacher</option>
                            </select>
                            <span asp-validation-for="EmployeeId"></span>
                        </div>

                        <label class="col-md-2 col-form-label text-md-right" asp-for="TotalMarks"></label>
                        <div class="col-md-4">
                            <input asp-for="TotalMarks" max="100" min="0" class="form-control" />
                            <span asp-validation-for="TotalMarks"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label text-md-right" asp-for="Status"></label>
                        <div class="col-md-1">
                            <input asp-for="Status" class="form-control" />
                        </div>
                        <div class="offset-md-3 col-md-9 text-md-right">
                            <button type="button" class="btn-sm btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn-sm btn-primary" id="examAddBtn" onclick="ExamAddBtnClick()">Add Exam</button>
                            <button type="submit" class="btn-sm btn-success" id="updateFormSubmitBtn" style="visibility:hidden;">Update</button>
                        </div>
                    </div>
                </form>


            </div>
            <div class="modal-footer p-0" id="editupdatemodalfooter">
                <div class="col-md-12">
                    <form id="submitForm" asp-action="create" method="post">
                        <table class="table table-dark table-hover table-striped table-responsive-sm" id="detailsTable">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Subject</td>
                                    <td>Class</td>
                                    <td>Section</td>
                                    <td>Teacher</td>
                                    <td>Marks</td>
                                    @*<td>Status</td>*@
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody id="tableBodyId">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7" class="text-right">
                                        <span class="btn btn-sm btn-danger" onclick="ClearBtnClicked()">Clear</span>
                                        <button class="btn-sm btn-light" id="submitBtn">Submit</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loading" style="display:none;top:0;left:0;z-index:9999; position:fixed;width:100%;height:100%; ">
    <img src="~/Images/loading1.gif" width="50%;" alt="Loading_Images" />
</div>
@section Scripts{

    <script src="~/js/AcademicExam/AcademicExam.js"></script>
    <script src="~/js/AlertifyNotify/AlertifyNofify.js"></script>
    <script>
        let deleted = '@TempData["deleted"]';
        let created = '@TempData["created"]';
        let updated = '@TempData["updated"]';
        let failed = '@TempData["error"]';
    </script>
}