@model IEnumerable<AcademicExam>

@using System.Globalization

@{
    ViewData["Title"] = "Academic Exams";
    GlobalUI.PageTitle = ViewData["Title"].ToString();
    int sl = 0;
    string styleForCurrentTransaction = string.Empty;

    string[] months = new string[12];

    for (int i = 1; i <= 12; i++)
    {
        DateTime month = new DateTime(1, i, 1);
        string monthName = month.ToString("MMMM");
        months[i - 1] = monthName;

    }

}

@section Styles{
    <link href="~/css/switch.css" rel="stylesheet" />
}
<div class="row">
    <table class="table table-striped table-bordered" id="myTable">
        <thead class=" table-info ">
            <tr>
                <td>#</td>
                <td>Exam Name</td>
                <td>Exam Type</td>
                <td>Exam Month</td>
                <td>Subject</td>
                <td>Academic Class</td>
                <td>Academic Section</td>
                <td>Academic Session</td>
                <td>Teacher</td>
                @if(User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                {
                    <td>Lock</td>
                }
                <td>
                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                    {
                        <partial name="_Create" />

                    }
                </td>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    if (item.MonthId == Convert.ToInt32(DateTime.Now.ToString("MM")))
                    {
                        styleForCurrentTransaction = "background:antiquewhite";
                    }
                    <tr style="@styleForCurrentTransaction">
                        <td>@(++sl).</td>
                        <td>@item.ExamName</td>
                        <td>@item.AcademicExamType.ExamTypeName</td>
                        <td>
                            @months[item.MonthId - 1]
                        </td>
                        <td>@item.AcademicSubject.SubjectName</td>
                        <td>@item.AcademicSubject.AcademicClass.Name</td>
                        <td>@item.AcademicSection.Name</td>
                        <td>@item.AcademicSession.Name</td>
                        <td>@item.Employee.EmployeeName</td>
                        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                        {
                            <td> 
                                    @if (item.IsActive)
                                    {
                                       <span id="id_@item.Id" class="p-1 lockBtn" type="button" data-id="@item.Id">
                                           <i class="fa fa-lock fa-lg text-danger"></i>
                                       </span>
                                    }
                                    else
                                    {
                                        <span id="id_@item.Id" class="p-1 unLockBtn" type="button" data-id="@item.Id">
                                            <i class="fa fa-lock-open fa-lg text-info"></i>
                                        </span>
                                    }
                            </td>
                        }
                        <td>
                            <partial name="_Edit_Details_Delete" model="@item.Id" />

                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="text-center">
                    <td colspan="11">
                        <h1>Nothing Found</h1>
                    </td>
                </tr>
                <tr class="text-center">
                    <td colspan="11">
                        <partial name="_Create" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $('.lockBtn').click(function () {
                if (confirm("Are you sure you want to unlock this?")) {
                    let btnId = $(this).prop('id');
                    unlockExam($(this).data("id"), btnId);
                }
                else {
                    console.log("No");
                    return false;
                }
            });

            $('.unLockBtn').click(function () {
                if (confirm("Are you sure you want to unlock this?")) {
                    let btnId = $(this).prop('id');
                    lockExam($(this).data("id"), btnId);
                }
                else {
                    console.log("No");
                    return false;
                }
            });
        });
        function unlockExam(id, btnId) {
            $.ajax({
                type: "post",
                url: '/AcademicExams/UnlockExam',
                data: "exId=" + id,
                success: function (response) {
                    location.reload(true);
                },
                error: {

                }
            });
        }

        function lockExam(id, btnId) {
            $.ajax({
                type: "post",
                url: '/AcademicExams/lockExam',
                data: "exId=" + id,
                success: function (response) {
                    location.reload(true);
                },
                error: {

                }
            });
        }
    </script>
}