@model IEnumerable<AcademicExam>

@using System.Globalization 

@{
    ViewData["Title"] = "Academic Exams";
    GlobalUI.PageTitle = ViewData["Title"].ToString();
    int sl = 0;

    string[] months = new string[12];

    for (int i = 1; i <= 12; i++)
    {
        DateTime month = new DateTime(1, i, 1);
        string monthName = month.ToString("MMMM");
        months[i - 1] = monthName;
    }
}
    <div class="row">
        <table class="table table-striped table-bordered" id="myTable">
            <thead class=" table-info ">
                <tr>
                    <td>#</td>
                    <td>Exam Name</td>
                    <td>Exam Type</td>
                    <td>Exam Month</td>
                    <td>Subject</td>
                    <td>Academic Class</td>
                    <td>Academic Session</td>
                    <td>Teacher</td>
                    <td>
                        <partial name="_Create" />
                    </td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@(++sl).</td>
                            <td>@item.ExamName</td>
                            <td>@item.AcademicExamType.ExamTypeName</td>
                            <td>
                            @months[item.MonthId-1]
                            </td>
                            <td>@item.AcademicSubject.SubjectName</td>
                            <td>@item.AcademicSubject.AcademicClass.Name</td>
                            <td>@item.AcademicSession.Name</td>
                            <td>@item.Employee.EmployeeName</td>
                            <td>
                                <partial name="_Edit_Details_Delete" model="@item.Id" />
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="text-center">
                        <td colspan="7">
                            <h1>Nothing Found</h1>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td colspan="7">
                            <partial name="_Create" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>