@using Microsoft.AspNetCore.Identity;
@using SMS.App.ViewModels.AttendanceVM

@model SMS.App.ViewModels.Students.DashboardIndexVM

@inject UserManager<ApplicationUser> _userManager;

@{
    ViewData["Title"] = "Home Page";
    GlobalUI.PageTitle = "Dashboard";
    if (ViewBag.InstituteName != null)
    {
        GlobalUI.InstituteName = ViewBag.InstituteName;
    }
}

@section Styles{
    @*<link href="~/lib/fullCalendar/main.min.css" rel="stylesheet" />*@
}
<div class="row">
    <div class="col-md-12">
        <h3>@DateTime.Now.ToString("dd MMM yyyy hh:mm tt")</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header text-center h5">Todays Attendance</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-responsive-sm table-info border table-striped rounded">
                            <thead class="bg-info text-light">
                                <tr class="text-center font-weight-bold h5">
                                    <td>Total Employes</td>
                                    <td colspan="2" class="text-right">@Model.Employees.Count()</td>
                                </tr>
                                <tr class="bg-info text-light">
                                    <td>Designation</td>
                                    <td class="text-right">Attended</td>
                                    <td class="text-right">Total</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{int totalAttendedEmployees = 0;}
                                @foreach (TodaysAttendanceEmpVM item in Model.TodaysAttendanceEmpVMs.OrderBy(e => e.TotalEmployee))
                                {
                                    <tr>
                                        <td>@item.Designation.DesignationName</td>
                                        <td class="text-center">
                                            <a class="text-light" asp-action="Index" asp-controller="AttendanceMachines" asp-route-dateTime="@DateTime.Today.Date" asp-route-userType="e">
                                                <div class="w-100 bg-info">@item.AttendedEmployees.Count()</div>
                                            </a>
                                        </td>
                                        <td class="text-right">@item.TotalEmployee</td>
                                        @{totalAttendedEmployees += @item.AttendedEmployees.Count();}
                                    </tr>
                                }
                                <tr class="font-weight-bold bg-info text-light">
                                    <td>Total Employees</td>
                                    <td class="text-center">
                                        <a class="text-info" asp-action="Index" asp-controller="AttendanceMachines" asp-route-dateTime="@DateTime.Today.Date" asp-route-userType="e">
                                            <div class="w-100 bg-light">
                                                @totalAttendedEmployees
                                            </div>
                                        </a>
                                    </td>
                                    <td class="text-right">@Model.Employees.Count()</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-responsive-sm table-info border table-striped rounded shadow">
                            <thead class="bg-info text-light">
                                <tr class="font-weight-bold h5">
                                    <td>Total Students</td>
                                    <td colspan="2" class="text-right">@Model.Students.Count()</td>
                                </tr>
                                <tr class="">
                                    <td>Class Name</td>
                                    <td class="text-right">Attended</td>
                                    <td class="text-right">Total</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{int totalAttendedStudents = 0;}
                                @foreach (TodaysAttendanceStuVM sClass in Model.TodaysAttendanceStuVMs)
                                {
                                    <tr>
                                        <td>
                                            <a class="text-dark" asp-action="Index" asp-controller="Students" asp-route-academicClassId="@sClass.AcademicClass.Id">
                                                @sClass.AcademicClass.Name
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-light" asp-action="Index" asp-controller="AttendanceMachines" asp-route-dateTime="@DateTime.Today.Date" asp-route-classId="@sClass.AcademicClass.Id" asp-route-userType="s">
                                                <div class="w-100 bg-info">
                                                    @sClass.AttendedStudents.Count()
                                                </div>
                                            </a>
                                        </td>
                                        <td class="text-right"><a asp-action="Index" asp-controller="Students" asp-route-academicClassId="@sClass.AcademicClass.Id"> @sClass.TotalStudent</a></td>
                                        @{totalAttendedStudents += @sClass.AttendedStudents.Count();}
                                    </tr>
                                }
                                <tr class="font-weight-bold bg-info text-light">
                                    <td>Total Students</td>
                                    <td class="text-center">
                                        <a class="text-info" asp-action="Index" asp-controller="AttendanceMachines" asp-route-dateTime="@DateTime.Today.Date" asp-route-userType="s">
                                            <div class="w-100 bg-light">@totalAttendedStudents</div>
                                        </a>
                                    </td>
                                    <td class="text-right"><a asp-action="Index" asp-controller="Students"> @Model.Students.Count()</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card shadow ">
            <div class="card-header h5 text-center">
                Academic Calendar
            </div>
            <div class="card-body">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>


@section Scripts{


    @*<script src="~/lib/fullCalendar/main.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });
            calendar.render();
        });
    </script>*@
}