@using Microsoft.AspNetCore.Identity;
@using SMS.App.ViewModels.AttendanceVM

@*@model SMS.App.ViewModels.Students.DashboardIndexVM*@

@inject UserManager<ApplicationUser> _userManager;

@{
    ViewData["Title"] = "Home Page";
    GlobalUI.PageTitle = "Dashboard";
    if (ViewBag.InstituteName != null)
    {
        GlobalUI.InstituteName = ViewBag.InstituteName;
    }
    double monthlyTotal = 0.0;
    //double dailyTotal = 0.0;

}

@section Styles{
    @*<link href="~/lib/fullCalendar/main.min.css" rel="stylesheet" />*@
<style>
    .logo
    {
        width: 200px; /* Adjust the width as needed */
        height: 200px; /* Adjust the height as needed */
        animation: logoAnimation 4s infinite linear;
    }
       
</style>
}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron mb-0">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img class="logo" src="~/Images/Institute/nobleLogo.png" alt="Alternate Text" style="width: 200px; animation: logoAnimation 4s infinite linear;" />
                 
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="">Welcome to Noble Residential School</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    @*<div class="col-sm-12 col-md-6 col-12">
        <div class="card shadow">
            <div class="card-header text-center h5">Todays Attendance</div>
            <div class="">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-info border table-striped">
                            <thead class="bg-info text-light">
                                <tr class="text-center font-weight-bold h6">
                                    <td colspan="2" class="text-md-left">Total Employes</td>
                                    <td class="text-right">@Model.Employees.Count()</td>
                                </tr>
                                <tr class="bg-info text-light">
                                    <td>Designation</td>
                                    <td class="text-right">Attended</td>
                                    <td class="text-right">Total</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{int totalAttendedEmployees = 0;}
                                @foreach (TodaysAttendanceEmpVM item in Model.TodaysAttendanceEmpVMs.OrderBy(e => e.TotalEmployee))
                                {
                                    <tr>
                                        <td>@item.Designation.DesignationName</td>
                                        <td class="text-center">
                                            <a class="text-light" asp-action="Index" asp-controller="AttendanceMachines" asp-route-attendanceFor="employees" asp-route-dateTime="@DateTime.Today.ToString("yyyy-MM-dd")" asp-route-attendanceType="all">
                                                <div class="w-100 bg-info">@item.AttendedEmployees.Where(e => e.Status == true).Count()</div>
                                            </a>
                                        </td>
                                        <td class="text-right">@item.TotalEmployee</td>

                                        @{totalAttendedEmployees += @item.AttendedEmployees.Where(e => e.Status == true).Count();}
                                    </tr>
                                }
                                <tr class="font-weight-bold bg-info text-light">
                                    <td>Total Employees</td>
                                    <td class="text-center">
                                        <a class="text-info" asp-action="Index" asp-controller="AttendanceMachines" asp-route-attendanceFor="employees" asp-route-dateTime="@DateTime.Today.ToString("yyyy-MM-dd")" asp-route-attendanceType="all">
                                            <div class="w-100 bg-light">
                                                @totalAttendedEmployees
                                            </div>
                                        </a>
                                    </td>
                                    <td class="text-right">@Model.Employees.Where(e => e.Status == true).Count()</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-info border table-striped">
                            <thead class="bg-info text-light">
                                <tr class="font-weight-bold h6">
                                    <td colspan="2">Total Students</td>
                                    <td class="text-right">@Model.Students.Where(s => s.Status == true).Count()</td>
                                </tr>
                                <tr class="">
                                    <td>Class Name</td>
                                    <td class="text-right">Attended</td>
                                    <td class="text-right">Total</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{int totalAttendedStudents = 0;}
                                @foreach (TodaysAttendanceStuVM sClass in Model.TodaysAttendanceStuVMs)
                                {
                                    <tr>
                                        <td>
                                            <a class="text-dark" asp-action="Index" asp-controller="Students" asp-route-academicClassId="@sClass.AcademicClass.Id">
                                                @sClass.AcademicClass.Name
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a class="text-light" asp-action="Index" asp-controller="AttendanceMachines" asp-route-attendanceFor="students" asp-route-dateTime="@DateTime.Today.ToString("yyyy-MM-dd")" asp-route-attendanceType="attended" asp-route-aSessionId="3" asp-route-aClassId="@sClass.AcademicClass.Id">
                                                <div class="w-100 bg-info">
                                                    @sClass.AttendedStudents.Where(s => s.Status == true).Count()
                                                </div>
                                            </a>
                                        </td>
                                        <td class="text-right"><a asp-action="Index" asp-controller="Students" asp-route-academicClassId="@sClass.AcademicClass.Id"> @sClass.TotalStudent</a></td>
                                        @{totalAttendedStudents += @sClass.AttendedStudents.Where(s => s.Status == true).Count();}
                                    </tr>
                                }
                                <tr class="font-weight-bold bg-info text-light">
                                    <td>Total Students</td>
                                    <td class="text-center">
                                        <a class="text-info" asp-action="Index" asp-controller="AttendanceMachines" asp-route-dateTime="@DateTime.Today.Date" asp-route-userType="s">
                                            <div class="w-100 bg-light">@totalAttendedStudents</div>
                                        </a>
                                    </td>
                                    <td class="text-right"><a asp-action="Index" asp-controller="Students"> @Model.Students.Where(s => s.Status == true).Count()</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        <div class="col-sm-12 col-md-6 col-12">
            <div class="card shadow ">
                <div class="card-header h5 text-center">
                    Payments (Collection)
                </div>
                <div class="">
                    <div class="row">
                        <div id='monthlyCollection' class="col-md-6">
                            <table class="table table-primary">
                                <thead class="bg-blue-sky">
                                    <tr class="bg-primary text-center font-weight-bold h6">
                                        <td colspan="2" class="text-center">Todays (@DateTime.Today.ToString("dd/MM/yyyy")) Collection</td>
                                    </tr>
                                    <tr>
                                        <td>Class Name</td>
                                        <td class="text-right">Amount</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.DailyCollections != null)
                                    {
                                        foreach (var item in Model.DailyCollections)
                                        {
                                            <tr>
                                                <td>@item.AcademicClassName</td>
                                                <td class="text-right">@item.Amount</td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr class="font-weight-bold">
                                        <td>Total</td>
                                        @{
                                            monthlyTotal = (from m in Model.DailyCollections
                                                            select m.Amount).Sum();
                                        }
                                        <td class="text-right">@monthlyTotal</td>
                                    </tr>

                                </tfoot>
                            </table>
                        </div>
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <div id='dailyCollection' class="col-md-6">
                                <table class="table table-primary">
                                    <thead class="bg-blue-sky">
                                        <tr class="bg-primary text-center font-weight-bold h6">
                                            <td colspan="2" class="text-center">Monthly (@DateTime.Now.ToString("MMMM")) Collection</td>
                                        </tr>
                                        <tr>
                                            <td>Class Name</td>
                                            <td class="text-right">Amount</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.MonthlyCollections)
                                        {
                                            <tr>
                                                <td>@item.AcademicClassName</td>
                                                <td class="text-right">@item.Amount</td>

                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr class="font-weight-bold">
                                            <td>Total</td>
                                            @{
                                                monthlyTotal = (from m in Model.MonthlyCollections
                                                                select m.Amount).Sum();
                                            }
                                            <td class="text-right">@monthlyTotal</td>
                                        </tr>

                                    </tfoot>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    }*@

</div>


@section Scripts{
    <script>
        $(document).ready(function () {

        $(function () {
            let saved = '@TempData["saved"]';
            let deleted = '@TempData["deleted"]';
            let edited = '@TempData["edited"]';
            let failed = '@TempData["failed"]'
            if (saved != "") {
                alertify.success(saved);
                }
            if (deleted != "") {
                alertify.error(deleted);
                }
            if (edited != "") {
                alertify.message(edited);
                }
            if (failed != "") {
                alertify.error(failed);
                }
            });
        });

    </script>


}