@using Microsoft.AspNetCore.Identity;

@model SMS.App.ViewModels.Students.DashboardIndexVM

@inject UserManager<ApplicationUser> _userManager;

@{
    ViewData["Title"] = "Home Page";
    GlobalUI.PageTitle = "";
    if (ViewBag.InstituteName != null)
    {
        GlobalUI.InstituteName = ViewBag.InstituteName;
    }

    int totalStudent = 0;
    int totalTeacher = 0;
    int totalEmployee = 0;
    if (ViewBag.totalStudent != null)
    {
        totalStudent = ViewBag.totalStudent;
    }
    if (ViewBag.totalTeacher != null)
    {
        totalTeacher = ViewBag.totalTeacher;
    }
    if (ViewBag.totalEmployee != null)
    {
        totalEmployee = ViewBag.totalEmployee;
    }
}

<div class="text-center">
    @if (GlobalUI.InstituteName != null)
    {
        <h1 class="display-4">Welcome to @GlobalUI.InstituteName</h1>
    }
    else
    {
        <h1 class="display-4">Welcome to School Management System</h1>
    }
</div>
<div class="row">
    @*<div class="col-md-3">
        <table class="table table-responsive-sm table-info border table-striped rounded">
            <thead class="font-weight-bold bg-info text-light">
                <tr>
                    <td>Total Students</td>
                    <td>@Model.Students.Count()</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var sClass in Model.Classes.OrderBy(c => c.ClassSerial))
                {
                    <tr>
                        <td>@sClass.Name</td>
                        <td>@sClass.Students.Count()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-3">
        <table class="table table-responsive-sm table-info border table-striped rounded">
            <thead class="font-weight-bold bg-info text-light h5">
                <tr>
                    <td>Total Employess</td>
                    <td>@Model.Employees.Count()</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var desig in Model.Designations)
                {
                    <tr>
                        <td>@desig.DesignationName</td>
                        <td>@desig.Employees.Count()</td>
                    </tr>
                }
            </tbody>
        </table>        
    </div>*@


    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center h5">Todays Attendance</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-responsive-sm table-info border table-striped rounded">
                            <thead class="font-weight-bold bg-info text-light h5">
                                <tr>
                                    <td>Total Employess</td>
                                    <td>0/@Model.Employees.Count()</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var desig in Model.Designations)
                                {
                                    <tr>
                                        <td>@desig.DesignationName</td>
                                        <td>0/@desig.Employees.Count()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-responsive-sm table-info border table-striped rounded">
                            <thead class="font-weight-bold bg-info text-light">
                                <tr>
                                    <td>Total Students</td>
                                    <td>0/@Model.Students.Count()</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var sClass in Model.Classes.OrderBy(c => c.ClassSerial))
                                {
                                    <tr>
                                        <td>@sClass.Name</td>
                                        <td>0/@sClass.Students.Count()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
