@using Microsoft.AspNetCore.Identity;

@model SMS.App.ViewModels.Students.DashboardIndexVM

@inject UserManager<ApplicationUser> _userManager;

@{
    ViewData["Title"] = "Home Page";
    GlobalUI.PageTitle = "";
    if (ViewBag.InstituteName != null)
    {
        GlobalUI.InstituteName = ViewBag.InstituteName;
    }

}

<div class="text-center">
    @if (GlobalUI.InstituteName != null)
    {
        <h1 class="display-4">Welcome to @GlobalUI.InstituteName</h1>
    }
    else
    {
        <h1 class="display-4">Welcome to School Management System</h1>
    }
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center h5">Todays Attendance</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-responsive-sm table-info border table-striped rounded">
                            <thead class="bg-info text-light">
                                <tr class="text-center font-weight-bold h5">
                                    <td>Total Employes</td>
                                    <td colspan="2">@*@Model.Attendances.Where(s => s.ApplicationUser.UserType == 'e').Count()*@ @ViewBag.TotalEmployeePresent/ @Model.Employees.Count()</td>
                                </tr>
                                <tr class="bg-info text-light">
                                    <td>Designation</td>
                                    <td>Attended</td>
                                    <td>Total</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var desig in Model.Designations.OrderBy(c => c.Employees.Count()))
                                {
                                    <tr>
                                        <td>@desig.DesignationName</td>
                                        <td class="text-center"> 0</td>
                                        <td class="text-center">@desig.Employees.Count()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-responsive-sm table-info border table-striped rounded">
                            <thead class="bg-info text-light">
                                <tr class="font-weight-bold h5">
                                    <td>Total Students</td>
                                    <td colspan="2" class="text-center">@*@Model.Attendances.Where(s => s.ApplicationUser.UserType == 's').Count()*@ @ViewBag.TotalStudentPresent/@Model.Students.Count()</td>
                                </tr>
                                <tr class="">
                                    <td>Class Name</td>
                                    <td>Attended</td>
                                    <td>Total</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var sClass in Model.Classes.OrderBy(c => c.ClassSerial))
                                {
                                    <tr>
                                        <td>@sClass.Name</td>
                                        <td class="text-center">0</td>
                                        <td class="text-center">@sClass.Students.Count()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
<script>
    $(document).ready(function () {
        let desigId = 1;
        $.ajax({
            type: 'post',
            url: 'include/ajax.php',
            data: {},
            success: function (response) {
                $('#search_display').html(response);
            }
        });
    });
</script>
}