@inject UserManager<ApplicationUser> _userManger

@model IEnumerable<SMS.App.ViewModels.AttendanceVM.AttendanceMachineIndexVM>

@{
    ViewData["Title"] = "Attendances";
    GlobalUI.PageTitle = ViewBag.Title;

    int sl = 0;
}

<table class="table table-responsive-sm table-striped table-hover shadow" id="myTable">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.CardNo)
            </th>
            <th>
                Punch Date
            </th>
            <th>
                Punch Time
            </th>
            <th>
                Name
            </th>
            <th>
                User Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineNo)
            </th>
			<th>
                @if(User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                {
                    <partial name="_create" />
                }
                else
                {
                    <span>Action</span>
                }
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@(++sl).</td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNo)
            </td>
            <td>
                @item.PunchDateTime.Date.ToString("dd MMM yyyy")
            </td>
            <td>
                @string.Format("{0:hh:mm:ss tt}",item.PunchDateTime)
            </td>
            <td>
                @if(item.Name != null)
                {
                    <span>@item.Name</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineNo)
            </td>
            <td>
                <partial name="_edit_details_delete" model="@item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
    
    <script src="~/js/DataTable/dataTable.js"></script>
}
