@inject UserManager<ApplicationUser> _userManger

@model IEnumerable<SMS.App.ViewModels.AttendanceVM.AttendanceMachineIndexVM>

@{
    ViewData["Title"] = "Attendances";
    GlobalUI.PageTitle = ViewBag.Title;

    int sl = 0;
}
<div class="row">
    <div class="col-md-12 p-4">
        <form asp-action="index" asp-controller="AttendanceMachines" method="get">
            <div class="form-group row">
                <label class="col-form-label">User Type</label>
                <div class="col-md-2">
                    <select class="form-control">
                        <option selected disabled>Select Type</option>
                    </select>
                </div>

                <label class="col-form-label designationArea" style="display:none">Designation</label>
                <div class="col-md-2 designationArea" style="display:none">
                    <select class="form-control">
                        <option selected disabled>Select Designation</option>
                    </select>
                </div>


                <label class="col-form-label classArea" style="display:none">Class</label>
                <div class="col-md-2 classArea" style="display:none">
                    <select class="form-control">
                        <option selected disabled>Select Class</option>
                    </select>
                </div>
 
                <div id="submitArea">
                    <input class="form-control" value="Search" type="submit" />
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table table-responsive-sm table-striped table-hover shadow" id="myTable">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.CardNo)
            </th>
            <th>
                Punch Date
            </th>
            <th>
                Punch Time
            </th>
            <th>
                Name
            </th>
            <th>
                User Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineNo)
            </th>
			<th>
                @if(User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                {
                    <partial name="_create" />
                }
                else
                {
                    <span>Action</span>
                }
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@(++sl).</td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNo)
            </td>
            <td>
                @item.PunchDateTime.Date.ToString("dd MMM yyyy")
            </td>
            <td>
                @string.Format("{0:hh:mm:ss tt}",item.PunchDateTime)
            </td>
            <td>
                @if(item.Name != null)
                {
                    <span>@item.Name</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineNo)
            </td>
            <td>
                <partial name="_edit_details_delete" model="@item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
    
    <script src="~/js/DataTable/dataTable.js"></script>
}
