@inject IDesignationManager _designationManager
@inject IAcademicClassManager _academicClassManager
@inject IAcademicSessionManager _academicSessionManager
@inject UserManager<ApplicationUser> _userManger

@model IEnumerable<SMS.App.ViewModels.AttendanceVM.AttendanceMachineIndexVM>

@{
    ViewData["Title"] = "Attendances";
    GlobalUI.PageTitle = ViewBag.Title;

    int sl = 0;
    var designationList = await _designationManager.GetAllAsync();
    var academicClassList = await _academicClassManager.GetAllAsync();
    var academicSessionList = await _academicSessionManager.GetAllAsync();
}
<div class="row">
    <div class="col-md-12 p-4">
        <form asp-action="index" asp-controller="AttendanceMachines" method="get">
            <div class="form-group row">
                <div class="col-md-2">
                    <select class="form-control" name="userType" id="userTypeId">
                        <option selected disabled>User Type</option>
                        <option value="e">Employee</option>
                        <option value="s">Student</option>
                    </select>
                </div>

                @*<label class="col-form-label designationArea" style="display:none">Designation</label>*@
                <div class="col-md-2 designationArea" style="display:none">
                    <select class="form-control" name="designationId">
                        <option selected disabled>Select Designation</option>
                        @foreach(Designation designation in designationList)
                        {
                            <option value="@designation.Id">@designation.DesignationName</option> 
                        }
                    </select>
                </div>

                @*<label class="col-form-label sessionArea" style="display:none">Session</label>*@
                <div class="col-md-2 sessionArea" style="display:none">
                    <select class="form-control" name="sessionId">
                        <option selected disabled>Select Session</option>
                        @foreach(AcademicSession session in academicSessionList)
                        {
                            <option value="@session.Id">@session.Name</option> 
                        }
                    </select>
                </div>

                @*<label class="col-form-label classArea" style="display:none">Class</label>*@
                <div class="col-md-2 classArea" style="display:none">
                    <select class="form-control" name="classId">
                        <option selected disabled>Select Class</option>
                        @foreach(AcademicClass academicClass in academicClassList)
                        {
                            <option value="@academicClass.Id">@academicClass.Name</option> 
                        }
                    </select>
                </div>

                <div class="col-md-2 dateArea">
                    <input type="date" class="form-control" name="dateTime" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                </div>
                <div class="col-md-2">
                    <select class="form-control" name="attendanceType" id="attendanceType">
                        <option selected disabled>Select Attendance Type</option>
                        <option class="btn-sm btn-info" value="attended">Attended</option>
                        <option class="btn-sm btn-danger" value="absent">Absent</option>
                    </select>
                </div>
 
                <div class="col-md-2" id="submitArea">
                    <input class="btn-info btn-sm btn-block" value="Search" type="submit" />
                </div>
            </div>
        </form>
    </div>
</div>
@if (Model.Count() > 0)
{
    <table class="table table-responsive-sm table-striped table-hover shadow" id="myTable">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.CardNo)
                </th>
                <th>
                    Punch Date
                </th>
                <th>
                    Punch Time
                </th>
                <th>
                    Name
                </th>
                <th>
                    User
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MachineNo)
                </th>
                <th>
                    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                    {
                        <partial name="_create" />
                    }
                    else
                    {
                        <span>Action</span>
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(++sl).</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardNo)
                    </td>
                    <td>
                        @item.PunchDateTime.Date.ToString("dd MMM yyyy")
                    </td>
                    <td>
                        @string.Format("{0:hh:mm:ss tt}",item.PunchDateTime)
                    </td>
                    <td>
                        @if (item.Name != null)
                        {
                            <span>@item.Name</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserInfo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MachineNo)
                    </td>
                    <td>
                        <partial name="_edit_details_delete" model="@item.Id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <div class="col-md-12 text-center">

            <div class="jumbotron">
                <span>Data not found. To get data search with type of user and date.</span>

            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/js/DataTable/dataTable.js"></script>
    <script>
        $(document).ready(function(){
            $('#userTypeId').change(function(){
                let uType = $('#userTypeId option:selected').val();
                if(uType == 'e')
                {
                    $('.designationArea').css("display", "block");
                    $('.classArea').css("display", "none");
                    $('.sessionArea').css("display", "none");
                }
                if(uType == 's')
                {
                    $('.designationArea').css("display", "none");
                    $('.sessionArea').css("display", "block");
                    $('.classArea').css("display", "block");
                }
            });
        });
    </script>
}
