@using System.Linq;

@inject IDesignationManager _designationManager
@inject IAcademicClassManager _academicClassManager
@inject IAcademicSessionManager _academicSessionManager
@inject UserManager<ApplicationUser> _userManger

@model IEnumerable<SMS.Entities.AdditionalModels.AttendanceVM>

@{
    ViewData["Title"] = "Attendances";
    GlobalUI.PageTitle = ViewBag.Title;

    //int sl = 0;
    var academicClassList = await _academicClassManager.GetAllAsync();
    var academicSessionList = await _academicSessionManager.GetAllAsync();

    string datetime = ViewBag.attendanceDate == "0001-01-01" ? DateTime.Now.Date.ToString("yyyy-MM-dd") : ViewBag.attendanceDate;
    string className = ViewBag.aClassId != null ? _academicClassManager.GetById(ViewBag.aClassId).Name : "All";


    int total = 0;
    if (Model.Count() > 0)
    {
        total = Model.Count();
    }

}

@section Styles{
    <style type="text/css">
        @@page
        {
            size: A4 portrait;
        }

        @@media screen
        {
            #heading_part
            {
                display: none;
            }
        }

        @@media print
        {
            body *
            {
                visibility: hidden;
            }

            #printable_area *
            {
                visibility: visible;
            }

            #printable_area
            {
                position: absolute;
                top: 20px;
                left: 15px;
                right: 15px;
                width: 98%;
            }

            #searching_div, #myTable_length, #myTable_filter, #myTable_paginate
            {
                display: none;
            }

            #myTable *
            {
                border: 1px solid #000;
            }

            .tableBody_last_td, .tableBody_last_td *, #tableHead_last_th, #tableHead_last_th *, .body_machine_no, .body_machine_no *, #head_machine_no
            {
                display: none;
            }

            #heading_part
            {
                display: block;
                background-color: lightskyblue;
            }
        }
    </style>
}
<div id="heading_part" style="background: lightskyblue">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Noble Residential School</h1>
            <h6>Pirgacha, Rangpur</h6>
            <h4 class="border-bottom text-dark">(@ViewBag.attendanceFor Daily Attendance Sheet)</h4>
            <div>
                <div style="float:left">Date: @datetime</div>
                @if (ViewBag.attendanceFor == "students")
                {
                    <div  style="float:left">Class: @className</div>
                }
                <div style="float:right">Total: @total</div>
            </div>           
        </div>
    </div>
</div>
<div class="row" id="searching_div">
    <div class="col-md-12 p-2">
        <form asp-action="index" asp-controller="AttendanceMachines" method="get">
            <div class="form-group row mb-0">
                <div class="col-md-2 mb-2">
                    <select class="form-control" name="attendanceFor" id="userTypeId">
                        <option selected disabled>User Type</option>
                        <option value="employees">Employee</option>
                        <option value="students">Student</option>
                    </select>
                </div>
                <div class="col-md-2 sessionArea" style="display:none">
                    <select class="form-control mb-2" name="aSessionId" id="aSessionId">
                        <option selected disabled>Select Session</option>
                        @foreach (AcademicSession session in academicSessionList)
                        {
                            <option value="@session.Id">@session.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md-2 classArea" style="display:none">
                    <select class="form-control mb-2" name="aClassId" id="aClassId">
                        <option selected disabled>Select Class</option>
                        <option value="">All Class</option>
                        @foreach (AcademicClass academicClass in academicClassList)
                        {
                            <option value="@academicClass.Id">@academicClass.Name</option>

                        }
                    </select>
                </div>
               



                <div class="col-md-2 dateArea mb-2">
                    <input type="date" class="form-control" placeholder="dd-mmm-yyyy" name="dateTime" value="@datetime" max="@DateTime.Today.ToString("yyyy-MM-dd")" />
                </div>

                <div class="col-md-2">
                    <select class="form-control mb-2" name="attendanceType" id="attendanceType">
                        @if (ViewBag.attendanceType != null)
                        {
                            <option selected value="@ViewBag.attendanceType">@ViewBag.attendanceType</option>
                        }
                        else
                        {
                            <option selected disabled>Attendance Type</option>
                        }
                        <option class="btn-sm" value="all">All</option>
                        <option class="btn-sm" value="attended">Attended</option>
                        <option class="btn-sm" value="absent">Absent</option>
                    </select>
                </div>

                <div class="col-md-2" id="submitArea">
                    <input class="btn-info btn-sm" value="Search" type="submit" />
                    <button class="btn-outline-warning btn-sm" onclick="window.print()"><i class="fa fa-print"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
@if (Model.Count() > 0)
{
    <table class="table table-responsive-sm table-striped table-hover shadow" id="myTable">
        @if (ViewBag.attendanceFor == "students")
        {
            <thead>
                <tr>
                    <th>
                        Roll
                    </th>
                    <th>
                        Student Name
                    </th>
                    <th>
                        Class
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>

                    <th>
                        Punch Time
                    </th>

                    <th>
                        Remarks
                    </th>
                    @*<th id="tableHead_last_th">
                            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                            {
                                <partial name="_create" />
                            }
                            else
                            {
                                <span>Action</span>
                            }
                        </th>*@
                </tr>
            </thead>
        }
        else
        {
            <thead>
                <tr>
                    <th>
                        Card
                    </th>
                    <th>
                        Employee Name
                    </th>
                    <th>
                        Designation
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>

                    <th>
                        Time
                    </th>

                    <th>
                        Remarks
                    </th>
                    @*<th id="tableHead_last_th">
                            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                            {
                                <partial name="_create" />
                            }
                            else
                            {
                                <span>Action</span>
                            }
                        </th>*@
                </tr>
            </thead>
        }


        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CardNo</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    @if (ViewBag.attendanceFor == "students")
                    {
                        
                        <td>@item.Class_Designation</td>
                        <td>
                            @item.Phone.PadLeft(11,'0') (personal) 
                            <br />
                            @item.GuardianPhone.PadLeft(11, '0') (guardian)
                        </td>
                    }
                    else
                    {
                        <td>@item.Class_Designation</td>
                        <td>@item.Phone</td>
                    }

                    <td>
                        @item.PunchTime
                    </td>

                    <td>
                    </td>
                    <!--<td class="tableBody_last_td">-->
                    @*<partial name="_edit_details_delete" model="@item.Id" />*@
                    <!--</td>-->
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="jumbotron">
                <span>Data not found. To get data, search with type of user and date.</span>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/js/DataTable/dataTable.js"></script>
    <script>
        $(document).ready(function () {
            let aSessionId = "@ViewBag.aSessionId";

            let aClassId = '@ViewBag.aClassId';
            let attendanceFor = "@ViewBag.attendanceFor" ;
            let attendanceType ="@ViewBag.attendanceType" ;
            if (aSessionId !='') {
                $('.sessionArea').css("display", "block");
                $('#aSessionId').val(aSessionId).change();
            }
            if (aClassId != '') {
                $('.classArea').css("display", "block");
                $('#aClassId').val(aClassId).change();
            }
            if (attendanceFor != null) {
                $('#userTypeId').val(attendanceFor).change();
            }
            if (attendanceType != null) {
                $('#attendanceType').val(attendanceType).change();
            }



            $('#userTypeId').change(function () {
                let uType = $('#userTypeId option:selected').val();
                
                if (uType == 'students') {
                    $('.designationArea').css("display", "none");
                    $('.sessionArea').css("display", "block");
                    $('.classArea').css("display", "block");
                }
                else {
                    $('.designationArea').css("display", "block");
                    $('.sessionArea').css("display", "none");
                    $('.classArea').css("display", "none");
                }
            });
        });
    </script>
}
