@model IEnumerable<Question>

@using SMS.App.ViewModels.QuestionBank;

@{
    ViewData["Title"] = "Questions";
    GlobalUI.PageTitle = ViewBag.Title;

    QuestionVM questionVM = new QuestionVM();
}

@{
    int sl = 1;
    string[] number = { "i", "ii", "iii", "iv" };

}
@section Styles{
    <style>
        .errors
        {
            color: red;
        }
    </style>
}
<div class="sticky-top text-right">
    <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#exampleModalCenter" data-placement="top" title="Add New Question">
        <i class="fa fa-plus"></i>
    </button>
</div>
<div id="questionCreateDivId" class="p-1">
    @await Component.InvokeAsync("QuestionCreate")
</div>
<div id="myPage">
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            @*<div class="row">
                    <div class="col-md-11 offset-md-1">

                    </div>
                </div>*@
            <div class="row">
                <div class="col-1 col-md-1 col-sm-1 text-md-right">
                    <label class="col-form-label">@(sl++).</label>
                </div>
                <div class="col-11 col-md-11 col-sm-11">
                    @if (item.Image != null)
                    {
                        if (item.ImagePosition != null)
                        {
                            if (item.ImagePosition == "Top")
                            {
                                <img src="~/Images/Question/@item.Image" alt="Image" style="width:250px;" />
                                <span class="form-control-plaintext" readonly>
                                    @item.Uddipok
                                    (<span class="text-secondary pb-0">
                                        <span>Class:@item.Chapter.AcademicSubject.AcademicClass.Name; </span>
                                        <span>Subject:@item.Chapter.AcademicSubject.SubjectName; </span>
                                        <span>Chapter:(@item.Chapter.ChapterNumber) @item.Chapter.ChapterName  </span>
                                    </span>) <a asp-action="Edit" asp-controller="QuestionBanks" asp-route-id="@item.Id" class="text-primary" tooltips="Edit"><i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
                                </span>
                            }

                            else
                            {
                                <span class="form-control-plaintext" readonly>
                                    @item.Uddipok
                                    (<span class="text-secondary pb-0">
                                        <span>Class:@item.Chapter.AcademicSubject.AcademicClass.Name; </span>
                                        <span>Subject:@item.Chapter.AcademicSubject.SubjectName; </span>
                                        <span>Chapter:(@item.Chapter.ChapterNumber) @item.Chapter.ChapterName  </span>
                                    </span>) <a asp-action="Edit" asp-controller="QuestionBanks" asp-route-id="@item.Id" class="text-warning" tooltips="Edit"><i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
                                </span>
                                <img src="~/Images/Question/@item.Image" alt="Image" style="width:250px;" />
                            }
                        }
                        else
                        {
                            <span class="form-control-plaintext" readonly>
                                @item.Uddipok
                                (<span class="text-secondary pb-0">
                                    <span>Class:@item.Chapter.AcademicSubject.AcademicClass.Name; </span>
                                    <span>Subject:@item.Chapter.AcademicSubject.SubjectName; </span>
                                    <span>Chapter:(@item.Chapter.ChapterNumber) @item.Chapter.ChapterName  </span>
                                </span>) <a asp-action="Edit" asp-controller="QuestionBanks" asp-route-id="@item.Id" class="text-warning" tooltips="Edit"><i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
                            </span>
                            <img src="~/Images/Question/@item.Image" alt="Image" style="width:250px;" />
                        }
                    }
                    else
                    {
                        <span class="form-control-plaintext" readonly>
                            @item.Uddipok
                            (<span class="text-secondary pb-0">
                                <span>Class:@item.Chapter.AcademicSubject.AcademicClass.Name; </span>
                                <span>Subject:@item.Chapter.AcademicSubject.SubjectName; </span>
                                <span>Chapter:(@item.Chapter.ChapterNumber) @item.Chapter.ChapterName  </span>
                            </span>) <a asp-action="Edit" asp-controller="QuestionBanks" asp-route-id="@item.Id" class="text-primary" tooltips="Edit"><i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
                        </span>
                    }
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-11 col-md-11 offset-md-1 offset-1">
                    <ul class="list-group">
                        @if (item.QuestionDetails != null || item.QuestionDetails.Count() > 0)
                        {
                            int i = 0;
                            foreach (var qd in item.QuestionDetails)
                            {
                                <li class="d-flex justify-content-between align-items-center">
                                    <div class="row col-md-12 col-12">
                                        <div class="col-1 col-md-1 text-md-right">
                                            @(number[i++]))
                                        </div>
                                        <div class="col-10 col-md-10">
                                            @qd.QuestionText
                                        </div>
                                        <div class="col-1 col-md-1">
                                            <span class="">@qd.QMark</span>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        }

    }

</div>

@section Scripts{
    <script src="~/js/Accessories/questionCreate.js"></script>
}