@model SMS.App.ViewModels.PaymentVM.DuePaymentVM
@{
    int sl = 0;
    string sectionName = string.Empty;
    ViewBag.ClassName = string.Empty;
}
@section Styles{
    <link href="~/lib/DataTable/css/cdn.datatables.net_buttons_2.0.0_css_buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/lib/DataTable/css/cdn.datatables.net_1.11.5_css_jquery.dataTables.min.css" rel="stylesheet" />
    <style>
        .dataTables_length, .dataTables_filter
        {
            margin-left: 10px;
            float: right;
        }

        .dt-buttons
        {
            float: right;
        }
    </style>
}
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <fieldset class="border-primary p-2 border">
                    <legend class="w-auto text-primary">Select Criteria</legend>
                    <form id="studentInfoForm" asp-action="DuePayment">
                        <div class="form-group row">
                            <label asp-for="AcademicClassId" class="col-md-4 col-form-label"></label>
                            <div class="col-md-8">
                                <select class="form-control" asp-for="AcademicClassId" asp-items="Model.AcademicClassList">
                                    <option selected disabled value="">Select Academic Class</option>
                                    <option value="0">All Class</option>
                                </select>
                                <span asp-validation-for="AcademicClassId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="AcademicSectionId" class="col-md-4 col-form-label">Academic Section :</label>
                            <div class="col-md-8">
                                <select class="form-control" asp-for="AcademicSectionId" asp-items="Model.AcademicSectionList">
                                    <option selected disabled value="">Select Academic Section</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 offset-md-9 text-right">
                                <button type="submit" id="LoadButton" class="btn btn-sm btn-info">Get List</button>
                            </div>
                        </div>
                    </form>
                </fieldset><br />
                <div class="row" id="exportPortion" style="visibility:hidden">
                    <div class="col-md-3 offset-md-9 text-md-right">
                        <!-- Add a button to trigger the export -->
                        @*<button id="exportPdfButton">Export to PDF</button>*@

                        <!-- Add a button to trigger the export -->
                        <button class=" btn btn-sm btn-success" id="exportExcelButton">Export <i class="fas fa-file-excel"></i></button>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="InvalidForm" style="display:none">
                <div><h2 class="text-danger"> Please Select all the field</h2></div>
            </div>
        </div>
    </div>
    <div class="col-md-9" id="iframe-container" style="overflow:scroll;height:800px">
        @if (Model.DuePayments != null && Model.DuePayments.Count() > 0)
        {
            <table class="table table-hover table-bordered table-striped display" id="myTable" style="width:100%;">
                <thead>
                    <tr>
                        <td colspan="6" class="text-center pb-0 mb-0">

                            <div class="row">
                                <div class="col-md-5 text-md-right">
                                    <img src="~/Images/Institute/@Model.Institute.Logo" alt="Alternate Text" style="width:100px" />
                                </div>
                                <div class="col-md-7 text-md-left">
                                    <h2 class="text-info font-weight-bolder"> @Model.Institute.Name</h2>
                                    <h5 class="h5">@Model.Institute.Address</h5>
                                    <h6 class="font-italic" style="text-decoration:underline">Due Payment (Current)</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-md-left">
                                    @if (Model.AcademicClass != null)
                                    {
                                        @Model.AcademicClass.Name
                                        ViewBag.ClassName = @Model.AcademicClass.Name;
                                    }
                                    else
                                    {
                                        <span>All Class</span>
                                        ViewBag.ClassName = "All Class";
                                    }
                                </div>
                                <div class="col-md-6 text-md-right"><span>Date:@DateTime.Now.ToString("dd MMM yyyy")</span> </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="no-sort">#</th>
                        <th>Class Roll</th>
                        <th>Student Name</th>
                        <th>Academic Section</th>
                        <th class="text-right">Due Amount</th>
                        <th class="text-center action no-sort" id="action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DuePayments.OrderBy(s => s.Student.ClassRoll))
                    {
                        <tr>
                            <td>@(++sl)</td>
                            <td>@item.Student.ClassRoll</td>
                            <td>@item.Student.Name</td>
                            @if (item.Student.AcademicSection == null)
                            {
                                <td>N/A</td>
                            }
                            else
                            {
                                <td>@item.Student.AcademicSection.Name</td>
                            }
                            <td class="text-right">@item.TotalDue</td>
                            <td class="text-center action">
                                <span class="btn-group-sm">
                                    <a class="btn-sm btn-group-sm btn-info " asp-action="StudentPaymentInfoExport" asp-controller="Reports" asp-route-reportType="pdf" asp-route-fileName="payment_report_@item.Student.ClassRoll" asp-route-classRoll="@item.Student.ClassRoll" asp-route-fromDate="@item.Student.AdmissionDate.ToString("dd-MM-yyyy")" asp-route-toDate="@DateTime.Today.ToString("dd-MM-yyyy")" target="_blank">
                                        <span class="fa fa-file"></span> View
                                    </a>
                                    <a class="btn-sm btn-group-sm btn-primary" asp-action="Details" asp-controller="Students" asp-fragment="financials" asp-route-tabName="financials" asp-route-id="@item.Student.Id">details</a>
                                    <a class="btn-sm btn-group-sm btn-success" asp-action="Payment" asp-controller="StudentPayments" asp-route-stRoll="@item.Student.ClassRoll">Pay</a>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }
        else
        {
            if (ViewBag.isFromPost)
            {
                <div class="well">
                    <h3>Data not found</h3>
                </div>
            }
        }
    </div>
</div>



@section Scripts{
    <script src="~/lib/DataTable/js/jquery-3.7.0.js"></script>
    <script src="~/lib/DataTable/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTable/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/DataTable/js/jszip.min.js"></script>
    <script src="~/lib/DataTable/js/pdfmake.min.js"></script>
    <script src="~/lib/DataTable/js/vfs_fonts.js"></script>
    <script src="~/lib/DataTable/js/buttons.html5.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.4/xlsx.full.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').dataTable({
                "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                "dom": 'lBfrtip',
                'columnDefs': [{
                    'targets': '.no-sort', // column index (start from 0)
                    'orderable': false, // set orderable false for selected columns
                }],
                buttons: ['copy', 'excel', 'pdf'],
            });
            let myTable = $('#myTable').DataTable();

            new $.fn.dataTable.Buttons(myTable, {
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':not(.action)'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':not(.action)'
                        }
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':not(.action)'
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':not(.action)'
                        }
                    }
                ]
            });
        });



        document.getElementById('exportExcelButton').addEventListener('click', function () {
            // Get the table element
            const table = document.getElementById('myTable');

            // Remove the 'action' column
            const columnToRemove = 'action';
            const columnIndex = Array.from(table.querySelectorAll('th')).findIndex(th => th.id === columnToRemove);
            const rows = Array.from(table.querySelectorAll('tr'));
            rows.forEach(row => {
                const cells = Array.from(row.querySelectorAll('td'));
                cells.splice(columnIndex, 1); // Remove the cell for the 'action' column
                row.innerHTML = cells.map(cell => cell.outerHTML).join('');
            });

            // Create the workbook from the modified table
            const wb = XLSX.utils.table_to_book(table);

            // Save the workbook as an Excel file
            XLSX.writeFile(wb, 'Due Payment @DateTime.Now.ToString("dd-MM-yyyy")_@ViewBag.ClassName .xlsx');
        });




        let isPost = '@ViewBag.isFromPost';

        const ePortion = document.getElementById('exportPortion');
        if (isPost == 'True') {
            ePortion.style.visibility = 'visible';
        }
        else {
            ePortion.style.visibility = 'hidden';
        }


        $('#AcademicClassId').change(function () {
            let id = $('#AcademicClassId option:selected').val();
            let sessionId = $('#AcademicSessionId option:selected').val();

            $.ajax({
                url: "/api/academicsections/getbyclasswithsessionId?classId=" + id + "&sessionId=" + sessionId,
                dataType: "JSON",
                type: "POST",
                cache: false,
                success: function (data) {
                    $('#AcademicSectionId').empty();

                    if (data != null || data != '') {
                        var o = '<option disabled selected>Select Section Name</option>';
                        var o2 = '<option value="0">All Section</option>';
                        $('#AcademicSectionId').append(o);
                        $('#AcademicSectionId').append(o2);
                        $.each(data, function (i, obj) {
                            console.log(obj.name);
                            var op = '<option value="' + obj.id + '">' + obj.name + '</option>';
                            $('#AcademicSectionId').append(op);
                        });
                    }
                    else {
                        var o = '<option disabled selected>Section Not Found</option>';
                        $('#AcademicSectionId').append(o);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
    </script>
}