@model SMS.App.ViewModels.StudentyPaymentVM

@{
    ViewData["Title"] = "Payment page";
    if (Model.StudentPayment.Student!=null)
    {
        GlobalUI.PageTitle = "Payment for " + Model.StudentPayment.Student.Name;
    }
    else
    {
        GlobalUI.PageTitle = "Student Payment";
    }
    int sl = 0;
}
<div class="row pt-3 pb-2 bg-orange">
    <div class="col-md-12 text-center">
        <form asp-action="Payment" asp-controller="StudentPayments" class="">
            <div class="form-group row">
                <label class="col-md-2 offset-2 col-form-label text-right">
                    <span class="h5">Student Roll</span>
                </label>
                <div class="col-md-4">
                    @if (ViewBag.roll != null)
                    {
                        <input id="rollInput" class="form-control" name="stRoll" value="@ViewBag.roll" />
                    }
                    else
                    {
                        <input id="rollInput" placeholder="Input Student Roll Number" class="form-control" name="stRoll" />
                    }

                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-info rounded" id="submitButton">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
@if (Model != null)
{
    <div class="row text-white mt-1" id="paymentDiv">
        <div class="col-md-5 mh-100 p-3" style="background-color: #2A3F54;">
            <div class="row">
                <div class="col-md-6 offset-3 text-center pb-3">
                    <img src="~/Images/Student/@Model.StudentPayment.Student.Photo" alt="Alternate Text" class="rounded-circle" style="width:50%;" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-1">
                    <table class="table text-light">
                        <tr>
                            <td width="140px">Student Name</td>
                            <td>:</td>
                            <td>@Model.StudentPayment.Student.Name</td>
                        </tr>
                        <tr>
                            <td>Academic Class</td>
                            <td>:</td>
                            <td>@Model.StudentPayment.Student.AcademicClass.Name</td>
                        </tr>
                        @if (Model.StudentPayment.Student.AcademicSection != null)
                        {
                            <tr>
                                <td>Academic Section</td>
                                <td>:</td>
                                <td>@Model.StudentPayment.Student.AcademicSection.Name</td>
                            </tr>
                        }
                        <tr>
                            <td>Class Roll</td>
                            <td>:</td>
                            <td>@Model.StudentPayment.Student.ClassRoll</td>
                        </tr>
                        <tr>
                            <td>Academic Session</td>
                            <td>:</td>
                            <td>@Model.StudentPayment.Student.AcademicSession.Name</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-7 bg-info mh-100 border-left border-light">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="StudentPayment.StudentId" type="hidden" value="@Model.StudentPayment.Student.Id" />
                <div class="form-group row pt-3">
                    <label class="col-form-label offset-2 col-md-2 text-right">Receipt No</label>
                    <div class="col-md-3">
                        <input asp-for="StudentPayment.ReceiptNo" value="" class="form-control form-control-sm" />
                    </div>
                    <span asp-validation-for="StudentPayment.ReceiptNo" class="text-danger col-form-label"></span>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 offset-2 col-form-label text-right">Date </label>
                    <div class="col-md-3">
                        <input asp-for="StudentPayment.PaidDate" class="form-control form-control-sm" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                    </div>
                    <span asp-validation-for="StudentPayment.PaidDate" class="text-danger col-form-label"></span>
                </div>

                @if (Model.ClassFeeLists != null)
                {
                    int i = 0;
                    @foreach (var item in Model.ClassFeeLists)
                    {

                        <div class="form-group row">
                            <div class="col-md-2 d-flex align-items-center justify-content-end">
                                <input class="feeHeadIdCheckbox" type="checkbox" value="@item.Id" id="checkBoxFeeId_@item.Id" data-headId="@item.Id">
                                <input hidden disabled type="text" asp-for="StudentPayment.StudentPaymentDetails[i].StudentFeeHeadId" value="@item.StudentFeeHeadId" />
                            </div>
                            <label class="col-md-2 col-form-label" for="checkBoxId_@item.Id"> @item.StudentFeeHead.Name  </label>

                            <div class="col-md-3">
                                <input type="text" readonly value="@item.Amount" class="form-control form-control-sm text-right" />
                            </div>
                            <label class="col-form-label">Taka</label>
                        </div>
                        i++;
                    }
                }

                <div class="form-group row">
                    <div class="col-md-2 d-flex align-items-center justify-content-end">
                        <input type="checkbox" name="name" value="" id="waiverCheckId" />
                    </div>
                    <label class="col-md-2 col-form-label" for="waiverCheckId">Waiver (if any)</label>
                    <div class="col-md-3">
                        <input disabled asp-for="StudentPayment.WaiverAmount" value="" class="form-control form-control-sm text-right" />
                    </div>
                    <div class="col-md-5" style="display:none;" id="waiverDivId">
                        <input asp-for="StudentPayment.WaiverFor" value="" class="form-control form-control-sm" placeholder="write reason if any.." />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 d-flex align-items-center justify-content-end">
                        <input type="checkbox" name="name" value="" id="attachmentCheckId" />
                    </div>
                    <label class="col-md-2 col-form-label" for="attachmentCheckId">Attachement</label>
                    <div class="col-md-3">
                        <input disabled type="file" name="waiverAttachment" value="" class="text-right" id="docAttachId" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 text-right">

                    </div>
                    <label class="col-md-2 col-form-label">Remarks</label>
                    <div class="col-md-3">
                        <input asp-for="StudentPayment.Remarks" class="form-control form-control-sm text-right" value="" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 text-right">

                    </div>
                    <label class="col-md-2 col-form-label">Total Amount</label>
                    <div class="col-md-3">
                        <input asp-for="StudentPayment.TotalPayment" class="form-control form-control-sm text-right" value="" />
                    </div>
                </div>
                <div class="form-group row">

                    <div class="offset-4 col-md-3">
                        <input type="submit" name="total" value="Submit" class="btn btn-block btn-warning" />
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="row mt-1" id="historyDiv">
        <div class="col-md-12 bg-dark">
            <h6 class="text-center p-2 text-light">Payment History</h6>
        </div>
        <div class="col-md-12 bg-secondary mh-100">
            @if (Model.StudentPayments != null && Model.StudentPayments.Count > 0)
            {
                <table class="table table-striped table-sm text-light">
                    <thead class="bg-info">
                        <tr>
                            <td>#</td>
                            <td>Receipt No</td>
                            <td>Paid Date</td>
                            <td>Payment Type</td>
                            <td>Paid Amount</td>
                            <td>Remark</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.StudentPayments)
                        {
                            foreach (var pay in item.StudentPaymentDetails)
                            {
                                <tr>
                                    <td>@(++sl)</td>
                                    <td>@pay.StudentPayment.ReceiptNo</td>
                                    <td>@pay.StudentPayment.PaidDate.ToString("dd MMM yyyy")</td>
                                    <td>@pay.StudentFeeHead.Name</td>
                                    <td>@pay.StudentPayment.TotalPayment</td>
                                    <td>@pay.StudentPayment.Remarks</td>
                                    <td>
                                        <button data-paidDate="@pay.StudentPayment.PaidDate.ToString()" data-receipt="@pay.StudentPayment.ReceiptNo" type="button" class="btn btn-light btn-outline-info btn-sm" data-toggle="modal" data-target="#exampleModalCenter" id="modalViewId">
                                            View
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot></tfoot>
                </table>
            }
            else
            {
                <h6 class="text-center p-5 text-light">Payment History Not Found</h6>

            }
        </div>
    </div>

}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content ">

            <div class="container bootdey">
                <div class="row invoice row-printable">
                    <div class="col-md-10">
                        <!-- col-lg-12 start here -->
                        <div class="panel panel-default plain" id="dash_0">
                            <!-- Start .panel -->
                            <div class="panel-body p30">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <!-- col-lg-6 start here -->
                                        <div class="invoice-logo"></div>
                                    </div>
                                    <!-- col-lg-6 end here -->
                                    <div class="col-lg-6 col-md-6 text-right">
                                        <!-- col-lg-6 start here -->
                                        <div class="invoice-from">
                                            <ul class="list-unstyled text-right">
                                                <li>Dash LLC</li>
                                                <li>2500 Ridgepoint Dr, Suite 105-C</li>
                                                <li>Austin TX 78754</li>
                                                <li>VAT Number EU826113958</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="invoice-details mt25">
                                        <div class="well">
                                            <ul class="list-unstyled mb0">
                                                <li><strong>Invoice</strong> #936988</li>
                                                <li><strong>Invoice Date:</strong> Monday, October 10th, 2015</li>
                                                <li><strong>Due Date:</strong> Thursday, December 1th, 2015</li>
                                                <li><strong>Status:</strong> <span class="label label-danger">UNPAID</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="invoice-to mt25">
                                        <ul class="list-unstyled">
                                            <li><strong>Invoiced To</strong></li>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    Name:
                                                </div>
                                                <div class="col-md-8">
                                                    ash
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    Class:
                                                </div>
                                                <div class="col-md-8">
                                                    Ten
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    Shift:
                                                </div>
                                                <div class="col-md-8">
                                                    Morning
                                                </div>
                                            </div>

                                        </ul>
                                    </div>
                                </div>
                                <!-- Start .row -->
                                <div class="row">


                                    <!-- col-lg-6 end here -->
                                    <div class="col-lg-12">
                                        <!-- col-lg-12 start here -->


                                        <div class="invoice-items">
                                            <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="per70 text-center">Description</th>
                                                            <th class="per5 text-center">Qty</th>
                                                            <th class="per25 text-center">Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1024MB Cloud 2.0 Server - elisium.dynamic.com (12/04/2014 - 01/03/2015)</td>
                                                            <td class="text-center">1</td>
                                                            <td class="text-center">$25.00 USD</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Logo design</td>
                                                            <td class="text-center">1</td>
                                                            <td class="text-center">$200.00 USD</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Backup - 1024MB Cloud 2.0 Server - elisium.dynamic.com</td>
                                                            <td class="text-center">12</td>
                                                            <td class="text-center">$12.00 USD</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th colspan="2" class="text-right">Sub Total:</th>
                                                            <th class="text-center">$237.00 USD</th>
                                                        </tr>
                                                        <tr>
                                                            <th colspan="2" class="text-right">20% VAT:</th>
                                                            <th class="text-center">$47.40 USD</th>
                                                        </tr>
                                                        <tr>
                                                            <th colspan="2" class="text-right">Credit:</th>
                                                            <th class="text-center">$00.00 USD</th>
                                                        </tr>
                                                        <tr>
                                                            <th colspan="2" class="text-right">Total:</th>
                                                            <th class="text-center">$284.4.40 USD</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="invoice-footer mt25">
                                            <p class="text-center">Generated on Monday, October 08th, 2015 <a href="#" class="btn btn-default ml15"><i class="fa fa-print mr5"></i> Print</a></p>
                                        </div>
                                    </div>
                                    <!-- col-lg-12 end here -->
                                </div>
                                <!-- End .row -->
                            </div>
                        </div>
                        <!-- End .panel -->
                    </div>
                    <!-- col-lg-12 end here -->
                </div>
            </div>





            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script src="~/js/StudentPayments/Payment.js"></script>
    
    @if (TempData["Saved"] != null)
    {
        <script src="~/js/AlertifyNotify/successNotify.js"></script>
    }
    @if (TempData["error"] != null)
    {
        <script src="~/js/AlertifyNotify/errorNotify.js"></script>
    }
    @if (TempData["createWarning"]!=null)
    {
        <script src="~/js/AlertifyNotify/warningCreateNotify.js"></script>
    }
    @if (TempData["Warning"]!=null)
    {
        <script src="~/js/AlertifyNotify/warningNotify.js"></script>
    }
    @if (TempData["updateFail"]!=null)
    {
<script src="~/js/AlertifyNotify/warningUpdateFailNotify.js"></script>
    }
    
    
    
}