@model SMS.App.ViewModels.StudentPaymentVM
@using System.Collections.Specialized
@inject UserManager<ApplicationUser> _userManager;
@{
    ListDictionary months = new ListDictionary();
    months.Add(1, "January");
    months.Add(2, "February");
    months.Add(3, "March");
    months.Add(4, "April");
    months.Add(5, "May");
    months.Add(6, "Jun");
    months.Add(7, "July");
    months.Add(8, "August");
    months.Add(9, "September");
    months.Add(10, "October");
    months.Add(11, "November");
    months.Add(12, "December");
}
@{
    ViewData["Title"] = "Payment page";
    if (Model.StudentPayment.Student != null)
    {
        GlobalUI.PageTitle = "Payment for " + Model.StudentPayment.Student.Name;
    }
    else
    {
        GlobalUI.PageTitle = "Student Payment";
    }
    int sl = 0;
    string studentPhoto = !string.IsNullOrEmpty(Model.StudentPayment.Student.Photo) ? Model.StudentPayment.Student.Photo : "noimage.jpg";
    string createdBy = string.Empty;
}

@section Styles{
    <style>
        @@media print
        {
            body
            {
                margin: 0 !important;
                padding: 0 !important;
                height: 100% !important;
                visibility: hidden;
            }

                body.modal-open .modal
                {
                    position: absolute;
                    left: 0;
                    top: 0;
                    margin: 0;
                    padding: 0;
                    overflow: visible !important;
                }

            .modal-dialog
            {
                top: 0;
                max-width: 100%;
                width: 100%;
            }

            .modal-body
            {
                visibility: visible;
                font-size: 20px;
            }
        }

        .multiselect-container > li > a > label
        {
            padding: 4px 20px 3px 20px;
        }
    </style>
    <style>
        .mt-100
        {
            margin-top: 100px
        }

        body
        {
            color: #514B64;
            min-height: 100vh
        }
    </style>
}
<div class="row pt-3 pb-2" style="background-color: #2A3F54;">
    <div class="col-md-12 text-center">
        <form id="frmSearchByRollId" asp-action="Payment" asp-controller="StudentPayments" method="get" class="">
            <div class="row">
                <div class="col-md-4 offset-md-3">
                    <div class="input-group mb-3">
                        @if (ViewBag.roll != null)
                        {
                            <input id="rollInput" class="form-control" name="stRoll" value="@ViewBag.roll" />
                        }
                        else
                        {
                            <input id="rollInput" placeholder="Input Student Roll Number" class="form-control" name="stRoll" />
                        }
                        <div class="input-group-append">
                            <button class="btn btn-info rounded" type="submit"><i class="fas fa-search"></i> Go</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-md-left">
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
                        Select
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
@if (Model != null)
{
    <div class="row text-white" id="paymentDiv">
        <div class="col-md-4 mh-100 p-1 ">
            <div class="card bg-navy-blue" style="min-height:430px;">

                <div class="row">
                    <div class="col-md-6 offset-3 text-center pb-3">
                        <img src="~/Images/Student/@studentPhoto" alt="Alternate Text" class="rounded-circle" style="width:50%;" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-1">
                        <table class="table text-light">
                            <tr>
                                <td width="140px">Student Name</td>
                                <td>:</td>
                                <td>@Model.StudentPayment.Student.Name</td>
                            </tr>
                            <tr>
                                <td>Academic Class</td>
                                <td>:</td>
                                <td>@Model.StudentPayment.Student.AcademicClass.Name</td>
                            </tr>
                            @if (Model.StudentPayment.Student.AcademicSection != null)
                            {
                                <tr>
                                    <td>Academic Section</td>
                                    <td>:</td>
                                    <td>@Model.StudentPayment.Student.AcademicSection.Name</td>
                                </tr>
                            }
                            <tr>
                                <td>Class Roll</td>
                                <td>:</td>
                                <td>@Model.StudentPayment.Student.ClassRoll</td>
                            </tr>
                            <tr>
                                <td>Academic Session</td>
                                <td>:</td>
                                <td>@Model.StudentPayment.Student.AcademicSession.Name</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 mh-100 p-1">
            <div class="card bg-navy-blue" style="min-height:430px;">
                <form asp-action="payment" asp-controller="StudentPayments" method="post">
                    <input type="hidden" asp-for="StudentPayment.StudentId" value="@Model.StudentId" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row pt-2">
                                <label class="col-form-label col-md-3 text-md-right text-left">Receipt No</label>
                                <div class="col-md-8">
                                    <input disabled asp-for="StudentPayment.ReceiptNo" value="" placeholder="Auto Generated" readonly class="form-control form-control-sm" />
                                </div>
                                <span asp-validation-for="StudentPayment.ReceiptNo" class="text-danger col-form-label"></span>
                            </div>
                            <div class="form-group row pt-2">
                                <label class="col-md-3 col-form-label text-md-right text-left">Date </label>
                                <div class="col-md-8">
                                    <input type="date" asp-for="StudentPayment.PaidDate" class="form-control form-control-sm" value="@DateTime.Today.ToString("yyyy-MM-dd")" min="2020-01-31" max="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" />
                                    <span asp-validation-for="StudentPayment.PaidDate" class="text-danger col-form-label"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label text-md-right text-left">Payment For </label>
                                <div class="col-md-8">
                                    <select class="form-control" asp-items="ViewBag.FeeList" asp-for="StudentPayment.StudentPaymentDetails[0].StudentFeeHeadId">
                                        <option selected disabled>Select Payment</option>
                                    </select>
                                    <span asp-validation-for="ClassFeeHeadId" class="text-danger col-form-label"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label text-md-right text-left">Amount</label>
                                <div class="col-md-2">
                                    <input class="form-control form-control-sm text-dark font-weight-bolder text-right" placeholder="Amount" asp-for="StudentPayment.StudentPaymentDetails[0].PaidAmount" />
                                    <input type="hidden" id="academicClassId" value="@Model.StudentPayment.Student.AcademicClassId" />
                                </div>
                                <label class="col-md-7 col-form-label text-left" id="amountText"></label>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label text-md-right text-left">Total</label>
                                <div class="col-md-2">
                                    <input asp-for="StudentPayment.TotalPayment" class="form-control form-control-sm text-right text-dark font-weight-bolder" />
                                </div>
                                <label class="col-md-7 col-form-label text-left" id="totalAmountText"></label>
                                <span asp-validation-for="StudentPayment.TotalPayment" class="text-danger col-form-label"></span>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label text-md-right text-left">Remark</label>
                                <div class="col-md-8">
                                    <textarea asp-for="StudentPayment.Remarks" class="form-control form-control-sm" rows="2"></textarea>
                                </div>

                                <span asp-validation-for="StudentPayment.Remarks" class="text-danger col-form-label"></span>
                            </div>
                            <div class="form-group row">
                                <label asp-for="IsSMSSend" class="offset-md-3 col-md-6 col-form-label"><input asp-for="IsSMSSend" checked /> Send SMS Notification</label>
                                <span asp-validation-for="IsSMSSend" class="text-danger col-form-label"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-8 offset-md-3">
                                    <input type="submit" class="btn-block btn btn-info" value="Submit" id="submitBtn" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-8 offset-md-3 text-center">
                                    <span class="text-warning h6 font-italic">[Please try to input separate payment according to payment type]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row mt-1" id="historyDiv">
        <div class="col-md-12 bg-dark mb-1">
            <h5 class="text-center p-2 text-light h5">Payment History</h5>
        </div>
        <div class="col-md-12 mh-100">
            <div class="card">
                @if (Model.StudentPayments != null && Model.StudentPayments.Count > 0)
                {
                    <table class="table table-striped table-sm table-responsive-sm">
                        <thead class="bg-navy-blue p-2">
                            <tr>
                                <td>#</td>
                                <td>Receipt No</td>
                                <td>Paid Date</td>
                                <td>Payment Type</td>
                                <td>Paid Amount</td>
                                <td>Remark</td>
                                <td>Received By</td>
                                <td>Received Date</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.StudentPayments)
                            {
                                if (item.CreatedBy!=null)
                                {
                                    ApplicationUser aUser = await _userManager.FindByIdAsync(item.CreatedBy);
                                    createdBy = aUser.UserName;
                                }
                                else
                                {
                                    createdBy = "N/F";
                                }
                                <tr>
                                    @foreach (var payDetail in item.StudentPaymentDetails)
                                    {
                                        <td>@(++sl)</td>
                                        <td>@payDetail.StudentPayment.ReceiptNo</td>
                                        <td>@payDetail.StudentPayment.PaidDate.ToString("dd MMM yyyy")</td>
                                        <td>@payDetail.StudentFeeHead.Name</td>
                                        <td>@payDetail.StudentPayment.TotalPayment</td>
                                        <td>@payDetail.StudentPayment.Remarks</td>
                                        <td>@createdBy</td>
                                        <td>@payDetail.StudentPayment.CreatedAt</td>
                                        <td>
                                            <div class="btn-group">
                                                <button data-paymentId="@item.Id" data-studentName="@item.Student.Name" data-academicClass="@item.Student.AcademicClass.Name" data-classRoll="@item.Student.ClassRoll" data-academicSession="@item.Student.AcademicSession.Name" data-paidDate="@item.PaidDate.ToString()" data-receipt="@payDetail.StudentPayment.ReceiptNo" data-amount="@payDetail.StudentPayment.TotalPayment" data-paymentType="@payDetail.StudentFeeHead.Name" type="button" class="btn btn-light btn-outline-info btn-sm modalViewId" data-toggle="modal" data-target="#exampleModalCenter" id="modalViewId_">
                                                    View
                                                </button>
                                                <a class="btn btn-sm btn-info btn-outline-light" asp-action="Edit" asp-controller="StudentPayments" asp-route-id="@item.Id">Edit</a>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                }
                else
                {
                    <h6 class="text-center p-5 text-light">No available payment history</h6>
                }
            </div>
        </div>
    </div>
}

<!-- Modal -->

<div style="color:black;font-weight:100" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg pb-0" role="document">
        <div class="modal-content p-3" style="width:24cm">

            <div class="row" style="height:11.5cm;width:23cm">
                <iframe id="myIframe" style="width: 100%; height: 100%;"></iframe>
            </div>
            <div class="row" id="exportOptions" style="display:none">
                <div class="col-md-12 d-flex justify-content-between">

                    <form asp-action="ReceiptPaymentExport" asp-controller="Reports" method="get">
                        <input type="hidden" id="exportClassRollId" name="classRoll" />
                        <div class="btn-group btn-sm mr-2 " role="group" aria-label="First group">
                            <input type="hidden" name="myFileName" value="Payment Receipt @Model.StudentPayment.Id" />
                            <input type="hidden" id="paymentIdExport" name="paymentId" />
                            <button type="submit" name="reportType" value="pdf" class="btn-sm btn btn-danger" data-toggle="tooltip" title="Export PDF" data-placement="left"><i class="fas fa-file-pdf"></i></button>
                            <button type="submit" name="reportType" value="xls" class="btn-sm btn btn-success" data-toggle="tooltip" title="Export xls" data-placement="top"><i class="fas fa-file-excel"></i></button>
                            <button type="submit" name="reportType" value="word" class="btn-sm btn btn-primary" data-toggle="tooltip" title="Export doc" data-placement="top"><i class="fas fa-file-word"></i></button>
                        </div>
                    </form>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Student Select Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-header text-center">
                <h4 class="text-center">Select Student</h4>
            </div>
            <div class="modal-body">
                <form action="/" method="post">
                    <div class="form-group row">
                        <label class="col-md-4 text-md-right col-form-label">Academic Class</label>
                        <div class="col-md-8">
                            <select class="form-control" asp-items="ViewBag.AcademicClassList" id="modalAcademicClassId">
                                <option selected disabled>-Select Class-</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 text-md-right col-form-label">Student</label>
                        <div class="col-md-8">
                            <select class="form-control" id="studentListId">
                                <option selected disabled>-Select Student-</option>
                            </select>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <script src="~/js/AlertifyNotify/AlertifyNofify.js"></script>
    <script>
        let created = '@TempData["created"]';
    </script>
    <script>
         $(function () {
                let saved = '@TempData["saved"]';
                let deleted = '@TempData["deleted"]';
                let edited = '@TempData["updated"]';

                if (saved != "") {
                    alertify.success("Saved Successfully");
                }
                if (deleted != "") {
                    alertify.error("Deleted Successfully");
                }
                if (edited != "") {
                    alertify.message('Updated Successfully');
                }
            });
    </script>
    <script src="~/js/StudentPayments/Payment.js"></script>


}