@model SMS.App.ViewModels.StudentPaymentVM
@using System.Collections.Specialized
@{
    ListDictionary months = new ListDictionary();
    months.Add(1, "January");
    months.Add(2, "February");
    months.Add(3, "March");
    months.Add(4, "April");
    months.Add(5, "May");
    months.Add(6, "Jun");
    months.Add(7, "July");
    months.Add(8, "August");
    months.Add(9, "September");
    months.Add(10, "October");
    months.Add(11, "November");
    months.Add(12, "December");
}
@{
    ViewData["Title"] = "Payment page";
    if (Model.StudentPayment.Student != null)
    {
        GlobalUI.PageTitle = "Payment for " + Model.StudentPayment.Student.Name;
    }
    else
    {
        GlobalUI.PageTitle = "Student Payment";
    }
    int sl = 0;
    string studentPhoto = !string.IsNullOrEmpty(Model.StudentPayment.Student.Photo) ? Model.StudentPayment.Student.Photo : "noimage.jpg";
}

@section Styles{
    <style>
        @@media print
        {
            body
            {
                margin: 0 !important;
                padding: 0 !important;
                height: 100% !important;
                visibility: hidden;
            }

                body.modal-open .modal
                {
                    position: absolute;
                    left: 0;
                    top: 0;
                    margin: 0;
                    padding: 0;
                    overflow: visible !important;
                }

            .modal-dialog
            {
                top: 0;
                max-width: 100%;
                width: 100%;
            }

            .modal-body
            {
                visibility: visible;
                font-size: 20px;
            }
        }

        .multiselect-container > li > a > label
        {
            padding: 4px 20px 3px 20px;
        }
    </style>
    <style>
        .mt-100
        {
            margin-top: 100px
        }

        body
        {
            background: #00B4DB;
            background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
            background: linear-gradient(to right, #0083B0, #00B4DB);
            color: #514B64;
            min-height: 100vh
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
}
<div class="row pt-3 pb-2 bg-orange">
    <div class="col-md-12 text-center">
        <form asp-action="Payment" asp-controller="StudentPayments" method="get" class="">
            <div class="form-group row">
                <label class="col-md-3 offset-2 col-form-label text-right">
                    <span class="h5">Student Roll</span>
                </label>
                <div class="col-md-4">
                    @if (ViewBag.roll != null)
                    {
                        <input id="rollInput" class="form-control" name="stRoll" value="@ViewBag.roll" />
                    }
                    else
                    {
                        <input id="rollInput" placeholder="Input Student Roll Number" class="form-control h6" name="stRoll" />
                    }

                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-sm btn-info rounded" id="submitButton">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
@if (Model != null)
{
    <div class="row text-white mt-1" id="paymentDiv">
        <div class="col-md-5 mh-100 p-3" style="background-color: #2A3F54;">
            <div class="row">
                <div class="col-md-6 offset-3 text-center pb-3">
                    <img src="~/Images/Student/@studentPhoto" alt="Alternate Text" class="rounded-circle" style="width:50%;" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-1">
                    <table class="table text-light">
                        <tr>
                            <td width="140px">Student Name</td>
                            <td>:</td>
                            <td>@Model.StudentPayment.Student.Name</td>
                        </tr>
                        <tr>
                            <td>Academic Class</td>
                            <td>:</td>
                            <td>@Model.StudentPayment.Student.AcademicClass.Name</td>
                        </tr>
                        @if (Model.StudentPayment.Student.AcademicSection != null)
                        {
                            <tr>
                                <td>Academic Section</td>
                                <td>:</td>
                                <td>@Model.StudentPayment.Student.AcademicSection.Name</td>
                            </tr>
                        }
                        <tr>
                            <td>Class Roll</td>
                            <td>:</td>
                            <td>@Model.StudentPayment.Student.ClassRoll</td>
                        </tr>
                        <tr>
                            <td>Academic Session</td>
                            <td>:</td>
                            <td>@Model.StudentPayment.Student.AcademicSession.Name</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-7 bg-info mh-100 border-left border-light">
            <form asp-action="payment" asp-controller="StudentPayments" method="post">
                <input type="hidden" asp-for="StudentPayment.StudentId" value="@Model.StudentId" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row pt-2">
                            <label class="col-form-label col-md-3 text-right">Receipt No</label>
                            <div class="col-md-5 col-lg-4 col-sm-6 col-xs-10">
                                <input disabled asp-for="StudentPayment.ReceiptNo" value="" placeholder="Auto Generated" readonly class="form-control form-control-sm" />
                            </div>
                            <span asp-validation-for="StudentPayment.ReceiptNo" class="text-danger col-form-label"></span>
                        </div>
                        <div class="form-group row pt-2">
                            <label class="col-md-3 col-form-label text-right">Date </label>
                            <div class="col-md-5 col-lg-4 col-sm-6 col-xs-10">
                                <input type="date" asp-for="StudentPayment.PaidDate" class="form-control form-control-sm" value="@DateTime.Today.ToString("yyyy-MM-dd")" min="2020-01-01" max="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="col-md-6">
                                <span asp-validation-for="StudentPayment.PaidDate" class="text-danger col-form-label"></span>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-right">Payment For </label>
                            <div class="col-md-5 col-lg-4 col-sm-6 col-xs-10">
                                <select class="form-control" asp-items="@ViewBag.FeeList" asp-for="StudentPayment.StudentPaymentDetails[0].StudentFeeHeadId">
                                    <option selected disabled>Select Payment</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <div class="row d-flex justify-content-center mt-100">
                                    <div class="col-md-6">
                                        <select id="choices-multiple-remove-button" placeholder="Select upto 5 tags" multiple>
                                            <option value="HTML">HTML</option>
                                            <option value="Jquery">Jquery</option>
                                            <option value="CSS">CSS</option>
                                            <option value="Bootstrap 3">Bootstrap 3</option>
                                            <option value="Bootstrap 4">Bootstrap 4</option>
                                            <option value="Java">Java</option>
                                            <option value="Javascript">Javascript</option>
                                            <option value="Angular">Angular</option>
                                            <option value="Python">Python</option>
                                            <option value="Hybris">Hybris</option>
                                            <option value="SQL">SQL</option>
                                            <option value="NOSQL">NOSQL</option>
                                            <option value="NodeJS">NodeJS</option>
                                        </select>
                                    </div>
                                </div>



                                <!--<select class="form-control" id="howManyTimes" style="display:none" multiple="multiple">-->
                                @*@for (int i = 2; i <= 12; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }*@
                                <!--</select>-->
                            </div>
                            <span asp-validation-for="ClassFeeHeadId" class="text-danger col-form-label"></span>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-right">Amount</label>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-10">
                                <input type="text" id="amountId" class="form-control" placeholder="Amount" disabled />
                                <input type="hidden" id="academicClassId" value="@Model.StudentPayment.Student.AcademicClassId" />
                            </div>

                            <span asp-validation-for="StudentPayment.PaidDate" class="text-danger col-form-label"></span>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-right">Total</label>
                            <div class="col-md-5 col-lg-4 col-sm-6 col-xs-10">
                                <input asp-for="StudentPayment.TotalPayment" class="form-control form-control-sm text-right" />
                            </div>

                            <span asp-validation-for="StudentPayment.Remarks" class="text-danger col-form-label"></span>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-right">Remark</label>
                            <div class="col-md-9">
                                <textarea asp-for="StudentPayment.Remarks" class="form-control form-control-sm" rows="2"></textarea>
                            </div>

                            <span asp-validation-for="StudentPayment.Remarks" class="text-danger col-form-label"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 text-md-right">
                                <input type="submit" class="btn btn-success" value="Submit" />
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-2">
                            <ul class="list-group">
                                @foreach (var item in months.Values)
                                {
                                    <li class="list-group-item">
                                        <div class="form-check ">
                                            <input class="form-check-input col-form-label" type="checkbox" value="" id="checkbox_@item">
                                            <label class="p-1 form-check-label text-black-50" for="checkbox_@item">
                                                @item
                                            </label>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>*@
                </div>
            </form>

        </div>
    </div>
    <div class="row mt-1" id="historyDiv">
        <div class="col-md-12 bg-dark">
            <h6 class="text-center p-2 text-light">Payment History</h6>
        </div>
        <div class="col-md-12 bg-secondary mh-100">
            @if (Model.StudentPayments != null && Model.StudentPayments.Count > 0)
            {
                <table class="table table-striped table-sm text-light">
                    <thead class="bg-info">
                        <tr>
                            <td>#</td>
                            <td>Receipt No</td>
                            <td>Paid Date</td>
                            <td>Payment Type</td>
                            <td>Paid Amount</td>
                            <td>Remark</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.StudentPayments)
                        {
                            <tr>
                                @foreach (var payDetail in item.StudentPaymentDetails)
                                {
                                    <td>@(++sl)</td>
                                    <td>@payDetail.StudentPayment.ReceiptNo</td>
                                    <td>@payDetail.StudentPayment.PaidDate.ToString("dd MMM yyyy")</td>
                                    <td>@payDetail.StudentFeeHead.Name</td>
                                    <td>@payDetail.StudentPayment.TotalPayment</td>
                                    <td>@payDetail.StudentPayment.Remarks</td>
                                    <td>
                                        <button data-studentName="@item.Student.Name" data-academicClass="@item.Student.AcademicClass.Name" data-classRoll="@item.Student.ClassRoll" data-academicSession="@item.Student.AcademicSession.Name" data-paidDate="@item.PaidDate.ToString()" data-receipt="@payDetail.StudentPayment.ReceiptNo" data-amount="@payDetail.StudentPayment.TotalPayment" data-paymentType="@payDetail.StudentFeeHead.Name" type="button" class="btn btn-light btn-outline-info btn-sm modalViewId" data-toggle="modal" data-target="#exampleModalCenter" id="modalViewId_">
                                            View
                                        </button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                    <tfoot></tfoot>
                </table>
            }
            else
            {
                <h6 class="text-center p-5 text-light">Payment History Not Found</h6>

            }
        </div>
    </div>
}

<!-- Modal -->

<div style="color:black;font-weight:100" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg pb-0" role="document">
        <div class="modal-content p-3">
            <div class="modal-body page" id="receiptPrintingArea">
                <table class="table table-sm table-borderless table-striped">
                    <tr>
                        <td colspan="12" class="text-center">
                            <h1 style="color:navy; font-weight:bolder">Noble Residential School</h1>
                            <h5 class="">(Payment Receipt)</h5>
                            <hr />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">Recipt No</td>
                        <td>:</td>
                        <td colspan="4" id="rctReciptNo"></td>
                        <td colspan="2">Payment Date</td>
                        <td>:</td>
                        <td colspan="3" id="rctPaymentDate"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Academic Class</td>
                        <td>:</td>
                        <td colspan="4" id="rctAcademicClass"></td>
                        <td colspan="2">Class Roll</td>
                        <td>:</td>
                        <td colspan="3" id="rctClassRoll"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Studunt Name</td>
                        <td>:</td>
                        <td colspan="4" id="rctStudentName"></td>
                        <td colspan="2">Academic Session</td>
                        <td>:</td>
                        <td colspan="3" id="rctAcademicSession"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Amount</td>
                        <td>:</td>
                        <td colspan="4" id="rctAmount"></td>
                        <td colspan="2">Payment Type</td>
                        <td>:</td>
                        <td colspan="3" id="rctPaymentType"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Amount in words</td>
                        <td>:</td>
                        <td colspan="9" id="rctAmountInWords"></td>
                    </tr>

                </table>
                <table class="table table-borderless">
                    <tfoot class="pt-2 mt-2">

                        <tr>
                            <td colspan="7"></td>
                            <td colspan="5" class="text-center">
                                <span class="nowrap pt-3"> <hr /> Authority Signature</span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="modal-footer p-0">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="window.print()"><i class="fa fa-print"></i></button>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script>
        $(document).ready(function () {

            var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
                removeItemButton: true,
                maxItemCount: 5,
                searchResultLimit: 5,
                renderChoiceLimit: 5
            });


        });

    </script>



    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <script src="~/js/StudentPayments/Payment.js"></script>
    <script src="~/lib/MultiSelect/js/bootstrap-3.3.2.min.js"></script>
    <script src="~/lib/MultiSelect/js/jquery-2.1.3.min.js"></script>
    @if (TempData["Saved"] != null)
    {
        <script src="~/js/AlertifyNotify/successNotify.js"></script>
    }
    @if (TempData["error"] != null)
    {
        <script src="~/js/AlertifyNotify/errorNotify.js"></script>
    }
    @if (TempData["createWarning"] != null)
    {
        <script src="~/js/AlertifyNotify/warningCreateNotify.js"></script>
    }
    @if (TempData["Warning"] != null)
    {
        <script src="~/js/AlertifyNotify/warningNotify.js"></script>
    }
    @if (TempData["updateFail"] != null)
    {
        <script src="~/js/AlertifyNotify/warningUpdateFailNotify.js"></script>
    }

}