@model IEnumerable<SMS.Entities.Attendance>

@{
    ViewData["Title"] = "Attendances";
    GlobalUI.PageTitle = ViewBag.Title;
    int i = 0;
}
@if(Model.Count()>0)
{
<table class="table table-responsive-sm table-hover table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.CardNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PunchDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LateStartAfter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineNo)
            </th>
            <th><partial name="_Create" /></th>
        </tr>
    </thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@(++i)</td>
				<td>
					@Html.DisplayFor(modelItem => item.CardNo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PunchDatetime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.StartingTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ClosingTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LateStartAfter)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MachineNo)
				</td>
				<td>
					<partial name="_Edit_Details_Delete" model="@item.Id" />
				</td>
			</tr>
		}
	</tbody>
	</table>
}
else
{
	<div class="jumbotron">
	<span>Data Not found <partial name="_Create" /></span>

	</div>
}
