@model Models.AcademicClass

@{
    ViewData["Title"] = "Details Academic Class";
    GlobalUI.PageTitle = ViewBag.Title;
}


<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassSerial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassSerial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            Created At
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedAt.ToString("dd MMM yyyy (HH:mm:ss)")
        </dd>
        <dt class = "col-sm-2">
            Edited By
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditedAt)
        </dt>
        <dd class = "col-sm-10">
            @Model.EditedAt.ToString("dd MMM yyyy (HH:mm:ss)")
        </dd>
    </dl>
</div>
<div>
    <partial name="_Edit_Back" model="@Model.Id"/>
</div>
