@model SMS.App.ViewModels.ConfigureVM.ParamBusConfigVM
@inject UserManager<ApplicationUser> _userManager;
@{
    string editedBy = string.Empty;
    string isActive = string.Empty;
}
@if (Model.ParamBusConfigs.Any())
{
    <table class="table table-hover table-striped table-info">
        <thead>
            <tr>
                <td>SL</td>
                <td>Config Name</td>
                <td>Value</td>
                <td>Remarks</td>
                <td>Is Active</td>
                <td>Last Modified</td>
                <td>
                    <button id="addBtn" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg">Add</button>
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ParamBusConfigs)
            {
                <tr>
                    <td>@item.ParamSL</td>
                    <td>@item.ConfigName</td>
                    <td>@item.ParamValue</td>
                    <td>@item.Remarks</td>
                    <td>@item.IsActive</td>
                    <td>
                        @if (item.EditedBy != null)
                        {
                            ApplicationUser aUser = await _userManager.FindByIdAsync(item.EditedBy);
                            editedBy = aUser.UserName;
                        }
                        else
                        {
                            editedBy = "N/F";
                        }
                        <span>@editedBy</span>

                    </td>
                    <td>
                        <button data-id="@item.Id" data-ParamSL="@item.ParamSL" data-ConfigName="@item.ConfigName" data-ParamValue="@item.ParamValue" data-Remarks="@item.Remarks" data-IsActive="@item.IsActive" class="btn btn-sm btn-warning editBtn" data-toggle="modal" data-target=".bd-example-modal-lg"><span class="fa fa-edit"></span></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <div class="jumbotron text-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Add</button>
        </div>
    </div>
}


<!-- Large modal -->


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-5">
            @Html.Partial("_UpsertForm.cshtml", Model.ParamBusConfig)
        </div>
    </div>
</div>


@section Scripts{ 
<script>
    $('.editBtn').click(function () {
        let id = $(this).data('id');
        let sl = $(this).data('paramsl');
        let name = $(this).data('configname');
        let value = $(this).data('paramvalue');
        let remarks = $(this).data('remarks');
        let active = $(this).data('isactive');

        $('#Id').val(id);
        $('#ParamSL').val(sl);
        $('#ConfigName').val(name);
        $('#ParamValue').val(value);
        $('#Remarks').val(remarks);
        $('#IsActive').val(active);
        $('#IsActive').prop('checked', active);
        $('#submitBtn').text('Update');
    });
    $('#addBtn').click(function () {
        document.getElementById('submitBtn').textContent = 'Create';
    })
</script>
}