@model SMS.Entities.ClassFeeList

@{
    ViewData["Title"] = "Details";
    GlobalUI.PageTitle = "Class Fee List Details";
}


<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentFeeHeadId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentFeeHeadId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicClass.Name)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <partial name="_Edit_Back" model="@Model.Id" />
    </div>
</div>
