@model SMS.App.ViewModels.Students.StudentDetailsVM

@{
    string stuName = Model.Student.Name;
    ViewData["Title"] = "Student Details";
    GlobalUI.PageTitle = stuName + " Detail Informations";

    //age calculation
    int now = int.Parse(DateTime.Now.ToString("yyyyMMdd"));
    int dob = int.Parse(Model.Student.DOB.ToString("yyyyMMdd"));
    int age = (now - dob) / 10000;
    string phonePrefix = "+880";

}
@section Styles{ 
<style>
    .table th, .table td {
        padding: 0.25rem;
    }
</style>
}

<div class="row p-2">
    <div class="col-md-3 bg-info mh-100">
        <div class="row pt-2">
            <div class="col-md-12 text-center">
                <img class="rounded-circle" src="/Images/Student/@Model.Student.Photo" alt="Student Photo" style="width:40%;" />
            </div>
        </div>
        <div class="row text-light">
            <div class="col-md-12">
                <dl class="row p-2">
                    <dt class="col-sm-4 col-4 text-md-right text-sm-right text-right">
                        Name
                    </dt>
                    <dd class="col-sm-8 col-8">
                        @Html.DisplayFor(model => model.Student.Name)
                    </dd>
                    <dt class="col-sm-4 col-4 text-md-right text-sm-right text-right">
                        Session
                    </dt>
                    <dd class="col-sm-8 col-8">
                        @Html.DisplayFor(model => model.Student.AcademicSession.Name)
                    </dd>
                    <dt class="col-sm-4 col-4 text-md-right text-sm-right text-right">
                        Class
                    </dt>
                    <dd class="col-sm-8 col-8">
                        @Html.DisplayFor(model => model.Student.AcademicClass.Name)
                    </dd>
                    <dt class="col-sm-4 col-4 text-md-right text-sm-right text-right">
                        Section
                    </dt>
                    <dd class="col-sm-8 col-8">
                        @if (Model.Student.AcademicSectionId != null)
                        {
                            @Html.DisplayFor(model => model.Student.AcademicSection.Name)
                        }
                        else
                        {
                        <span>No Section</span>
                        }
                    </dd>
                    <dt class="col-sm-4 col-4 text-md-right text-sm-right text-right">
                        Roll
                    </dt>
                    <dd class="col-sm-8 col-8">
                        @Html.DisplayFor(model => model.Student.ClassRoll)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-9 bg-light mh-100 shadow-lg">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="bologna-list">
                    <li class="nav-item bg-Teal text-light">
                        <a class="nav-link text-success active"  href="#personal" role="tab" aria-controls="personal" aria-selected="true">Personal Information</a>
                    </li>
                    <li class="nav-item bg-Coffee text-light">
                        <a class="nav-link text-light" href="#academic" role="tab" aria-controls="academic" aria-selected="true">Academic Information</a>
                    </li>
                    <li class="nav-item bg-info text-light">
                        <a class="nav-link text-dark" role="tab" aria-controls="financials" aria-selected="true" href="#financials">Student Financials</a>
                    </li>
                    <li class="nav-item bg-lime text-light">
                        <a class="nav-link" role="tab" aria-controls="portfolio" aria-selected="true" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item bg-blue-sky text-light">
                        <a class="nav-link" role="tab" aria-controls="documents" aria-selected="true" href="#documents">Documents</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div id="personal" class="tab-pane active text-left" role="tabpanel">
                        <table class="table border-0 table-borderless table-responsive" style="height:100%;">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Student Name</td>
                                    <td>:</td>
                                    <td>@Model.Student.Name</td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>:</td>
                                    <td>@Model.Student.Gender.Name</td>
                                </tr>
                                <tr>
                                    <td>Date of Birth</td>
                                    <td>:</td>
                                    <td>@Model.Student.DOB.ToString("dd MMM yyyy") (@age years)</td>
                                </tr>
                                <tr>
                                    <td>Nationality</td>
                                    <td>:</td>
                                    <td>@Model.Student.Nationality.Name</td>
                                </tr>
                                <tr>
                                    <td>Religion</td>
                                    <td>:</td>
                                    <td>@Model.Student.Religion.Name</td>
                                </tr>
                                <tr>
                                    <td>Blood Group</td>
                                    <td>:</td>
                                    <td>@Model.Student.BloodGroup.Name</td>
                                </tr>
                                <tr class="table-info">
                                    <td class="p-1" colspan="3">
                                        <span class="text-primary font-weight-bold p-2">Contact Information</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Phone</td>
                                    <td>:</td>
                                    <td>@phonePrefix@Model.Student.PhoneNo</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>:</td>
                                    <td>@Model.Student.Email</td>
                                </tr>
                                <tr class="table-info">
                                    <td colspan="3" class="p-1">
                                        <span class="text-primary font-weight-bold p-2">Guardians Information</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Father's Name</td>
                                    <td>:</td>
                                    <td>@Model.Student.FatherName</td>
                                </tr>
                                <tr>
                                    <td>Mother's Name</td>
                                    <td>:</td>
                                    <td>@Model.Student.MotherName</td>
                                </tr>
                                <tr>
                                    <td>Guardian's Phone</td>
                                    <td>:</td>
                                    <td>@phonePrefix@Model.Student.GuardianPhone</td>
                                </tr>
                                <tr class="table-info">
                                    <td colspan="3" class="p-1">
                                        <span class="text-primary font-weight-bold p-2">Address Information</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Present Address</td>
                                    <td>:</td>
                                    <td>Vill/Area - @Model.Student.PresentAddressArea, Post Office - @Model.Student.PresentAddressPO, Polic Station - @Model.Student.PresentUpazila.Name, @Model.Student.PresentDistrict.Name</td>
                                </tr>
                                <tr>
                                    <td>Permanent Address</td>
                                    <td>:</td>
                                    <td>Vill/Area - @Model.Student.PermanentAddressArea, Post Office - @Model.Student.PermanentAddressPO, Polic Station - @Model.Student.PermanentUpazila.Name, @Model.Student.PermanentDistrict.Name</td>
                                    @*<td>Vill/Area - @Model.Student.PermanentAddressArea, Post Office - @Model.Student.PermanentAddressPO, Polic Station - @Model.Student.PermanentUpazila.Name, @Model.Student.PresentDistrict.Name, @Model.Student.PresentDivision.Name</td>*@
                                </tr>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                    <div id="academic" class="tab-pane" role="tabpanel">
                        <h2>This is for academic information</h2>
                    </div>
                    <div id="financials" class="tab-pane" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12 alert alert-warning">
                                <div class="col-md-6 text-left">
                                    <h5 class="">Due Amount: <span class="text-danger">2200tk</span></h5>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a asp-action="Payment" asp-controller="StudentPayments" asp-route-stRoll="@Model.Student.ClassRoll" class="btn btn-info">Make Payment</a>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="card-columns p-2">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="text-center">
                                            <span class="h6">Payment Schedule</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <td>#</td>
                                                    <td>Paid For</td>
                                                    <td>Amount</td>
                                                    <td>Payment Date</td>
                                                    <td>Action</td>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </table>

                                    </div>
                                    <div class="card-footer">
                                        <div class="text-center">
                                            <span class="h6">Total Payment : 2690tk</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <div class="text-center">
                                            <span class="h6">Payment Schedule</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <label>Total Paid: </label>
                                        <label>Total Paid: </label>
                                        <label>Total Paid: </label>
                                        <label>Total Paid: </label>
                                        <label>Total Paid: </label>
                                        <label>Total Paid: </label>
                                        <label>Total Paid: </label>
                                        <label>Total Paid: </label>
                                        <label>Total Paid: </label>
                                        <label>Total Paid: </label>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-center">
                                            <span class="h6">Total Payment : 2690tk</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <div class="text-center">
                                            <span class="h6">Payment Schedule</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <label>Total Paid: </label>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-center">
                                            <span class="h6">Total Payment : 2690tk</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <div class="text-center">
                                            <span class="h6">Payment Schedule</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <label>Total Paid: </label>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-center">
                                            <span class="h6">Total Payment : 2690tk</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio" class="tab-pane">
                        Portfolio
                    </div>
                    <div id="documents" class="tab-pane">
                        All Documents will go here
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 offset-1  p-1 mb-2">
        <div class="row p-2">
            <div class="col-md-12 text-center">
                <partial name="_Edit_Back" model="@Model.Student.Id"/>
            </div>
        </div>
    </div>
</div>



@section Scripts{ 
<script>
    $(document).ready(function () {
        
        $('#bologna-list a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        });
    });
</script>
}