@using Microsoft.AspNetCore.Identity;
@using System.IO;
@using SMS.App.Utilities.Pagination;
@using Microsoft.AspNetCore.Hosting;
@using System.Globalization;

@inject UserManager<ApplicationUser> _userManager;
@inject IWebHostEnvironment env;

@model PaginatedList<SMS.Entities.AdditionalModels.StudentListVM>

@{
    ViewData["Title"] = "Students";
    GlobalUI.PageTitle = ViewBag.Title;
    string totalFound = ViewBag.totalFound == null ? "Nothing Found" : ViewBag.totalFound + " Found";
    TextInfo textInfo = new CultureInfo("en-US", false).TextInfo;
    string name = string.Empty;
}
<div class="col-md-12">
    <form asp-action="Index" asp-controller="Students">
        <div class="alert mb-0 alert-info">
            <div class="form-group row mb-0">
                <div class="text-md-left col-md-10">
                    @*<div class="col-md-2">

            <select class="form-control" id="aAcademicClassId" name="academicClassId" asp-items="ViewBag.academicClassId">
                <option selected disabled>Select Class</option>
            </select>

        </div>
        <div class="col-md-2">
            <select class="form-control" id="aAcademicSectionId" name="academicSectionId" asp-items="ViewBag.academicSectionId">
                <option selected disabled>Select Section</option>
            </select>
        </div>*@
                    <div class="col-md-6">
                        <input class="form-control" type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Find by Roll/Name/Phone" />
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" id="aStatus" name="aStatus" asp-items="ViewBag.aStatus">
                            <option selected disabled>Select Status</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" id="aCategory" name="aCategory" asp-items="ViewBag.aCategory">
                            <option selected disabled>Select Category</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control col-md-4" name="pageSize">
                            <option disabled>Page Size</option>
                            <option value="@ViewData["pageSize"]">@ViewData["pageSize"]</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="0">All</option>
                        </select>
                        <label class="col-form-label text-light pl-md-1">@totalFound</label>
                    </div>

                </div>
                <div class="col-md-2 text-md-right">
                    <div class="row">
                        <button type="submit" class="btn btn-sm form-control btn-light col-md-6"><i class="fa fa-search"></i> Find</button>
                        <a class="btn btn-sm btn-warning form-control text-success col-md-5" asp-action="Index">Reset List</a>
                    </div>
                </div>
            </div>

        </div>

        <input type="hidden" name="sortOrder" value="@ViewData["rollSortParam"]" />
        <input type="hidden" name="searchString" value="@ViewData["CurrentFilter"]" />
    </form>
</div>
<div class="row p-1">
    <div class="col-md-12">

        <table class="table table-hover table-bordered table-responsive-sm table-striped" id="">
            <thead class="bg-blue text-light">
                <tr>
                    <th>Unique ID</th>
                    <th>
                        <a class="text-light" asp-action="Index" asp-route-pageSize="@ViewData["pageSize"]" asp-route-sortOrder="@ViewData["rollSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"> Class Roll <i class="fa fa-sort"></i></a>
                    </th>
                    <th> Photo</th>
                    <th> Name</th>
                    <th>নাম </th>
                    <th> <a class="text-light" asp-action="Index" asp-route-pageSize="@ViewData["pageSize"]" asp-route-sortOrder="@ViewData["academicClassSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"> Class <i class="fa fa-sort"></i></a> </th>
                    <th> Section </th>
                    <th>  PhoneNo</th>
                    <th>Session </th>
                    <th>Gender </th>
                    <th>Status</th>
                    <th><a asp-action="Create" class="p-2 btn-sm btn-info rounded-pill"><i class="fa fa-plus"></i> Add <i class="fa fa-user-alt"></i> </a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UniqueId</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClassRoll)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Students">
                                @{
                                    var avatar = !string.IsNullOrEmpty(item.Photo) ? "/Images/Student/" + item.Photo : "/Images/noProfileImage.png";
                                }
                                @{
                                    string root = env.WebRootPath;
                                    string folder = "Images/Student/";
                                    if (!string.IsNullOrEmpty(item.Photo))
                                    {
                                        var path = System.IO.Path.Combine(root, folder, item.Photo);

                                        if (!File.Exists(path))
                                        {
                                            avatar = $"/Images/noProfileImage.png";
                                        }
                                    }
                                }

                                <img src=@avatar alt="@item.StudentName" style="max-width:50px; max-height:50px; border-radius:50%;" />

                            </a>
                        </td>

                        <td>
                            @{
                                name = textInfo.ToTitleCase(item.StudentName);
                            }
                            <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Students">
                                @if (item.Status)
                                {
                                    <span>
                                        @name
                                        @if (item.IsResidential)
                                        {
                                            <span class="badge badge-info"><i class="fas fa-home"></i></span>
                                        }
                                    </span>
                                }
                                else
                                {
                                    <span class="text-danger">
                                        @name
                                        @if (item.IsResidential)
                                        {
                                            <span class="badge badge-info"><i class="fas fa-home"></i></span>
                                        }
                                    </span>
                                }
                            </a>
                        </td>
                        <td> @item.NameBangla</td>
                        <td> @Html.DisplayFor(modelItem => item.ClassName)</td>
                        @if (item.SectionName != null)
                        {
                            <td>@item.SectionName</td>
                        }
                        else
                        {
                            <td>N/A</td>
                        }
                        <td>@item.PhoneNo.ToString().PadLeft(11, '0')</td>
                        <td> @Html.DisplayFor(modelItem => item.SessionName)</td>
                        <td>
                            @item.Gender
                        </td>
                        @if (item.Status)
                        {
                            <td> <input type="checkbox" checked disabled /> Active</td>
                        }
                        else
                        {
                            <td><input type="checkbox" disabled /> InActive</td>

                        }
                        <td>
                            <partial name="_Edit_Details_Delete" model="@item.Id" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/AlertifyNotify/AlertifyNofify.js"></script>

    @*<script src="~/js/DataTable/dataTable.js"></script>

        <script src="~/js/DataTable/dataTables.buttons.min.js"></script>
        <script src="~/js/DataTable/jszip.min.js"></script>
        <script src="~/js/DataTable/pdfmake.min.js"></script>
        <script src="~/js/DataTable/vfs_fonts.js"></script>
        <script src="~/js/DataTable/buttons.html5.min.js"></script>*@

<script>

                let saved = '@TempData["saved"]';
                let deleted = '@TempData["deleted"]';
                let edited = '@TempData["edited"]';
                let failed = '@TempData["failed"]'
                if (saved != "") {
                    alertify.success("Saved Successfully");
                    }
                if (deleted != "") {
                    alertify.error("Deleted Successfully");
                    }
                if (edited != "") {
                    alertify.message('Updated Successfully');
                    }
                if (failed != "") {
                    alertify.error(failed);
    }


        $(document).ready(function () {
            $("#myTable_info").detach().insertAfter('#myTable_length');

            //$('#myTable').DataTable({
            //    dom: 'Bfrtip',
            //    buttons: [
            //        'copy', 'csv', 'excel', 'pdf', 'print'
            //    ]
            //});




            $('#aAcademicClassId').change(function () {
                let id = $('#aAcademicClassId option:selected').val();
                let sessionId = $('#aAcademicSessionId option:selected').val();

                $.ajax({
                    url: "/api/academicsections/getbyclasswithsessionId?classId=" + id + "&sessionId=" + sessionId,
                    dataType: "JSON",
                    type: "POST",
                    cache: false,
                    success: function (data) {
                        $('#aAcademicSectionId').empty();

                        if (data != null || data != '') {
                            var o = '<option disabled selected>Select Section Name</option>';
                            var o2 = '<option value="0">No Section</option>';
                            $('#aAcademicSectionId').append(o);
                            $('#aAcademicSectionId').append(o2);
                            $.each(data, function (i, obj) {
                                console.log(obj.name);
                                var op = '<option value="' + obj.id + '">' + obj.name + '</option>';
                                $('#aAcademicSectionId').append(op);
                            });
                        }
                        else {
                            var o = '<option disabled selected>Section Not Found</option>';
                            $('#aAcademicSectionId').append(o);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });
            $('#aAcademicSessionId').change(function () {
                $('#aAcademicSectionId').empty();
                $.ajax({
                    url: "/academicClasses/getAll",
                    dataType: "JSON",
                    type: "POST",
                    cache: false,
                    success: function (data) {
                        $('#aAcademicClassId').empty();
                        var o = '<option disabled selected>Select Class Name</option>';
                        $('#aAcademicClassId').append(o);
                        $.each(data, function (i, obj) {
                            console.log(obj.name);
                            var op = '<option value="' + obj.id + '">' + obj.name + '</option>';
                            $('#aAcademicClassId').append(op);
                        });
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });

        });


</script>

}