@model SMS.Entities.Student
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
@{ 
    ViewData["Title"] = "Profile ("+Model.Name+")";
    GlobalUI.PageTitle = ViewBag.Title;
}
<div class="row">
    <div class="col-md-12 jumbotron">
        <h2> Hellow</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @if (string.IsNullOrEmpty(Model.Photo))
        {
            <img class="rounded-circle" src="~/Images/Student/noimage.jpg" alt="@Model.Name Photo" />
        }
        else
        {
            <img class="rounded-circlerounded-circlerounded-circlerounded-circle" src="~/Images/Student/@Model.Photo" alt="@Model.Name Photo" />
        }
    </div>
    <div class="col-md-6 flex align-items-center">
        <button class="btn btn-info">Add to Story</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12 m-2">
        @if (ViewBag.activeStatus != null)
        {
            <span class="alert alert-warning">@ViewBag.activeStatus</span>
        }
        @if (ViewBag.attendance != null)
        {
            <span class="alert alert-info">@ViewBag.attendance</span>
        }
        @if (ViewBag.absent != null)
        {
            <span class="alert alert-danger">@ViewBag.absent</span>
        }
        @if (ViewBag.lateAttendance != null)
        {
            <span class="alert alert-warning">@ViewBag.lateAttendance</span>
        }
    </div>
</div>
<hr />
<div class="row text-light">
    <div class="col-md-3">
        <div class="card bg-info">
            <div class="card-header">Todays Exam</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-info">
            <div class="card-header">Todays Class</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-info">
            <div class="card-header">Todays Class</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-info">
            <div class="card-header">Todays Exam</div>
        </div>
    </div>
</div>
<div class="card">
    <table>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td>@Model.Name</td>
        </tr>
    </table>
</div>