@model SMS.Entities.Student
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<div class="row">
    <div class="col-md-12 m-2">
        @if (ViewBag.activeStatus != null)
        {
            <span class="alert alert-warning">@ViewBag.activeStatus</span>
        }
        @if (ViewBag.attendance != null)
        {
            <span class="alert alert-info">@ViewBag.attendance</span>
        }
        @if (ViewBag.absent != null)
        {
            <span class="alert alert-danger">@ViewBag.absent</span>
        }
        @if (ViewBag.lateAttendance != null)
        {
            <span class="alert alert-warning">@ViewBag.lateAttendance</span>
        }
    </div>
</div>
<hr />
<div class="row text-light">
    <div class="col-md-3">
        <div class="card bg-info">
            <div class="card-header">Todays Exam</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-info">
            <div class="card-header">Todays Class</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-info">
            <div class="card-header">Todays Class</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-info">
            <div class="card-header">Todays Exam</div>
        </div>
    </div>
</div>
<div class="card">
    <table>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td>@Model.Name</td>
        </tr>
    </table>
</div>