@model IEnumerable<SMS.Entities.AcademicClass>

@{
    ViewData["Title"] = "Academic Class";
    GlobalUI.PageTitle = ViewBag.Title;
    int i = 0;
    string[] classPosition = {"","1st", "2nd", "3rd", "4th", "5th", "6th", "7th", "8th", "9th", "10th", "11th", "12th" };
    string positionText = "";
}


<div class="">
<table class="table table-striped table-hover shadow rounded" id="myTable">
    <thead class="bg-blue-sky">
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassSerial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th><a class="p-2 btn-sm btn-info rounded-pill" asp-action="Create"><i class="fa fa-plus"></i> Add</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(++i).</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.ClassSerial<=12 && item.ClassSerial>0)
                    {
                        positionText = classPosition[item.ClassSerial];
                    }
                    else
                    {
                        positionText = "Not Assign";
                    }
                    @positionText
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <partial name="_Edit_Details_Delete" model="@item.Id" />
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

@section Scripts{
    @if (TempData["create"] != null)
    {
        <script type="text/javascript">
            $(function () {
                alertify.success('@TempData["create"]');
            });
        </script>
    }
    @if (TempData["edit"] != null)
    {
        <script type="text/javascript">
            $(function () {
                alertify.warning('@TempData["edit"]');
            });
        </script>
    }
    @if (TempData["delete"] != null)
    {
        <script type="text/javascript">
            $(function () {
                alertify.error('@TempData["delete"]');
            });
        </script>
    }
<script src="~/js/DataTable/dataTable.js"></script>

}