@model SMS.Entities.AcademicSubject

@{
    ViewData["Title"] = "Create Subject";
    GlobalUI.PageTitle = ViewBag.Title;
}
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="SubjectName" class="control-label col-form-label col-md-2 text-md-right "></label>
                <div class="col-md-10">
                    <input asp-for="SubjectName" class="form-control rounded" />
                    <span asp-validation-for="SubjectName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="SubjectCode" class="control-label  col-form-label col-md-2 text-md-right"></label>
                <div class="col-md-10">
                    <input asp-for="SubjectCode" class="form-control rounded" placeholder="Ex: 103" />
                    <span asp-validation-for="SubjectCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AcademicSubjectTypeId" class="control-label col-form-label col-md-2 text-md-right  "></label>
                <div class="col-md-10 input-group">
                    <select asp-for="AcademicSubjectTypeId" class="form-control rounded" asp-items="ViewBag.AcademicSubjectTypeId">
                        <option selected disabled>Select Subject Type</option>
                    </select>
                    <div>
                        <a class="btn btn-sm btn-outline-info" asp-action="Create" asp-controller="AcademicSubjectTypes"><i class="fa fa-plus"></i> Add</a>
                    </div>
                    <span asp-validation-for="AcademicSubjectTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="SubjectFor" class="control-label  col-form-label col-md-2 text-md-right"></label>
                <div class="col-md-10">
                    <input asp-for="SubjectFor" class="form-control rounded" placeholder="please Input C for College & S for School" />
                    <span asp-validation-for="SubjectFor" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ReligionId" class="control-label  col-form-label col-md-2 text-md-right"></label>
                <div class="col-md-10">
                    <select asp-for="ReligionId" class="form-control rounded" asp-items="ViewBag.ReligionList">
                        <option selected disabled>Select Religion</option>
                        <option value="">All Religion</option>
                    </select>
                    <span asp-validation-for="ReligionId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="TotalMarks" class="control-label col-form-label col-md-2 text-md-right"></label>
                <div class="col-md-10">
                    <input asp-for="TotalMarks" class="form-control" />
                    <span asp-validation-for="TotalMarks" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-2 col-md-10">
                    <label class="">
                        <input class="" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-2 col-md-10">
                    <partial name="_Create_Back" />

                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    let deleted = '@TempData["deleted"]';
    let created = '@TempData["created"]';
    let updated = '@TempData["updated"]';
    let failed = '@TempData["error"]';
</script>
<script src="~/js/AlertifyNotify/AlertifyNofify.js"></script>
}
