@model IEnumerable<SMS.Entities.AcademicSubject>

@{
    ViewData["Title"] = "Academic Subjects";
    GlobalUI.PageTitle = ViewBag.Title;
    int sl = 0;
}


<table class="table" id="myTable">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicSubjectTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectFor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                <partial name="_Create" />
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(++sl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicSubjectType.SubjectTypeName)
            </td>
            <td>
                @if (item.SubjectFor == 'S' || item.SubjectFor == 's')
                {
                    <span>School</span>
                }
                else
                {
                    <span>College</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <partial name="_Edit_Details_Delete" model="@item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{ 
        <script src="~/js/DataTable/dataTable.js"></script>
}