@model IEnumerable<SMS.Entities.StudentFeeHead>
@inject UserManager<ApplicationUser> _userManager;

@{
    ViewData["Title"] = "Fee Head";
    GlobalUI.PageTitle = "Student Payment Type List";
    string createdBy = string.Empty;
    string updatedBy = string.Empty;
}


<table class="table table-responsive-sm" id="myTable">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Residential
            </th>
            <th>
                Created by
            </th>
            <th>
                Updated by
            </th>
            <th>
                <a class="rounded btn btn-info btn-sm" asp-action="Create"> <i class="fa fa-plus"></i> Add New</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(s => s.SL))
        {
            <tr>
                <td>@item.SL</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.IsResidential)
                    {
                        <span>Residential</span>
                    }
                    else
                    {
                        <span>Non Residential</span>
                    }
                </td>
                <td>
                    @if (item.CreatedBy != null)
                    {
                        ApplicationUser aUser = await _userManager.FindByIdAsync(item.CreatedBy);
                        createdBy = aUser.UserName;
                    }
                    else
                    {
                        createdBy = "N/F";
                    }
                    <span>@createdBy</span>
                </td>
                <td>
                    @if (item.EditedBy != null)
                    {
                        ApplicationUser aUser = await _userManager.FindByIdAsync(item.EditedBy);
                        updatedBy = aUser.UserName;
                    }
                    else
                    {
                        updatedBy = "N/F";
                    }
                    <span>@updatedBy</span>
                </td>
                <td>
                    <partial name="_Edit_Details_Delete" model="@item.Id" />
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{

    @if (TempData["create"] != null)
    {
        <script src="~/js/AlertifyNotify/successNotify.js"></script>
    }

    @if (TempData["edit"] != null)
    {

        <script src="~/js/AlertifyNotify/warningNotify.js"></script>
    }

    @if (TempData["delete"] != null)
    {

        <script src="~/js/AlertifyNotify/errorNotify.js"></script>
    }
}