@model IEnumerable<SMS.Entities.StudentFeeHead>

@{
    ViewData["Title"] = "Fee Head";
    GlobalUI.PageTitle = "Student Payment Type List";
    int sl = 0;
}


<table class="table table-responsive-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repeatedly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearlyFrequency)
            </th>
            <th>
                Contra Type
            </th>
            <th>
                <a class="rounded btn btn-info btn-sm" asp-action="Create"> <i class="fa fa-plus"></i> Add New</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(++sl).</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Repeatedly)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearlyFrequency)
                </td>
                <td title="Vise versa payment type">
                    @if (item.ContraFeeheadId>0)
                    {
                        <span>@item.ContraFeeheadId</span>
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                </td>
                <td>
                    <partial name="_Edit_Details_Delete" model="@item.Id" />
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{

    @if (TempData["create"] != null)
    {
        <script src="~/js/AlertifyNotify/successNotify.js"></script>
    }

    @if (TempData["edit"] != null)
    {

        <script src="~/js/AlertifyNotify/warningNotify.js"></script>
    }

    @if (TempData["delete"] != null)
    {

        <script src="~/js/AlertifyNotify/errorNotify.js"></script>
    }
}