@model SMS.App.ViewModels.SMSVM.SMSCreateVM

@inject IDesignationManager _designationManager;
@inject IAcademicSessionManager _academicSessionManager;
@inject IAcademicClassManager _academicClassManager;
@inject IEmployeeManager _employeeManager;
@inject IStudentManager _studentManager;

@{
    ViewData["Title"] = "SMS";
    GlobalUI.PageTitle = "SMS Panel";
}
@{
    var designationList = await _designationManager.GetAllAsync();
    var sessionList = await _academicSessionManager.GetAllAsync();
    var academicClassList = await _academicClassManager.GetAllAsync();
    var employeeList = await _employeeManager.GetAllAsync();
    var studentList = await _studentManager.GetAllAsync();
}
<div class="row">
    <div class="col-md-12">
        <div class="">
            <form asp-action="Create" asp-controller="PhoneSMS" method="post">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="jumbotron">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <span class="alert text-info h4">Custom SMS</span>
                            <hr />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="text-md-right col-form-label col-md-4">SMS For</label>
                            <div class="col-md-8">
                                <select asp-for="SMSFor" class="form-control">
                                    <option selected disabled>Select Type</option>
                                    <option value="individual">Individual/Single</option>
                                    <option value="multiple">Multiple/Group</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group row" id="recipient_Type_Area" style="display:none">
                            <label class="text-md-right col-form-label col-md-4">Recipient Type</label>
                            <div class="col-md-8">
                                <select asp-for="SMSType" class="form-control">
                                    <option selected disabled>Select Recipient</option>
                                    <option value="e">Employee</option>
                                    <option value="s">Student</option>
                                    <option value="g">Guardian</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group row" id="designation_Area" style="display:none">
                            <label class="text-md-right col-form-label col-md-4">Designation</label>
                            <div class="col-md-8">
                                <select asp-for="DesignationId" class="form-control">
                                    <option selected disabled>Select Designation</option>
                                    @foreach (Designation desig in designationList)
                                    {
                                        <option value="@desig.Id">@desig.DesignationName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>                        
                        <div class="form-group row" id="session_Area" style="display:none">
                            <label class="text-md-right col-form-label col-md-4">Session</label>
                            <div class="col-md-8">
                                <select asp-for="AcademicSessionId" class="form-control">
                                    <option selected disabled>Select Session</option>
                                    @foreach (AcademicSession aSession in sessionList)
                                    {
                                        <option value="@aSession.Id">@aSession.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group row" id="class_Area" style="display:none">
                            <label class="text-md-right col-form-label col-md-4">Class</label>
                            <div class="col-md-8">
                                <select asp-for="AcademicClassId" class="form-control">
                                    <option selected disabled>Select Class</option>
                                    @foreach (AcademicClass aClass in academicClassList)
                                    {
                                        <option value="@aClass.Id">@aClass.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group row" id="employee_Area" style="display:none">
                            <label class="text-md-right col-form-label col-md-4">Employeee</label>
                            <div class="col-md-8">
                                <select asp-for="EmployeeId" class="form-control">
                                    <option selected disabled>Select Employee</option>
                                    @foreach (Employee emp in employeeList)
                                    {
                                        <option value="@emp.Id" data-mobile="@emp.Phone">@emp.EmployeeName (@emp.Designation.DesignationName)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group row" id="student_Area" style="display:none">
                            <label class="text-md-right col-form-label col-md-4">Student</label>
                            <div class="col-md-8">
                                <select asp-for="StudentId" class="form-control">
                                    <option selected disabled>Select Student</option>
                                    @foreach (Student stu in studentList)
                                    {
                                        <option value="@stu.Id" data-mobile="@stu.PhoneNo">@stu.Name -@stu.AcademicClass.Name (@stu.ClassRoll)</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="jumbotron">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <span class="btn-sm disabled alert-warning">Total Phone Number - <span id="phoneNumberCount">0</span></span>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-3 text-md-right col-form-label">Phone Number</label>
                                    <div class="col-md-9">
                                        <input asp-for="PhoneNo" class="form-control"  />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 text-md-right col-form-label">SMS Text</label>
                                    <div class="col-md-9">
                                        <textarea asp-for="SMSText" class="form-control" rows="3"></textarea>
                                    </div>
                                    <div class="offset-md-3 col-md-9">
                                        <div class="row">

                                            <div class="col-md-6 text-md-left">
                                                <span class="font-italic">Total Charecter: <span id="charecterCount"></span></span>
                                            </div>
                                            <div class="col-md-6 text-md-right">
                                                <span class="font-italic">SMS Count: <span id="smsCount"></span></span>
                                            </div>
                                        </div>
                                        <span id="alertNote" class="alert alert-warning" style="display:none">*[1(one) sms will consider 160 charecter]</span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12 text-md-right">
                                        <input id="sendSMSBtn" type="submit"  value="Send SMS" class="btn-sm btn-info" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{ 
<script>
    $(document).ready(function () {

        $('#SMSFor').change(function(){
            $('#recipient_Type_Area').css('display','block');
            RefreshSMSTypeSelectList();
            
            $('#PhoneNo').val("");

            $('#session_Area').css('display','none');
            $('#employee_Area').css('display','none');
            $('#student_Area').css('display','none');
            $('#class_Area').css('display','none');
            $('#designation_Area').css('display','none');
        });

        $('#SMSType').change(function(){
            let smsFor = $('#SMSFor option:selected').val();
            let SMS_Type = $('#SMSType option:selected').val();
            GetPhoneNumber(SMS_Type);

            if(smsFor=='individual')
            {
                $('#class_Area').css('display','none');
                $('#designation_Area').css('display','none');

                if (SMS_Type=='e')
                {
                    $('#student_Area').css('display','none');
                    $('#employee_Area').css('display','block');
                }
                else if(SMS_Type=='s')
                {
                    $('#employee_Area').css('display','none');
                    $('#student_Area').css('display','block');
                }
            }
            else if(smsFor=='multiple')
            {
                $('#student_Area').css('display','none');
                $('#employee_Area').css('display','none');
                $('#session_Area').css('display','none');

                if (SMS_Type == 'e') {
                    $('#class_Area').css('display', 'none');
                    $('#session_Area').css('display', 'none');
                    $('#designation_Area').css('display', 'block');

                    $('#DesignationId').change(function () {
                        let desigId = $('#DesignationId option:selected').val();
                        GetPhoneNumber(SMS_Type, desigId);
                    });


                }
                else if (SMS_Type == 's') {
                    GetPhoneNumber(SMS_Type);

                    $('#designation_Area').css('display', 'none');
                    $('#session_Area').css('display', 'block');
                    $('#AcademicSessionId').change(function () {
                        let aSId = $('#AcademicSessionId option:selected').val();
                        $('#class_Area').css('display', 'block');

                        GetPhoneNumber(SMS_Type, " ", aSId, " ");

                        $('#AcademicClassId').change(function () {
                            let aCId = $('#AcademicClassId option:selected').val();
                            if (aCId > 0) {
                                GetPhoneNumber(SMS_Type, " ", aSId, aCId);
                            }
                        });
                    });
                }
                else if (SMS_Type == 'g') {
                    GetPhoneNumber(SMS_Type);
                    $('#designation_Area').css('display', 'none');
                    $('#session_Area').css('display', 'block');
                    $('#AcademicSessionId').change(function () {
                        let aSId = $('#AcademicSessionId option:selected').val();
                        $('#class_Area').css('display', 'block');

                        GetPhoneNumber(SMS_Type, " ", aSId, " ");

                        $('#AcademicClassId').change(function () {
                            let aCId = $('#AcademicClassId option:selected').val();
                            if (aCId > 0) {
                                GetPhoneNumber(SMS_Type, " ", aSId, aCId);
                            }
                        });
                    });
                }
            }
        });

        $('#EmployeeId').change(function(){
            let mobile = $('#EmployeeId option:selected').attr('data-mobile');
            $('#PhoneNo').val("");
            $('#PhoneNo').val(mobile);
            $('#phoneNumberCount').html(1);
        });
        $('#StudentId').change(function(){
            let mobile = $('#StudentId option:selected').attr('data-mobile');
            $('#PhoneNo').val("");
            $('#PhoneNo').val(mobile);
            $('#phoneNumberCount').html(1);
        });

        $('#SMSText').on('click keydown keyup keypress', function(){
            let totalCharecter = $(this).val().length;
            $('#charecterCount').html(totalCharecter);
            let smsCount = Math.ceil(totalCharecter / 160);
            $('#smsCount').html(smsCount);

            if (totalCharecter > 0) {
                $('#sendSMSBtn').attr('disabled', false);
            }
            else {
                $('#sendSMSBtn').attr('disabled', true);
            }

            if(totalCharecter > 160)
            {
                $('#charecterCount').css('color','red');
                $('#alertNote').css('display','block');
            }
            else
            {
                $('#charecterCount').css('color','black');
                $('#alertNote').css('display','none');
            }
        });
    });

    function RefreshSMSTypeSelectList()
    {
        $('#SMSType').empty();
        let op = '<option selected disabled>Select Recipient</option><option value="e">Employee</option><option value="s">Student</option><option value="g">Guardian</option>';
        $('#SMSType').append(op);
    }

    function GetPhoneNumber(smsType, designationId, sessionId, classId)
    {

        $.ajax({
            url:'/PhoneSMS/GetPhoneNumbers',
            dataType:'JSON',
            data:{smsType:smsType,designationId:designationId, sessionId:sessionId, classId:classId},
            success:function(data){
                let phoneCount = 0;
                let phone="";
                $.each(data, function(i, obj){
                    if(i==0)
                    {
                        phone=obj+",";
                    }
                    else{
                        phone=phone+obj+",";
                    }
                    phoneCount++;
                });
                $('#PhoneNo').val(phone);
            $('#phoneNumberCount').html(phoneCount);
            },
            error: function (er) {
                console.log(er);
            }
        });
    }
</script>
}