@model IEnumerable<SMS.Entities.PhoneSMS>

@{
    int sl = 0;
}


@if (Model != null || Model.Any() || Model.Count() > 0)
{

    <table class="table table-responsive-sm table-striped table-hover" id="myTable">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MobileNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    Created Time
                </th>
                <th>
                    <partial name="_Create" />
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(++sl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.CreatedAt)*@
                        @item.CreatedAt.ToString("dd MMM yyyy hh:mm tt")
                    </td>
                    <td>
                        <partial name="_Edit_Details_Delete" model="@item.Id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts{
    <script src="~/js/DataTable/dataTable.js"></script>
    <script>
        $(document).ready(function () {
            let sent = '@TempData["smsSent"]';
            let notSent = '@TempData["smsNotSent"]';


            if (sent != "") {
                    alertify.success(sent);
                }
            if (notSent != "") {
                alertify.error(notSent);
                }
        });

    </script>
}