@model SMS.App.ViewModels.Students.StudentFeeAllocationVM

@{
    GlobalUI.PageTitle = "Student Fee Allocation";
    int sl = 0;
}

@section Styles{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-8">
        @if (Model.StudentFeeAllocations != null && Model.StudentFeeAllocations.Count() > 0)
        {
            <table class="table table-striped table-bordered rounded">
                <thead class="bg-navy-blue text-light">
                    <tr>
                        <td>#</td>
                        <td>Class Roll</td>
                        <td>Student</td>
                        <td>Fee Type</td>
                        <td class="text-right">Amount</td>
                        <td class="text-center">Documents</td>
                        <td class="text-center">Status</td>
                        <td class="text-center">Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.StudentFeeAllocations)
                    {
                        <tr>
                            <td>@(++sl)</td>
                            <td>@item.Student.ClassRoll</td>
                            <td>@item.Student.Name</td>
                            <td>@item.StudentFeeHead.Name</td>
                            <td class="text-right">@item.AllocatedAmount</td>
                            <td class="text-center">
                                @if (string.IsNullOrEmpty(item.FeeAllocationApplication))
                                {
                                    <span>None</span>
                                }
                                else
                                {
                                    <span class="fas fa-file-pdf text-danger fa-2x " role="button"></span>
                                }
                            </td>
                            <td>
                                @if (item.IsActive)
                                {
                                    <span class="fas fa-check text-info fa-2x"></span>
                                }
                                else
                                {
                                    <span class="">Inactive</span>
                                }
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-warning updateBtn" data-id="@item.Id" data-studentId="@item.StudentId" data-classId="@item.Student.AcademicClassId" data-amount="@item.AllocatedAmount" data-feeType="@item.StudentFeeHeadId" data-isActive="@item.IsActive" data-refDoc="@item.FeeAllocationApplication"><i class="fas fa-edit"></i> </button>
                                    <button id="deleteBtnId" type="submit" class="btn btn-danger" data-item="@item" data-id="@item.Id" data-studentId="@item.StudentId" data-classId="@item.Student.AcademicClassId" data-amount="@item.AllocatedAmount" data-feeType="@item.StudentFeeHeadId" data-isActive="@item.IsActive" data-refDoc="@item.FeeAllocationApplication" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        }
        else
        {
            <div class="jumbotron text-center mb-0">
                <h2>Data not found! <span class="fas fa-sad-tear text-warning"></span></h2><br />
            </div>
        }
    </div>
    <div class="col-md-4 p-2 rounded" style="background-color:antiquewhite" id="studentFeeAllocationCreatePortion">
        <fieldset class="border-primary p-2 border" id="createFieldSetId">
            <legend class="w-auto text-primary pb-0" id="create_update_title_id">Create New Allocation</legend>
            <form asp-action="Create" method="post" id="createUpdateForm">
                <input type="hidden" asp-for="SFAllocation.Id" />
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Academic Class</label>
                    <div class="col-md-8">
                        <select class="form-control" asp-items="Model.AcademicClassList" id="academicClassListId">
                            <option selected disabled>-Select Class-</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Student</label>
                    <div class="col-md-8">
                        <select class="form-control" asp-for="SFAllocation.StudentId">
                            <option selected disabled>-Select student-</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Fee Name</label>
                    <div class="col-md-8">
                        <select class="form-control" asp-for="SFAllocation.StudentFeeHeadId" asp-items="Model.FeeList">
                            <option selected disabled>-Select type-</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Allocate Amount</label>
                    <div class="col-md-8">
                        <input class="form-control" asp-for="SFAllocation.AllocatedAmount" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Reference Docs</label>
                    <div class="col-md-8">
                        <input class="" type="file" asp-for="SFAllocation.FeeAllocationApplication" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Is Active</label>
                    <div class="col-md-1 text-left">
                        <input class="form-control" asp-for="SFAllocation.IsActive" />
                    </div>
                    <div class="offset-md-5 col-md-2">
                        <input id="submitId" type="submit" value="Submit" class="btn btn-info btn-sm" />
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel">Do you want to delete this item?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table card">
                    
                    <tr>
                        <td>Student</td>
                        <td>:</td>
                        <td width="60%">This is Name</td>
                    </tr>
                    <tr>
                        <td>Class Roll :</td>
                        <td>:</td>
                        <td>230564</td>
                    </tr>
                    <tr>
                        <td>Payment Type</td>
                        <td>:</td>
                        <td>Type Name</td>
                    </tr>
                    <tr>
                        <td>Amount :</td>
                        <td>:</td>
                        <td>520</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form asp-action="delete" method="post">
                    <input type="hidden" name="StudentFeeAllocationId" id="StudentFeeAllocationId"/>
                    <button type="submit" class="btn btn-danger">Delete Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/AlertifyNotify/AlertifyNofify.js"></script>

    <script>
        let deleted = '@TempData["deleted"]';
        let created = '@TempData["created"]';
        let updated = '@TempData["updated"]';
        let failed = '@TempData["error"]';


        $('#academicClassListId').change(function () {
            let classId = $('#academicClassListId option:selected').val();
            $.ajax({
                url: '/api/Students/getbyclasswithsessionId',
                data: { academicSessionId: null, academicClassId: classId },
                cache: false,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    $('#SFAllocation_StudentId').empty();
                    $.each(data, function (i, obj) {
                        var op = '<option value="' + obj.id + '">' + obj.classRoll + '-' + obj.name + '</option>';
                        $('#SFAllocation_StudentId').append(op);
                    });

                },
                error: function (err) {
                    console.log(err);
                }
            });
        });

        $(document).ready(function () {
            // Add a click event listener to the button
            $(".updateBtn").click(function () {
                let form = document.getElementById('createUpdateForm');
                form.action = "/StudentFeeAllocations/Edit";
                document.getElementById('studentFeeAllocationCreatePortion').style.backgroundColor = '#2A3F54'; /*'#f7cc93';*/

                var fieldSet = document.getElementById('createFieldSetId');
                fieldSet.classList.remove('border-primary');


                var legendData = document.getElementById('create_update_title_id');
                legendData.innerText = "Update Student Allocation";
                legendData.classList.remove('text-primary');

                document.getElementById('create_update_title_id').style.color = "#fff";
                document.getElementById('studentFeeAllocationCreatePortion').style.color='#fff';
                document.getElementById('submitId').value = 'Update';

                let rDoc = document.getElementById('SFAllocation_FeeAllocationApplication');

                var studentId = $(this).data("studentid");
                var classId = $(this).data("classid");
                var feeType = $(this).data("feetype");
                var amount = $(this).data("amount");
                var refDoc = $(this).data("refdoc");
                var isActive = $(this).data("isactive");
                var id = $(this).data("id");

                $("#academicClassListId").val(classId).trigger('change');
                $("#SFAllocation_StudentId").val(studentId).trigger('change');
                $("#SFAllocation_StudentFeeHeadId").val(feeType).trigger('change');
                $('#SFAllocation_AllocatedAmount').val(amount);
                $('#SFAllocation_Id').val(id);
                //$('#SFAllocation_FeeAllocationApplication').val('C:\\fakepath\\'+refDoc);
                if (isActive == "True") {
                    $('#SFAllocation_IsActive').prop('checked', true);
                }
                else {
                    $('#SFAllocation_IsActive').prop('checked', false);
                }
            });
            $('#deleteBtnId').click(function () {
                var studentId = $(this).data("studentid");
                var classId = $(this).data("classid");
                var feeType = $(this).data("feetype");
                var amount = $(this).data("amount");
                var refDoc = $(this).data("refdoc");
                var isActive = $(this).data("isactive");
                var id = $(this).data("id");
                var item = $(this).data('item');
                $('#StudentFeeAllocationId').val(id);
            });
        });
    </script>
}