@model IEnumerable<SMS.Entities.OffDayType>

@{
    ViewData["Title"] = "Off Day Type";
    GlobalUI.PageTitle = ViewData["Title"].ToString();
    int sl = 0;
}

<div class="row">
    <div class="offset-1 col-md-10">
        <table class="table table-sm table-bordered table-striped">
            <thead class="bg-blue-sky">
                <tr>
                    <td>#</td>
                    <td>Day off type</td>
                    <td>Remarks</td>
                    <td>
                        <button type="button" class="btn-sm btn btn-primary" data-toggle="tooltips">
                            <a asp-action="Create" class="text-light">add New</a>
                        </button>
                    </td>
                </tr>
            </thead>
            <tbody>
                @if (Model != null || Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(++sl).</td>
                            <td>@item.OffDayTypeName</td>
                            <td>@item.Remarks</td>
                            <td>
                                <partial name="_Edit_Details_Delete" model="@item.Id" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/AlertifyNotify/AlertifyNofify.js"></script>
    <script>
    $(function () {
            let saved = '@TempData["created"]';
            let deleted = '@TempData["deleted"]';
            let edited = '@TempData["updated"]';
            let failed = '@TempData["failed"]'
            if (saved != "") {
                alertify.success("Saved Successfully");
                }
            if (deleted != "") {
                alertify.error("Deleted Successfully");
                }
            if (edited != "") {
                alertify.message('Updated Successfully');
                }
            if (failed != "") {
                alertify.error(failed);
                }
            });
    </script>
}