@model SMS.Entities.AcademicSection

@{
    ViewData["Title"] = "Details";
    GlobalUI.PageTitle = "Section Details";
}

<div>
    <dl class="row">
        <div class="offset-md-1 col-md-11">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AcademicClass)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AcademicClass.Name)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CreatedBy) User
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.EditedBy) 
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EditedBy)User
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.EditedAt)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EditedAt)
            </dd>
            
        </div>
        <div class="col-md-9 text-center">
            <partial name="_Edit_Back" model="@Model.Id" />
        </div>
    </dl>
</div>

