@model SMS.Entities.AcademicExamGroup

@{
    GlobalUI.PageTitle = "Edit Exam Group";
}
@using System.Globalization

<div class="row">
    <div class="col-md-6">
        <div id="AcademicExamGroupEditPartId">
            <fieldset class="border-primary p-2 border">
                <legend class="w-auto text-primary">Edit Group</legend>
                <form asp-action="Edit" method="post">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group row">
                        <label asp-for="ExamGroupName" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                            <input class="form-control" asp-for="ExamGroupName" readonly />
                            <span asp-validation-for="ExamGroupName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="academicExamTypeId" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                            <select class="form-control" asp-for="academicExamTypeId" asp-items="ViewBag.AcademicExamTypeList" onchange="createExamName()">
                                <option selected disabled>-Select Exam Type</option>
                            </select>
                            <span asp-validation-for="academicExamTypeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="AcademicSessionId" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                            <select class="form-control" asp-for="AcademicSessionId" asp-items="ViewBag.AcademicSessionList" onchange="createExamName()">
                                <option selected disabled>-Select Session-</option>
                            </select>
                            <span asp-validation-for="AcademicSessionId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ExamMonthId" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                            <select class="form-control" asp-for="ExamMonthId" onchange="createExamName()">
                                <option selected disabled>-Select Exam Month-</option>
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <option value="@i">@DateTimeFormatInfo.CurrentInfo.GetMonthName(i)</option>
                                }
                            </select>
                            <span asp-validation-for="ExamMonthId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row text-right">
                        <div class="col-md-12 text-right">
                            <partial name="_Update_back" model="@Model.Id" />
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/AlertifyNotify/AlertifyNofify.js"></script>
    <script>
        let deleted = '@TempData["deleted"]';
        let created = '@TempData["created"]';
        let updated = '@TempData["updated"]';
        let failed = '@TempData["error"]';

        function createExamName() {
            let academicExamType = $("#academicExamTypeId option:selected").text();
            let sessionName = $("#AcademicSessionId option:selected").text();
            let monthName = $("#ExamMonthId option:selected").text();
            let examName = academicExamType + " (" + monthName + ") " + sessionName.substr(-4);
            $('#ExamGroupName').val(examName);
        }
    </script>
}