@model SMS.App.ViewModels.SetupVM.AttendanceSetupVM

@inject UserManager<ApplicationUser> _userManager;

@{
    ViewData["Title"] = "SMS Setup";
    GlobalUI.PageTitle = ViewBag.Title;

    string lastEditedUser = string.Empty;
}
@section Styles{
    <link href="~/css/switch.css" rel="stylesheet" />
}

<form asp-action="smscontrol" method="post">
    <div class="row mb-1">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-primary font-weight-bolder h4">
                    SMS Service
                    <label class="switch">
                        <input asp-for="SMSService" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-primary font-weight-bolder h4">
                    Attendance SMS Service
                    <label class="switch">
                        <input asp-for="AttendanceSMSService" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="card-body p-0">
                    <input type="hidden" asp-for="Id" />
                    <table class="table table-sm table-bordered text-center mb-0">
                        <tr>
                            <td rowspan="3" class="align-middle font-weight-bold h5">
                                Checkin SMS <br />
                                <label class="switch">
                                    <input asp-for="CheckInSMSService" title="CheckIn SMS Switch" />
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td class="font-weight-bold">
                                Employee <br />
                                <label class="col-form-label">

                                    <label class="switch">
                                        <input asp-for="CheckInSMSServiceForEmployees" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>

                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Students (Boys) <br />
                                <label class="col-form-label">

                                    <label class="switch">
                                        <input asp-for="CheckInSMSServiceForMaleStudent" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>

                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Students (Girls) <br />
                                <label class="col-form-label">
                                    <label class="switch">
                                        <input asp-for="CheckInSMSServiceForGirlsStudent" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </label>
                            </td>
                        </tr>

                        <tr>
                            <td rowspan="3" class="align-middle h5 font-weight-bold">
                                Checkout SMS<br />
                                <label class="switch">
                                    <input asp-for="CheckOutSMSService" />
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td class="font-weight-bold">
                                Employee <br />
                                <label class="col-form-label">
                                    <label class="switch">
                                        <input asp-for="CheckOutSMSServiceForEmployees" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Students (Boys) <br />
                                <label class="col-form-label">
                                    <label class="switch">
                                        <input asp-for="CheckOutSMSServiceForMaleStudent" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Students (Girls) <br />
                                <label class="col-form-label">
                                    <label class="switch">
                                        <input asp-for="CheckOutSMSServiceForGirlsStudent" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </label>
                            </td>
                        </tr>

                        <tr>
                            <td rowspan="2" class="align-middle h5 font-weight-bold">
                                Absent Notification<br />
                                <label class="switch">
                                    <input asp-for="AbsentNotification" />
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td class="font-weight-bold">
                                Absent Student Notification <br />
                                <label class="col-form-label">
                                    <label class="switch">
                                        <input asp-for="AbsentNotificationStudent" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Absent Employee Notification <br />
                                <label class="col-form-label">
                                    <label class="switch">
                                        <input asp-for="AbsentNotificationEmployee" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </label>
                            </td>
                        </tr>

                        <tr>
                            <td rowspan="1" class="align-middle h5 font-weight-bold">
                                Others Attendance SMS Service<br />
                            </td>
                            <td class="font-weight-bold">
                                Summary SMS Service <br />
                                <label class="col-form-label">
                                    <label class="switch">
                                        <input asp-for="CheckInSMSSummary" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-primary font-weight-bolder h4">Other SMS Service</div>
                <div class="card-body p-0">
                    <table class="table table-sm table-bordered text-center mb-0">
                        <tr>
                            <td rowspan="2" class="align-middle h5 font-weight-bold">
                                Payment Related SMS<br />
                            </td>
                            <td class="font-weight-bold">
                                Payment SMS Service <br />
                                <label class="col-form-label">
                                    <label class="switch">
                                        <input asp-for="PaymentSMSService" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Daily Collection SMS<br />
                                <label class="col-form-label">
                                    <label class="switch">
                                        <input asp-for="DailyCollectionSMSService" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-center">
                    <input type="submit" value="Submit" class="btn btn-sm btn-primary rounded-1" />
                    <input type="button" class="btn-danger btn btn-sm rounded-1" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</form>
<dl class="row p-2">
    <dt class="col-md-2">Last Modified by:</dt>
    @{
        ApplicationUser aUser = await _userManager.FindByIdAsync(Model.EditedBy);
        if (aUser != null)
        {
            lastEditedUser = aUser.UserName;
        }
    }
    <dd class="col-md-9">@lastEditedUser</dd>
    <dt class="col-md-2">Last Modified date:</dt>
    <dd class="col-md-9 text-md-left">@Model.EditedAt.ToString("dd MMM yyyy hh:mm:ss tt")</dd>
</dl>

@section Scripts{

    <script>


        $(document).ready(function () {
            $(function () {
                let saved = '@TempData["saved"]';
                let deleted = '@TempData["deleted"]';
                let edited = '@TempData["edited"]';
                let failed = '@TempData["failed"]'
                if (saved != "") {
                    alertify.success(saved);
                    }
                if (deleted != "") {
                    alertify.error(deleted);
                    }
                if (edited != "") {
                    alertify.message(edited);
                    }
                if (failed != "") {
                    alertify.error(failed);
                    }
            });

            $('#CheckInSMSServiceForEmployees').change(function () {
            if ($(this).prop('checked')) {
                $('#CheckInSMSService').prop('checked', true);
                $('#AttendanceSMSService').prop('checked', true);
                $('#SMSService').prop('checked', true);
            }
        });

            $('#CheckInSMSServiceForMaleStudent').change(function () {
            if ($(this).prop('checked')) {
                $('#CheckInSMSService').prop('checked', true);
                $('#AttendanceSMSService').prop('checked', true);
                $('#SMSService').prop('checked', true);
            }
        });

            $('#CheckInSMSServiceForGirlsStudent').change(function () {
            if ($(this).prop('checked')) {
                $('#CheckInSMSService').prop('checked', true);
                $('#AttendanceSMSService').prop('checked', true);
                $('#SMSService').prop('checked', true);
            }
        });

            $('#CheckInSMSService').change(function () {
            if (!$(this).prop('checked')) {
                $('#CheckInSMSServiceForEmployees').prop('checked', false);
                $('#CheckInSMSServiceForMaleStudent').prop('checked', false);
                $('#CheckInSMSServiceForGirlsStudent').prop('checked', false);
            }
            else {
                $('#AttendanceSMSService').prop('checked', true);
                $('#SMSService').prop('checked', true);
            }
        });

            $('#CheckOutSMSServiceForEmployees').change(function () {
            if ($(this).prop('checked')) {
                $('#CheckOutSMSService').prop('checked', true);
                $('#AttendanceSMSService').prop('checked', true);
                $('#SMSService').prop('checked', true);
            }
        });

            $('#CheckOutSMSServiceForMaleStudent').change(function () {
            if ($(this).prop('checked')) {
                $('#CheckOutSMSService').prop('checked', true);
                $('#AttendanceSMSService').prop('checked', true);
                $('#SMSService').prop('checked', true);
            }
        });

            $('#CheckOutSMSServiceForGirlsStudent').change(function () {
            if ($(this).prop('checked')) {
                $('#CheckOutSMSService').prop('checked', true);
                $('#AttendanceSMSService').prop('checked', true);
                $('#SMSService').prop('checked', true);
            }
        });

            $('#CheckOutSMSService').change(function () {
            if (!$(this).prop('checked')) {
                $('#CheckOutSMSServiceForEmployees').prop('checked', false);
                $('#CheckOutSMSServiceForMaleStudent').prop('checked', false);
                $('#CheckOutSMSServiceForGirlsStudent').prop('checked', false);
            }
            else {
                $('#AttendanceSMSService').prop('checked', true);
                $('#SMSService').prop('checked', true);
            }
        });

        $('#CheckInSMSSummary').change(function () {
            if (!$(this).prop('checked')) {
            }
            else {
                $('#AttendanceSMSService').prop('checked', true);
                $('#SMSService').prop('checked', true);
            }
        });

        $('#AbsentNotification').change(function () {
            if (!$(this).prop('checked')) {
                $('#AbsentNotificationEmployee').prop('checked', false);
                $('#AbsentNotificationStudent').prop('checked', false);
            }
            else {
                $('#AttendanceSMSService').prop('checked', true);
                $('#SMSService').prop('checked', true);
            }
        });

        $('#AbsentNotificationEmployee').change(function () {
            if (!$(this).prop('checked')) {
            }
            else {
                $('#AttendanceSMSService').prop('checked', true);
                $('#AbsentNotification').prop('checked', true);
                $('#SMSService').prop('checked', true);
            }
        });

        $('#AbsentNotificationStudent').change(function () {
            if (!$(this).prop('checked')) {
            }
            else {
                $('#AttendanceSMSService').prop('checked', true);
                $('#AbsentNotification').prop('checked', true);
                $('#SMSService').prop('checked', true);
            }
        });

            $('#PaymentSMSService').change(function () {
            if (!$(this).prop('checked')) {
            }
            else {
                $('#SMSService').prop('checked', true);
            }
        });

            $('#DailyCollectionSMSService').change(function () {
            if (!$(this).prop('checked')) {
            }
            else {
                $('#SMSService').prop('checked', true);
            }
        });


        $('#AttendanceSMSService').change(function () {
            if (!$(this).prop('checked')) {

                $('#CheckInSMSService').prop('checked', false);
                $('#CheckOutSMSService').prop('checked', false);

                $('#CheckInSMSServiceForEmployees').prop('checked', false);
                $('#CheckInSMSServiceForMaleStudent').prop('checked', false);
                $('#CheckInSMSServiceForGirlsStudent').prop('checked', false);

                $('#CheckOutSMSServiceForEmployees').prop('checked', false);
                $('#CheckOutSMSServiceForMaleStudent').prop('checked', false);
                $('#CheckOutSMSServiceForGirlsStudent').prop('checked', false);

                $('#CheckInSMSSummary').prop('checked', false);

                $('#AbsentNotification').prop('checked', false);
                $('#AbsentNotificationStudent').prop('checked', false);
                $('#AbsentNotificationEmployee').prop('checked', false);
            }
            else {
                $('#SMSService').prop('checked', true);

            }
        });
        


            $('#SMSService').change(function () {
            if (!$(this).prop('checked')) {

                $('#AttendanceSMSService').prop('checked', false);

                $('#CheckInSMSService').prop('checked', false);
                $('#CheckOutSMSService').prop('checked', false);

                $('#CheckInSMSServiceForEmployees').prop('checked', false);
                $('#CheckInSMSServiceForMaleStudent').prop('checked', false);
                $('#CheckInSMSServiceForGirlsStudent').prop('checked', false);

                $('#CheckOutSMSServiceForEmployees').prop('checked', false);
                $('#CheckOutSMSServiceForMaleStudent').prop('checked', false);
                $('#CheckOutSMSServiceForGirlsStudent').prop('checked', false);

                $('#CheckInSMSSummary').prop('checked', false);

                $('#AbsentNotification').prop('checked', false);
                $('#AbsentNotificationStudent').prop('checked', false);
                $('#AbsentNotificationEmployee').prop('checked', false);

                $('#PaymentSMSService').prop('checked', false);
                $('#DailyCollectionSMSService').prop('checked', false);
            }
        });


    });
    </script>
}