@model SMS.App.ViewModels.Students.StudentWiseSMSServiceVM
@{
    int sl = 0;
}
<div class="col-md-4">
    <fieldset class="border p-3">
        <legend class="" style="width:inherit" id="legendTitle">Student Wise SMS Service</legend>
        <form asp-action="StudentWiseSMSService" method="get" id="searchForm">
            <div class="form-group row">
                <label class="col-md-3 col-form-label text-right text-md-left">Academic Class</label>
                <div class="col-md-9">
                    <select class="form-control" id="aAcademicClassId" name="academicClassId" asp-items="ViewBag.academicClassId">
                        <option selected disabled>Select Class</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </fieldset>
    <div class="row" id="alert">
        @if (ViewBag.totalUpdated != null)
        {
            <span class="alert alert-info">Total @ViewBag.totalUpdated Data Updated</span>
        }
    </div>
</div>

<div class="col-md-8">
    <div class="card shadow">
        <div class="card-body">
            <form asp-action="StudentWiseSMSService" asp-controller="Setup" method="post">
                <table class="table table-striped table-hover table-info" id="myTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th style="width:30px">Image</th>
                            <th>Class Roll</th>
                            <th>Student Name</th>
                            <th>Class</th>
                            <th class="text-center">SMS Service (<span><input type="checkbox" id="selectAll" onclick="SelectAllClicked()" /> <label for="selectAll"> Select all </label></span>)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @for (var j = 0; j < Model.Students.Count; j++)
                            {
                                <tr>
                                    <td>@(++sl)</td>
                                    <td><img class="img-fluid img-thumbnail" src="~/Images/Student/Photo/@Model.Students[j].Photo" alt="Alternate Text" onerror="this.src='@Url.Content("~/Images/Student/noimage.jpg")'" style="max-width:30px" /> </td>
                                    <td>@Model.Students[j].ClassRoll</td>
                                    <td>@Model.Students[j].Name</td>
                                    <td>@Model.Students[j].AcademicClass.Name</td>
                                    <td class="text-center"><input type="checkbox" class="smsServiceCheckbox" asp-for="Students[j].SMSService" /> <label asp-for="Students[j].SMSService">Active/InActive</label> <input type="hidden" asp-for="Students[j].Id" /> </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <input type="submit" value="Update" class="btn btn-info btn-sm" />
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/DataTable/dataTable.js"></script>
    <script src="~/js/AlertifyNotify/AlertifyNofify.js"></script>
<script>
    
    let updated = '';
    updated = '@TempData["updated"]';
    if (updated != null) {
        updated = '@TempData["updated"]';
        alertify.warning(updated);
    }
    function SelectAllClicked() {
        var selectAllCheckbox = document.getElementById("selectAll");
        var smsServiceCheckboxes = document.getElementsByClassName("smsServiceCheckbox");

        for (var i = 0; i < smsServiceCheckboxes.length; i++) {
            smsServiceCheckboxes[i].checked = selectAllCheckbox.checked;
        }
    }
    $(document).ready(function () {
        $('#alert').fadeOut(5000);
    });
</script>
}