@model IEnumerable<SchoolManagementSystem.Models.Designation>

@{
    ViewData["Title"] = "Designations";
    GlobalUI.PageTitle = ViewBag.Title;
    int sl = 0;
}


<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.DesignationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesignationTypeId)
            </th>
            <th>
                <a class="btn-sm rounded-pill btn-info p-2" asp-action="Create"><i class="fa fa-plus"></i> Add New</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@(++sl).</td>
            <td>
                @Html.DisplayFor(modelItem => item.DesignationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesignationType.DesignationTypeName)
            </td>
            <td>
                <partial name="_Edit_Details_Delete" model="@item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>
