@model IEnumerable<SMS.Entities.Religion>

@{
    ViewData["Title"] = "Religion";
    GlobalUI.PageTitle = ViewBag.Title;
    int sl = 0;
}

<table class="table">
    <thead class="bg-Teal">
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                <a class="btn-sm rounded-pill p-2 btn-info " asp-action="Create"><i class="fa fa-plus-square"></i> Add New</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(++sl).
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <partial name="_Edit_Details_Delete" model="@item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>
