
<h3>Role Assignment</h3>
<hr />
<div class="row">
    <div class="col-md-10 offset-1">
        <form asp-action="AssignRole" method="post">
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right"> User List</label>
                <div class="col-md-6">
                    <select class="form-control" name="appUser">
                        <option disabled selected>Select User</option>
                        @foreach (var item in ViewBag.users)
                        {
                            <option value="@item.Email">@item.Email</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right"> Role List</label>
                <div class="col-md-6">
                    <select class="form-control" name="appRole">
                        <option disabled selected>Select Role</option>
                        @foreach (var item in ViewBag.roles)
                        {
                    <option value="@item.NormalizedName">@item.NormalizedName</option>
                        }
                    </select>
                </div>
            </div>
            
            <button type="submit">Assign Role</button>
        </form>
        @if (ViewBag.msg != null)
        {
            <h4 id="msg">@ViewBag.msg</h4>
        }
    </div>
</div>

@section Scripts{
    <script>
    $(document).ready(function () {
        $("#msg").fadeOut(6000);
    });
    </script>
}