@model List<SMS.App.ViewModels.AdministrationVM.UserRoleVM>

@{
    ViewBag.Title = "Add or Remove Users in Role";
    string userType = "";

}

<div class="row mt-2">
    <div class="col-md-2 offset-md-1">
        <span class="text-md-right">Role Name</span>
    </div>
    <div class="col-md-6">
        <span class="h4">@ViewBag.RoleName</span>
    </div>
</div>
<div class="row pt-3">
    <div class="offset-md-1">
        @if (Model != null)
        {
            <form asp-action="AddOrRemoveUser" asp-controller="Accounts" method="post">
                <input type="hidden" name="roleId" value="@ViewBag.RoleId" />
                <table class="table">
                    <thead>
                        <tr>
                            <td colspan="2" class="text-center bg-blue-sky">Application User List</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="checkAll" /> Check All</td>
                            <td>Applicaiton User ( <input type="checkbox" class="onlyEmployeeCheck" /> All Employee )  ( <input type="checkbox" class="onlyStudentCheck" /> All Student )</td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" asp-for="@Model[i].UserId" />
                                    <input type="hidden" asp-for="@Model[i].UserName" />
                                    <input asp-for="@Model[i].IsSelected" />
                                    @{
                                        if (Model[i].UserType == 'e')
                                        {
                                            userType = "Employee";
                                        }
                                        else if (Model[i].UserType == 's')
                                        {
                                            userType = "Student";
                                        }
                                        else
                                        {
                                            userType = "Ohter";
                                        }
                                    }
                                    <label class="form-check-label" asp-for="@Model[i].IsSelected">(@userType)</label>
                                </td>
                                <td><label class="form-check-label" asp-for="@Model[i].IsSelected">@Model[i].UserName</label></td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td><button class="btn btn-info">Update</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        }

    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.checkAll').on('click', function () {
                alert("all checked");
            });
            $('.onlyEmployeeCheck').on('click', function () {
                alert("Employees checked");
            });
            $('.onlyStudentCheck').on('click', function () {
                alert("Students checked");
            });

        });
    </script>
}