@model SMS.App.ViewModels.AdministrationVM.UserProfileVM
@{
    // Query to group by ProjectModule, SubModule, and ClaimStore

    var groupedData = Model.Modules
      .Select(projectModule => new
      {
          ProjectModuleName = projectModule.ModuleName,
          SubModules = projectModule.SubModuleList
              .Select(subModule => new
              {
                  SubModuleId = subModule.Id,
                  SubModuleName = subModule.SubModuleName,
                  ClaimStores = subModule.ClaimStoresList
                      .Select(claimStore => new
                      {
                          ClaimId = claimStore.Id,
                          ClaimType = claimStore.ClaimType,
                          ClaimValue = claimStore.ClaimValue
                      })
              })
      });
    int i = 0;
    int m = 0;
    int s = 0;
    int index = 0;
    SelectListItem targetItem = new SelectListItem();
}
<div class="row">
    <div class="row pt-3 pb-2" style="background-color: #2A3F54;">
        <div class="col-md-12 text-center">
            <form id="frmSearchByUserId" asp-action="UserProfile" asp-controller="Administrations" method="get" class="">
                <div class="row">
                    <div class="col-md-4 text-md-left">
                        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#employeeSearchModal">
                            Select User
                        </button>
                        @if (ViewBag.UserName != null)
                        {
                            <span class="text-light">@ViewBag.UserName</span>
                        }
                    </div>
                    <div class="col-md-4 offset-md-3" style="visibility:hidden">
                        <div class="input-group mb-3">
                            @if (ViewBag.UserName != null)
                            {
                                <input id="UserIdInput" class="form-control" name="userId" value="@ViewBag.UserName" />
                            }
                            else
                            {
                                <input id="UserIdInput" placeholder="Input User Id" class="form-control" name="userId" />
                            }
                            <div class="input-group-append">
                                <button class="btn btn-info rounded" type="submit"><i class="fas fa-search"></i> Go</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
@if (Model.Employee != null)
{
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <span class="h4">User Information</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img src="~/Images/Employee/photo/@Model.Employee.Image" alt="Alternate Text" onerror="this.src='@Url.Content("~/Images/Student/noimage.jpg")'" style="width:40%;" />
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <dl class="row p-2">
                                <dt class="col-sm-4 col-4 text-md-right text-sm-right text-right">
                                    Employee ID :
                                </dt>
                                <dd class="col-sm-8 col-8 border-bottom">
                                    @Model.Employee.Id.ToString().PadLeft(5,'0')
                                </dd>
                                <dt class="col-sm-4 col-4 text-md-right text-sm-right text-right">
                                    Name :
                                </dt>
                                <dd class="col-sm-8 col-8 border-bottom">
                                    @Html.DisplayFor(model => model.Employee.EmployeeName)
                                </dd>

                                <dt class="col-sm-4 col-4 text-md-right text-sm-right text-right">
                                    নাম (বাংলা) :
                                </dt>
                                <dd class="col-sm-8 col-8 border-bottom">
                                    @Html.DisplayFor(model => model.Employee.EmployeeNameBangla)
                                </dd>
                                <dt class="col-sm-4 col-4 text-md-right text-sm-right text-right">
                                    Designation :
                                </dt>
                                <dd class="col-sm-8 col-8 border-bottom">
                                    @Html.DisplayFor(model => model.Employee.Designation.DesignationName)
                                </dd>
                                <dt class="col-sm-4 col-4 text-md-right text-sm-right text-right">
                                    Joining Date :
                                </dt>
                                <dd class="col-sm-8 col-8 border-bottom">
                                    @Model.Employee.JoiningDate.ToString("dd MMM yyyy")
                                </dd>
                                <dt class="col-sm-4 col-4 text-md-right text-sm-right text-right">
                                    Phone No :
                                </dt>
                                <dd class="col-sm-8 col-8 border-bottom">
                                    @Model.Employee.Phone
                                </dd>
                                <dt class="col-sm-4 col-4 text-md-right text-sm-right text-right">
                                    Email Address :
                                </dt>
                                <dd class="col-sm-8 col-8 border-bottom">
                                    @Model.Employee.Email
                                </dd>
                                <dt class="col-sm-4 col-4 text-md-right text-sm-right text-right">
                                    Active Status :
                                </dt>
                                <dd class="col-sm-8 col-8 border-bottom">
                                    @if (Model.Employee.Status)
                                    {
                                        <span class="bg-info p-1"><i class="text-light fas  fa-check"></i></span>
                                    }
                                    else
                                    {
                                        <span class="bg-danger p-1"><i class="text-light">X</i></span>
                                    }
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-title text-center">Roles</div>
                    <div class="card-body">
                        @for (int j = 0; j < Model.UserRoleClaimsVM.ApplicationRoles.Count; j++)
                        {
                            <div>
                                <input type="hidden" asp-for="@Model.UserRoleClaimsVM.ApplicationRoles[j].Value" />
                                <input asp-for="@Model.UserRoleClaimsVM.ApplicationRoles[j].Selected" /> <label asp-for="@Model.UserRoleClaimsVM.ApplicationRoles[j].Selected"> @Model.UserRoleClaimsVM.ApplicationRoles[j].Text</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="">
                <div class="card">
                    <ul class="nav nav-tabs">
                        <li class="nav-item active">
                            <a class="nav-link active" data-toggle="tab" href="#claimPermission">Page Permission</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" data-toggle="tab" href="#profile">Profile</a>
                        </li>
                    </ul>


                    <div class="overflow-scroll" style="max-height:750px">
                        <div class="tab-content">
                            <div class="tab-pane fade in active show" id="claimPermission">
                                    <div class="row">
                                        @if (groupedData != null)
                                        {
                                            <form asp-action="UserProfile" method="post">
                                                <input type="hidden" asp-for="@Model.UserRoleClaimsVM.ApplicationUser.Id" />
                                                @foreach (var module in Model.Modules)
                                                {
                                                    <div class="p-3 rounded">
                                                        <fieldset class="border p-3 shadow border-primary">
                                                            <legend class="p-0 text-primary" style="width:inherit" id="legendTitle">@module.ModuleName</legend>
                                                            <div class="">
                                                                <div class="shadow">
                                                                    @foreach (var sModule in module.SubModuleList)
                                                                    {
                                                                        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                                                                            <div class="card shadow">
                                                                                <div class="card-header">
                                                                                    <h5 class=" text-info">@sModule.SubModuleName</h5>
                                                                                </div>
                                                                                <div class="card-body" style="min-height:128px;">
                                                                                    @foreach (var claim in sModule.ClaimStoresList)
                                                                                    {
                                                                                        targetItem = Model.UserRoleClaimsVM.ApplicationClaims.FirstOrDefault(s => s.Value == claim.ClaimValue);
                                                                                        index = Model.UserRoleClaimsVM.ApplicationClaims.IndexOf(targetItem);
                                                                                        <div>
                                                                                            <input asp-for="@Model.UserRoleClaimsVM.ApplicationClaims[index].Selected" />
                                                                                            <input type="hidden" asp-for="@Model.UserRoleClaimsVM.ApplicationClaims[index].Value" />
                                                                                            <label asp-for="@Model.UserRoleClaimsVM.ApplicationClaims[index].Selected">@claim.ClaimType</label>
                                                                                        </div>
                                                                                        i++;
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        s++;
                                                                    }
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    m++;
                                                }
                                                <div class="row">
                                                    <input type="submit" value="Update" class="btn btn-info btn-sm" />
                                                </div>
                                            </form>
                                        }
                                    </div>

          
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="">
                                    <div class="jumbotron text-center">
                                        <h2>This portion is under construction</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- Employee Select Modal -->
<div class="modal fade" id="employeeSearchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-header text-center">
                <h4 class="text-center">Select Student</h4>
            </div>
            <div class="modal-body">
                <form action="/" method="post">
                    <div class="form-group row">
                        <label class="col-md-4 text-md-right col-form-label">Select User</label>
                        <div class="col-md-8">
                            <select class="form-control" asp-items="ViewBag.UserList" id="ddUserId">
                                <option selected disabled>-Select User-</option>
                            </select>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#ddUserId').change(function () {
            let cRoll = $('#ddUserId option:selected').val();
            $('#UserIdInput').val(cRoll);
            $('#frmSearchByUserId').submit();
        });
    </script>
}