@model IEnumerable<SMS.App.ViewModels.GradingTable.GradingIndexVM>
@{
    ViewBag.Title = "Grading Table";
    GlobalUI.PageTitle = ViewBag.title;


    int sl = 0;
}
<div class="row">
    <div class="offset-md-3 col-md-6">
        <table class="table table-bordered table-striped">
            <thead class="table-info">
                <tr>
                    <td>#</td>
                    <td>Grand Interval</td>
                    <td>Letter Grade</td>
                    <td>Grade Point</td>
                    <td>
                        <partial name="_Create" />
                    </td>
                </tr>
            </thead>
            <tbody>
                @if (Model == null || Model.Count() <= 0)
                {
                    <tr>
                        <td colspan="5" class="text-center">
                            <h2>Data Not Found!</h2>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@(++sl)</td>
                            <td>@item.NumberRange</td>
                            <td>@item.LetterGrade</td>
                            <td>@item.GradePoint</td>
                            <td>
                                <partial name="_Edit_Details_Delete" model="@item.Id" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts{

    <script src="~/js/AlertifyNotify/AlertifyNofify.js"></script>
    <script>
    $(function () {
        let saved = '@TempData["created"]';
        let deleted = '@TempData["deleted"]';
        let edited = '@TempData["updated"]';
        let failed = '@TempData["failed"]';

        if (saved != "") {
            alertify.success("Saved Successfully");
        };

        if (deleted != "") {
            alertify.error("Deleted Successfully");
        }

        if (edited != "") {
            alertify.message('Updated Successfully');
        }

        if (failed != "") {
            alertify.error(failed);
        }
    });
    </script>

}