
@inject SignInManager<ApplicationUser> _signInManager;
@inject UserManager<ApplicationUser> _userManager;
@inject IInstituteManager _instituteManager;
@inject IEmployeeManager _employeeManager;
@inject IStudentManager _studentManager;

@{
    var info = await _instituteManager.GetAllAsync();
    if (info.Count() > 0)
    {
        GlobalUI.InstituteName = info.FirstOrDefault().Name;
        GlobalUI.Logo = info.FirstOrDefault().Logo;
        GlobalUI.Language = "En";
    }
    string instituteName = GlobalUI.InstituteName != null ? GlobalUI.InstituteName : "Institute Name";
    string instituteLogo = GlobalUI.Logo != null ? GlobalUI.Logo : "nobleLogo.png";
}

@{
    var userName = _userManager.GetUserName(User);

    string userImage = "";
    if (_signInManager.IsSignedIn(User))
    {
        var user = await _userManager.GetUserAsync(User);
        if (user.UserType == 's')
        {
            var stu = await _studentManager.GetByIdAsync(user.ReferenceId);
            if (stu.Photo != null)
            {
                userImage = "/Images/Student/Photo/" + stu.Photo;
            }
            else
            {
                userImage = "/Images/noProfileImage.png";
            }
        }
        if (user.UserType == 'e')
        {
            var emp = await _employeeManager.GetByIdAsync(user.ReferenceId);
            if (emp.Image != null)
            {
                userImage = "/Images/Employee/Photo/" + emp.Image;
            }
            else
            {
                userImage = "/Images/noProfileImage.png";
            }
        }
    }
}




<!DOCTYPE html>
<!--
* CoreUI - @@version v4.2.2-->
<!-- Breadcrumb-->
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Åukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">

    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title :  @instituteName</title>
    }
    else
    {
        <title>@instituteName</title>
    }
    <link rel="icon" type="image/x-icon" href="~/Images/Institute/favicon.ico">

    <link rel="apple-touch-icon" sizes="57x57" href="~/css/CoreUI/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/css/CoreUI/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/css/CoreUI/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/css/CoreUI/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/css/CoreUI/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/css/CoreUI/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/css/CoreUI/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/css/CoreUI/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/css/CoreUI/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/css/CoreUI/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/css/CoreUI/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/css/CoreUI/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/css/CoreUI/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/css/CoreUI/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/css/CoreUI/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Font Awesome -->
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />

    <!-- Vendors styles-->
    <link href="~/css/CoreUI/vendors/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="~/css/CoreUI/css/vendors/simplebar.css" rel="stylesheet" />
    <!-- Main styles for this application-->
    <link href="~/css/CoreUI/css/style.css" rel="stylesheet" />
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="~/css/CoreUI/css/examples.css" rel="stylesheet" />

    <!-- Alertify -->
    <link href="~/lib/Alertify/css/alertify.min.css" rel="stylesheet" />

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Overlay Style-->
    <link href="~/css/userProfileOverLay.css" rel="stylesheet" />
    <!--Custom Css-->
    <link href="~/css/custom.css" rel="stylesheet" />

</head>
<body>
    @await RenderSectionAsync("Styles", required: false)
    <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
        <div class="sidebar-brand d-none d-md-flex">

            <span class="nav-item">
                <a asp-action="Index" asp-controller="Home" class="nav-link text-center">
                    <img class="img-circle img-fluid p-2" src="~/Images/Institute/@instituteLogo" alt="Logo" style="font-size: 20px; width:50%;" />
                </a>
            </span>
        </div>

        <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
            <li class="nav-group">
                <a class="nav-link nav-group-toggle"><i class="nav-icon fas fa-users fa-lg"></i> Students </a>
                <ul class="nav-group-items">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Students"> Students Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Create" asp-controller="Students">Student Admission</a>
                    </li>
                    <li class="nav-item nav-group">
                        <a class="nav-link nav-group-toggle">  Student Attendance </a>
                        <ul class="nav-group-items">
                            <li class="nav-item">
                                <a class="nav-link" asp-action="DailyAttendanceReport" asp-controller="Reports">Attendances </a>
                            </li>
                            <li class="nav-item"><a class="nav-link" asp-action="create" asp-controller="attendancemachines">Add Attendances </a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-group">
                <a class="nav-link nav-group-toggle"><i class="nav-icon fas fa-user fa-lg"></i> Employee </a>
                <ul class="nav-group-items">
                    <li class="nav-item"><a class="nav-link" asp-action="Create" asp-controller="Employees"> Add Employee </a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Employees"> All Employee </a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="attendancemachines" asp-route-attendanceFor="employees" asp-route-dateTime="@DateTime.Today.ToString("yyyy-MM-dd")"> Employees Attendance</a></li>
                </ul>
            </li>
            <li class="nav-group">
                <a class="nav-link nav-group-toggle"><i class="nav-icon fas fa-layer-group fa-lg"></i> Modules </a>
                <ul class="nav-group-items">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="" asp-controller="DutyRoster"> Duty Roster</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="AttendanceMachines"> Attendance</a>
                    </li>
                    <li class="nav-group">
                        <a class="nav-link nav-group-toggle"> SMS Panel </a>
                        <ul class="nav-group-items">
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Create" asp-controller="PhoneSMS"> SMS Create</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="PhoneSMS"> SMS List</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-group-toggle"> Question Bank </a>
                        <ul class="nav child_menu">
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="QuestionBanks"> Questions </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="QuestionFormation"> Question Formation</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Chapters"> Chapters </a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </li>
            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
            {
                <li class="nav-group">
                    <a class="nav-link nav-group-toggle"><i class="nav-icon fas fa-calculator fa-lg"></i> Accounts </a>
                    <ul class="nav-group-items">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Income" asp-controller="accounts">  Income</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Expense" asp-controller="accounts">  Expense</a>
                        </li>
                        <li class="nav-item nav-group">
                            <a class="nav-link nav-group-toggle"> Fee Setup </a>
                            <ul class="nav-group-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="ClassFeeLists">Class Fee</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="StudentFeeHeads">Fee Head</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-group">
                            <a class="nav-link" asp-action="Index" asp-controller="Payrolls">Payroll </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="StudentFeeAllocations"> Student Fee Allocation </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="StudentPayments"> Fees Collection </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="DuePayment" asp-controller="StudentPayments"> Due Payments </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-group">
                    <a class="nav-link nav-group-toggle"><i class="nav-icon fas fa-book-open fa-lg"></i> Academic </a>
                    <ul class="nav-group-items">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="AcademicSessions">Academic Session</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="AcademicClasses">Academic Class</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="AcademicSections">Academic Section</a>
                        </li>
                        <li class="nav-item nav-group">
                            <a class="nav-link nav-group-toggle">  Academic Subject </a>
                            <ul class="nav-group-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="AcademicSubjects">All Subject</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="AcademicSubjectTypes">Academic Subject Type</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="ClassWiseSubjectAllocation" asp-controller="AcademicSubjects">Class-Wise Allocation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="SubjectEnroll" asp-controller="SubjectEnrollment">Subject Enrollment</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="GradingTable">Grading System</a>
                        </li>

                        <li class="nav-item nav-group">
                            <a class="nav-link nav-group-toggle"> Examinations</a>
                            <ul class="nav-group-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="AcademicExamGroup">Exam Groups</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="AcademicExams">All Examinations</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="AcademicExamType">Examination Types</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item nav-group">
                            <a class="nav-link nav-group-toggle"> Exam Results </a>
                            <ul class="nav-group-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="ClassWiseResult" asp-controller="ExamResults">Class-wise Results</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="ExamResults">Subject-wise Results</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="StudentWiseResult" asp-controller="ExamResults">Student-Wise Results</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-group">
                    <a class="nav-link nav-group-toggle"><i class="nav-icon fas fa-user-cog fa-lg"></i> Administration </a>
                    <ul class="nav-group-items">
                        <li class="nav-group nav-item">
                            <a class="nav-link nav-group-toggle"> Employee Related </a>
                            <ul class="nav-group-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="EmpTypes">Employee Type</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Designations">Designation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="DesignationTypes">Designation Type</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-action="SchoolTimeTable" asp-controller="Institutes"> School Time setting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Institutes"> Institute info</a>
                        </li>
                        <li class="nav-item nav-group">
                            <a class="nav-link nav-group-toggle"> Holiday </a>
                            <ul class="nav-group-items">
                                <li class="nav-item"><a class="nav-link" asp-controller="OffDays" asp-action="Index">Holidays</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="OffDayType" asp-action="Index">Holiday Type</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-group">
                            <a class="nav-link nav-group-toggle"> User Setting  </a>
                            <ul class="nav-group-items">
                                <li class="nav-item"><a class="nav-link" asp-action="UserProfile" asp-controller="Administrations">User Profile</a></li>
                                <li class="nav-item"><a class="nav-link" asp-action="userList" asp-controller="Accounts">User List</a></li>
                                <li class="nav-item"><a class="nav-link" asp-action="roleList" asp-controller="Accounts">Role List</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-group">
                            <a class="nav-link nav-group-toggle"> Module/Sub Module  </a>
                            <ul class="nav-group-items">
                                <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="ProjectModules">Module</a></li>
                                <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="ProjectSubModules">Sub Module</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-group">
                            <a class="nav-link nav-group-toggle"> Claim Stores  </a>
                            <ul class="nav-group-items">
                                <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="ClaimStores">Claim List</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-group">
                    <a class="nav-link  nav-group-toggle" asp-action="Index" asp-controller="ClassRoutine"> <i class="nav-icon fas fa-tasks"></i>  Class Routine </a>
                    @*<ul class="nav-group-items">
                            <li class="nav-group nav-item">
                                <a href="#">Routine</a>
                            </li>
                        </ul>*@
                </li>
                <li class="nav-group">
                    <a class="nav-link nav-group-toggle"><i class="nav-icon fas fa-cog"></i>   Settings </a>
                    <ul class="nav-group-items">
                        <li class="nav-item nav-group">
                            <a class="nav-link nav-group-toggle"> Others </a>
                            <ul class="nav-group-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Genders">Gender</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Nationalities">Nationality</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="BloodGroups">Blood Group</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Religions">Religion</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-group">
                            <a class="nav-link nav-group-toggle"> SMS Control </a>
                            <ul class="nav-group-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="SMSControl" asp-controller="Setup">SMS Setup</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="StudentWiseSMSService" asp-controller="Setup">Student-wise SMS Service</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-group">
                            <a class="nav-link nav-group-toggle"> Residential</a>
                            <ul class="nav-group-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="PaymentSchedule" asp-controller="Residential">Payment Structure</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                @*<li class="separator"></li>*@
                <li class="nav-group">
                    <a class="nav-link nav-group-toggle"><i class="nav-icon fal fa-file-chart-line fa-lg"></i>  Reports </a>
                    <ul class="nav-group-items">
                        <li class="nav-item nav-group">
                            <a class="nav-link nav-group-toggle"> Students </a>
                            <ul class="nav-group-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="studentsreport" asp-controller="reports">Current Students</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="ArchieveStudents">Archieve Students</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-group">
                            <a class="nav-link nav-group-toggle"> Payments </a>
                            <ul class="nav-group-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="StudentPaymentInfo" asp-controller="Reports">Single Payment</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" asp-action="StudentPaymentReport" asp-controller="Reports">Students Payments</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-group">
                            <a class="nav-link nav-group-toggle"> Attendance </a>
                            <ul class="nav-group-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="DailyAttendanceReport" asp-controller="Reports">Daily Attendance Report</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="AttendanceReport" asp-controller="Reports">Monthly Attendance Report</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-group">
                            <a class="nav-link nav-group-toggle">  Academic Exams</a>
                            <ul class="nav-group-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="AdmitCard" asp-controller="AcademicExams">Admit Cards</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-group">
                            <a class="nav-link nav-group-toggle">  Academic Result </a>
                            <ul class="nav-group-items">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="ClassWiseResultAfterProcess" asp-controller="ExamResults">Class-Wise Result</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="SubjectWiseResltAfterProcess" asp-controller="ExamResults">Subject-Wise Result</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="MarkSheetReport" asp-controller="Reports">Mark Sheet</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            }
        </ul>

        <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
        <header class="header header-sticky mb-4" style="background-color:aliceblue">
            <div class="container d-flex justify-content-between">

                <div id="1stPart" class="d-flex">
                    <button class="header-toggler pr-1 px-md-0" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
                        <i class="fas fa-bars"></i>
                    </button>

                    <ul class="header-nav">
                        <li class="nav-item">
                            <a class="nav-link">
                                <text id="pageTitleId" class="">

                                    @if (GlobalUI.PageTitle.Length > 15)
                                    {
                                        <span class="p-0 pb-2 m-0">
                                            @GlobalUI.PageTitle.ToString().Substring(0, 13)..
                                        </span>}
                                    else
                                    {
                                        <span class="p-0 pb-2 m-0">
                                            @GlobalUI.PageTitle.ToString()
                                        </span>}

                                </text>
                            </a>
                        </li>
                    </ul>
                </div>

                <div id="2ndPart" class="d-flex">
                    <ul class="header-nav d-md-none">
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Home" class="">
                                <img class="img-circle img-fluid p-2" src="~/Images/Institute/@instituteLogo" alt="Logo" style="font-size: 20px; width: 40px;" />
                            </a>
                        </li>
                    </ul>
                    <ul class="header-nav d-xs-none">
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Home" class="" style="font-size:20px; font-weight:bold;width:100%">
                                <img class="img-circle img-fluid p-2" src="~/Images/Institute/@instituteLogo" alt="Logo" style="max-height:40px" />@instituteName
                            </a>
                        </li>
                    </ul>
                </div>

                <div id="3rdPart" class="d-flex">
                    <ul class="header-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span id="liveDateTime">Live Time</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" title="Language">
                                <span class="btn-primary btn-sm">@GlobalUI.Language</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" title="Notifications">
                                <i class="icon icon-lg fas fa-bell"></i>
                            </a>
                        </li>
                    </ul>
                    <div>
                        <span class=" p-2" id="userProfileIcon" data-toggle="tooltip" data-placement="bottom" title="@userName">
                            <img src="@userImage" alt="profile Image" class="img-circle" data-toggle="popover" data-placement="bottom" style="width:25px;" onclick="openNav()" />
                        </span>
                        <div id="myNav" class="overlay">
                            <button class="btn btn-sm btn-danger btn-block closebtn" onclick="closeNav()">Close</button>

                            <div class="overlay-content">
                                @await Component.InvokeAsync("ProfileOverlay")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="body flex-grow-1 px-3 mb-5">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        <footer class="footer fixed-bottom">
            <div></div>
            <div class="ms-auto">&copy; Powered By @info.FirstOrDefault().ShortName</div>
        </footer>
    </div>

    <!-- jQuery -->

    <script src="~/lib/jquery/jquery3.7.1/code.jquery.com_jquery-3.7.1.min.js"></script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@

    <!-- CoreUI and necessary plugins-->
    <script src="~/css/CoreUI/vendors/coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="~/css/CoreUI/vendors/simplebar/js/simplebar.min.js"></script>

    <!-- Validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <!--Font Awesome-->
    <script src="~/lib/fontawesome/js/all.min.js"></script>

    <script src="~/js/popper.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <!-- User Profile Overlay -->
    <script src="~/js/Accessories/userProfileOverLay.js" type="text/javascript"></script>


    <!-- Alertify -->
    <script src="~/lib/Alertify/alertify.min.js" type="text/javascript"></script>
    <!-- Datatable script -->
    <script src="~/lib/DataTable/js/jquery.dataTables.min.js" type="text/javascript"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/js/custom.js"></script>
    <script>
        const zeroFill = n => {
            return ('0' + n).slice(-2);
        }
        // Creates interval
        const interval = setInterval(() => {
            // Get current time
            const now = new Date();
            const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            // Format date as in mm/dd/aaaa hh:ii:ss
            const dateTime = zeroFill(now.getUTCDate()) + ' ' + months[now.getMonth()] + ' ' + now.getFullYear() + ' ' + zeroFill(now.getHours()) + ':' + zeroFill(now.getMinutes()) + ':' + zeroFill(now.getSeconds());

            // Display the date and time on the screen using div#date-time
            document.getElementById('liveDateTime').innerHTML = dateTime;
            let width = window.screen.availWidth;
            if (width < 462 && width > 386) {
                let Time = zeroFill(now.getHours()) + ':' + zeroFill(now.getMinutes()) + ':' + zeroFill(now.getSeconds());
                document.getElementById('liveDateTime').innerHTML = Time;
            }
            else if (width < 386) {
                document.getElementById('liveDateTime').innerHTML = "";
            }

        }, 1000);



        $(document).click(function (e) {
            let sss1 = $(e.target).parents("#myNav").length === 0;
            let sss2 = $(e.target).parents("#userProfileIcon").length === 0;
            if (sss1 == true && sss2 == true) {
                closeNav();
            }
        });

        function menuToggle() {
            if ($('body').hasClass('nav-md')) {
                $("#sidebar-menu").find('li.active ul').hide();
                $("#sidebar-menu").find('li.active').addClass('active-sm').removeClass('active');
            } else {
                $("#sidebar-menu").find('li.active-sm ul').show();
                $("#sidebar-menu").find('li.active-sm').addClass('active').removeClass('active-sm');
            }
            $('body').toggleClass('nav-md nav-sm');
            setHeight();
        }

        function setHeight() {
            $('.right_col').css('min-height', $(window).height());
            var bodyHeight = $('body').outerHeight();
            var footerHeight = $('body').hasClass('footer_fixed') ? -10 : $('footer').height();
            var leftColHeight = $('.left_col').eq(1).height() + $('.sidebar-footer').height();
            var contentHeight = bodyHeight < leftColHeight ? leftColHeight : bodyHeight;
            contentHeight -= $('.nav_menu').height() + footerHeight;
            $('.right_col').css('min-height', contentHeight);
        }

        $(function () {
            let saved = '@TempData["created"]';
            let deleted = '@TempData["deleted"]';
            let edited = '@TempData["updated"]';
            let failed = '@TempData["failed"]';

            if (saved != "") {
                alertify.success(saved);
            };

            if (deleted != "") {
                alertify.error(deleted);
            }

            if (edited != "") {
                alertify.message(deleted);
            }

            if (failed != "") {
                alertify.error(failed);
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>