@using Microsoft.AspNetCore.Identity;
@using SMS.BLL.Contracts;

@inject SignInManager<ApplicationUser> _signInManager;
@inject UserManager<ApplicationUser> _userManager;
@inject IInstituteManager _instituteManager;
@{
    var info = await _instituteManager.GetAllAsync();
    if (info.Count()>0)
    {
        GlobalUI.InstituteName = info.FirstOrDefault().Name;
    }
    string instituteName = GlobalUI.InstituteName != null ? GlobalUI.InstituteName : "Institute Name";
}

@{
    var userName = _userManager.GetUserName(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title :  @instituteName</title>
    }
    else
    {
        <title>@instituteName</title>
    }

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/lib/Theme/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/lib/Theme/css/nprogress.css" rel="stylesheet" />

    <!-- Alertify -->
    <link href="~/lib/Alertify/css/themes/default.min.css" rel="stylesheet" />
    <link href="~/lib/Alertify/css/alertify.min.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/css/custom.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <!-- Data Table Style-->
    <link href="~/lib/DataTable/css/jquery.dataTables.min.css" rel="stylesheet" />
</head>

<body class="nav-md">
    @await RenderSectionAsync("Styles", required: false)
    @*<body class="nav-sm">*@
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a asp-action="Index" asp-controller="Home" class="site_title"><i class="fa fa-paw"></i> <span>@instituteName</span></a>
                    </div>

                    <div class="clearfix"></div>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                </li>
                                <li>
                                    <a><i class="fa fa-users"></i> Students <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a asp-action="Index" asp-controller="Students">All Students</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="StudentPayments">Student Payment</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-user"></i> Employee <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a asp-action="Index" asp-controller="Employees"><span class="glyphicon glyphicon-asterisk"></span> All Employee</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Setup Modules <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a asp-action="Index" asp-controller="AcademicSessions">Academic Session</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="AcademicClasses">Academic Class</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="AcademicSections">Academic Section</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="ClassFeeLists">Class Fee</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="StudentFeeHeads">Fee Head</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Genders">Gender</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Nationalities">Nationality</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="BloodGroups">Blood Group</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Religions">Religion</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="EmpTypes">Employee Type</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Designations">Designation</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="DesignationTypes">Designation Type</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> Subjects Setting<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a asp-action="Index" asp-controller="AcademicSubjects">Academic Subject</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="AcademicSubjectTypes">Academic Subject Type</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>

                                    <a><i class="fa fa-cog"></i> Settings <span class="fa fa-chrome"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-action="Index" asp-controller="Institutes">Institute</a></li>
                                        <li><a asp-action="userList" asp-controller="Accounts">User List</a></li>
                                        <li><a asp-action="roleList" asp-controller="Accounts">Role List</a></li>
                                        <li>

                                            <form asp-action="Logout" asp-controller="accounts" method="post">
                                                <button class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="Logout" type="submit">
                                                    Logout <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                                                </button>
                                            </form>
                                        </li>

                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <div class="menu_section">

                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        @if (_signInManager.IsSignedIn(User))
                        {
                            <form asp-action="Logout" asp-controller="accounts" method="post">
                                <button data-toggle="tooltip" data-placement="top" title="Logout" type="submit">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                                </button>
                            </form>

                        }
                        else
                        {

                            <a data-toggle="tooltip" data-placement="top" title="Login" asp-action="login" asp-controller="Accounts">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                            </a>
                        }

                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav pb-3">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a style="padding:5px;" id="menu_toggle">


                            <i class="fa fa-bars"></i>
                        </a>

                    </div>
                    <div class="nav">
                        @if (_signInManager.IsSignedIn(User))
                        {
                            <span class="pt-2">@userName</span>

                        }
                    </div>

                </div>
                <text class="h5 text-light">@GlobalUI.PageTitle</text>
                
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" style="background:#c7c7c7">
                <div class="shadow rounded mt-4 bg-light p-2">
                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer class="fixed-bottom">
                <div class="pull-right">
                    &copy; Powerd By GH Palash
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/lib/Theme/js/jquery.min.js"></script>
    <!-- Validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/lib/Theme/js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/lib/Theme/js/nprogress.js"></script>

    <!-- Alertify -->
    <script src="~/lib/Alertify/alertify.min.js"></script>
    <!-- Datatable script -->
    <script src="~/lib/DataTable/js/jquery.dataTables.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/js/custom.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        function menuToggle() {
            if ($('body').hasClass('nav-md')) {
                $("#sidebar-menu").find('li.active ul').hide();
                $("#sidebar-menu").find('li.active').addClass('active-sm').removeClass('active');
            } else {
                $("#sidebar-menu").find('li.active-sm ul').show();
                $("#sidebar-menu").find('li.active-sm').addClass('active').removeClass('active-sm');
            }
            $('body').toggleClass('nav-md nav-sm');
            setHeight();
        }

        function setHeight() {
            $('.right_col').css('min-height', $(window).height());
            var bodyHeight = $('body').outerHeight();
            var footerHeight = $('body').hasClass('footer_fixed') ? -10 : $('footer').height();
            var leftColHeight = $('.left_col').eq(1).height() + $('.sidebar-footer').height();
            var contentHeight = bodyHeight < leftColHeight ? leftColHeight : bodyHeight;
            contentHeight -= $('.nav_menu').height() + footerHeight;
            $('.right_col').css('min-height', contentHeight);
        }




        $(document).ready(function () {
            menuToggle();
            //$('#menu_toggle').click();
        });
    </script>
</body>
</html>
