
@inject SignInManager<ApplicationUser> _signInManager;
@inject UserManager<ApplicationUser> _userManager;
@inject IInstituteManager _instituteManager;
@inject IEmployeeManager _employeeManager;
@inject IStudentManager _studentManager;

@{
    var info = await _instituteManager.GetAllAsync();
    if (info.Count() > 0)
    {
        GlobalUI.InstituteName = info.FirstOrDefault().Name;
        GlobalUI.Logo = info.FirstOrDefault().Logo;
    }
    string instituteName = GlobalUI.InstituteName != null ? GlobalUI.InstituteName : "Institute Name";
    string instituteLogo = GlobalUI.Logo != null ? GlobalUI.Logo : "nobleLogo.png";
}

@{
    var userName = _userManager.GetUserName(User);

    string userImage = "";
    if (_signInManager.IsSignedIn(User))
    {
        var user = await _userManager.GetUserAsync(User);
        if (user.UserType == 's')
        {
            var stu = await _studentManager.GetByIdAsync(user.ReferenceId);
            if (stu.Photo != null)
            {
                userImage = "/Images/Student/Photo/" + stu.Photo;
            }
            else
            {
                userImage = "/Images/noProfileImage.png";
            }
        }
        if (user.UserType == 'e')
        {
            var emp = await _employeeManager.GetByIdAsync(user.ReferenceId);
            if (emp.Image != null)
            {
                userImage = "/Images/Employee/Photo/" + emp.Image;
            }
            else
            {
                userImage = "/Images/noProfileImage.png";
            }
        }
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title :  @instituteName</title>
    }
    else
    {
        <title>@instituteName</title>
    }
    <link rel="icon" type="image/x-icon" href="~/Images/Institute/favicon.ico">
    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    @*<link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />*@

    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/brands.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/duotone.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/light.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/regular.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/solid.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/svg-with-js.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/v4-shims.min.css" rel="stylesheet" />

    <!-- NProgress -->
    <link href="~/lib/Theme/css/nprogress.css" rel="stylesheet" />

    <!-- Alertify -->
    <link href="~/lib/Alertify/css/themes/default.min.css" rel="stylesheet" />
    <link href="~/lib/Alertify/css/alertify.min.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/css/custom.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <!-- Overlay Style-->
    <link href="~/css/userProfileOverLay.css" rel="stylesheet" />

    <!-- Data Table Style-->
    <link href="~/lib/DataTable/css/jquery.dataTables.min.css" rel="stylesheet" />
    <style>
    </style>
    <style>
        #pageTitleId p
        {
            color: white;
            animation-name: example;
            animation-duration: 6s;
            animation-iteration-count: infinite;
        }

        @@keyframes example
        {
            0%
            {
                color: red;
                left: 0px;
                top: 0px;
            }

            26%
            {
                color: yellow;
                left: 200px;
                top: 0px;
            }

            50%
            {
                color: gray;
                left: 200px;
                top: 0px;
            }

            75%
            {
                color: white;
                left: 0px;
                top: 0px;
            }
        }
    </style>
</head>

<body class="nav-md">
    @await RenderSectionAsync("Styles", required: false)
    @*<body class="nav-sm">*@
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="overflow:hidden">
                        <a asp-action="Index" asp-controller="Home" class="" style="color:#fff;font-weight:bold;width:100%"><img class="img-circle img-fluid p-2" src="~/Images/Institute/@instituteLogo" alt="Logo" style="font-size: 20px; width: 60px;" /> @instituteName</a>
                    </div>

                    <div class="clearfix"></div>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">

                                <li>
                                    <a><i class="fa fa-users fa-2x"></i> Students <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a asp-action="Index" asp-controller="Students"> All Students </a>
                                        </li>
                                        <li>
                                            <a asp-action="index" asp-controller="attendancemachines" asp-route-attendanceFor="students" asp-route-dateTime="@DateTime.Today.ToString("yyyy-MM-dd")"> Student Attendance <i class="fas fa-spinner fa-spin"></i></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-user fa-2x"></i> Employee <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a asp-action="Index" asp-controller="Employees"> All Employee </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="attendancemachines" asp-route-attendanceFor="employees" asp-route-dateTime="@DateTime.Today.ToString("yyyy-MM-dd")"> Employees Attendance</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-layer-group text-primary fa-2x"></i> Modules <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="#"> Class Routine</a>
                                        </li>
                                        <li>
                                            <a href="#"> Duty Roster</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="AttendanceMachines"> Attendance</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="PhoneSMS"> SMS Panel</a>
                                        </li>
                                        <li>
                                            <a href="#">  Exam</a>
                                        </li>
                                        <li>
                                            <a href="#"> Academic Result</a>
                                        </li>
                                        <li>
                                            <a> Question Bank <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li>
                                                    <a asp-action="Index" asp-controller="QuestionBanks"> Questions </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="QuestionFormation"> Question Formation</a>
                                                </li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="Chapters"> Chapters </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a asp-action="Index" asp-controller="StudentPayments">Student Payment <i class="fas fa-dollar-sign"></i></a>
                                        </li>
                                    </ul>
                                </li>
                                @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                                {
                                    <li>
                                        <a><i class="fa fa-cog text-danger fa-2x"></i> Settings <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li>
                                                <a> Academic <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>
                                                        <a asp-action="Index" asp-controller="AcademicSessions">Academic Session</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="Index" asp-controller="AcademicClasses">Academic Class</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="Index" asp-controller="AcademicSections">Academic Section</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="Index" asp-controller="ClassFeeLists">Class Fee</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="Index" asp-controller="AcademicSubjects">Academic Subject</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="Index" asp-controller="AcademicSubjectTypes">Academic Subject Type</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="Index" asp-controller="StudentFeeHeads">Fee Head</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a> Administrations <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>
                                                        <a> Employee Related <span class="fa fa-chevron-down"></span></a>
                                                        <ul class="nav child_menu">
                                                            <li>
                                                                <a asp-action="Index" asp-controller="EmpTypes">Employee Type</a>
                                                            </li>
                                                            <li>
                                                                <a asp-action="Index" asp-controller="Designations">Designation</a>
                                                            </li>
                                                            <li>
                                                                <a asp-action="Index" asp-controller="DesignationTypes">Designation Type</a>
                                                            </li>
                                                        </ul>
                                                    </li>

                                                    <li>
                                                        <a asp-action="SchoolTimeTable" asp-controller="Institutes"><span class="glyphicon glyphicon-th-large"></span> School Time setting</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="Index" asp-controller="Institutes">Institute</a>
                                                    </li>

                                                    <li><a asp-action="userList" asp-controller="Accounts">User List</a></li>
                                                    @if (User.IsInRole("SuperAdmin"))
                                                    {
                                                        <li><a asp-action="roleList" asp-controller="Accounts">Role List</a></li>
                                                    }
                                                </ul>
                                            </li>
                                            <li>
                                                <a> Others <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>
                                                        <a asp-action="Index" asp-controller="Genders">Gender</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="Index" asp-controller="Nationalities">Nationality</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="Index" asp-controller="BloodGroups">Blood Group</a>
                                                    </li>
                                                    <li>
                                                        <a asp-action="Index" asp-controller="Religions">Religion</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a> SMS Control <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>
                                                        <a asp-action="SMSControl" asp-controller="Setup">SMS Setup</a>
                                                    </li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a><i class="fal fa-file-chart-line fa-2x text-warning"></i>  Reports <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li>
                                                <a> Students <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>
                                                        <a href="#">Current Students</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Archieve Students</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a> Payments <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">

                                                    <li>
                                                        <a asp-action="Index" asp-controller="ClassFeeLists">Class Fee</a>
                                                    </li>

                                                    <li>
                                                        <a asp-action="Index" asp-controller="StudentFeeHeads">Fee Head</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                }

                            </ul>
                        </div>
                        <div class="menu_section">
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <i class="fa fa-cog"></i>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <i class="fa fa-lock text-light"></i>
                        </a>
                        @if (_signInManager.IsSignedIn(User))
                        {
                            <form id="logoutFormId" asp-action="Logout" asp-controller="accounts" method="post">
                                <a href="javascript:$('#logoutFormId').submit();" data-toggle="tooltip" data-placement="top" title="Logout" type="submit">
                                    <i class="fa fa-sign-out text-danger"></i>
                                </a>
                            </form>
                        }
                        else
                        {
                            <a data-toggle="tooltip" data-placement="top" title="Login" asp-action="login" asp-controller="Accounts">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                            </a>
                        }

                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav pb-1">
                <div class="nav_menu mb-1">
                    <div class="nav toggle">
                        <a style="padding:5px;" id="menu_toggle">
                            <i class="fas fa-bars fa-2x"></i>
                        </a>

                    </div>
                    <div class="nav d-flex justify-content-between">
                        @if (_signInManager.IsSignedIn(User))
                        {

                            <span class="p-2">@userName </span>
                            <span class="float-right p-2" id="userProfileIcon">
                                <span id="liveDateTime">Live Time</span>
                                <img src="@userImage" alt="profile Image" class="img-circle" data-toggle="popover" data-placement="bottom" style="width:25px;" onclick="openNav()" />
                            </span>

                            <div id="myNav" class="overlay">
                                <button class="btn btn-sm btn-danger btn-block closebtn" onclick="closeNav()">Close</button>

                                <div class="overlay-content">
                                    @await Component.InvokeAsync("ProfileOverlay")
                                </div>
                            </div>
                        }
                    </div>

                </div>
                <text id="pageTitleId" class="h5"><p class="p-0 m-0">@GlobalUI.PageTitle</p> </text>

            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div id="body_content_part" class="right_col" role="main" style="background:#c7c7c7">
                <div id="printable_area" class="shadow rounded mt-2 bg-light p-2">
                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer class="fixed-bottom">
                <div class="pull-right text-dark">
                    &copy; Powerd By NRS
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/lib/Theme/js/jquery.min.js" type="text/javascript"></script>
    <!-- Validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="~/js/popper.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <!--Font Awesome-->
    <script src="~/lib/fontawesome/js/all.min.js"></script>
    <script src="~/lib/fontawesome/js/brands.min.js"></script>
    <script src="~/lib/fontawesome/js/conflict-detection.min.js"></script>
    <script src="~/lib/fontawesome/js/duotone.min.js"></script>
    <script src="~/lib/fontawesome/js/fontawesome.min.js"></script>
    <script src="~/lib/fontawesome/js/light.min.js"></script>
    <script src="~/lib/fontawesome/js/regular.min.js"></script>
    <script src="~/lib/fontawesome/js/solid.min.js"></script>
    <script src="~/lib/fontawesome/js/v4-shims.min.js"></script>
    <!-- FastClick -->
    <script src="~/lib/Theme/js/fastclick.js" type="text/javascript"></script>
    <!-- NProgress -->
    <script src="~/lib/Theme/js/nprogress.js" type="text/javascript"></script>

    <!-- User Profile Overlay -->
    <script src="~/js/Accessories/userProfileOverLay.js" type="text/javascript"></script>

    <!-- Alertify -->
    <script src="~/lib/Alertify/alertify.min.js" type="text/javascript"></script>
    <!-- Datatable script -->
    <script src="~/lib/DataTable/js/jquery.dataTables.min.js" type="text/javascript"></script>

    <!-- Custom Theme Scripts -->
    @*<script src="~/js/custom.min.js" type="text/javascript"></script>*@
    <script src="~/js/custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        const zeroFill = n => {
            return ('0' + n).slice(-2);
        }
        // Creates interval
        const interval = setInterval(() => {
            // Get current time
            const now = new Date();
            const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            // Format date as in mm/dd/aaaa hh:ii:ss
            const dateTime = zeroFill(now.getUTCDate()) + ' ' + months[now.getMonth()] + ' ' + now.getFullYear() + ' ' + zeroFill(now.getHours()) + ':' + zeroFill(now.getMinutes()) + ':' + zeroFill(now.getSeconds());

            // Display the date and time on the screen using div#date-time
            document.getElementById('liveDateTime').innerHTML = dateTime;
            let width = window.screen.availWidth;
            if (width < 462 && width > 386) {
                let Time = zeroFill(now.getHours()) + ':' + zeroFill(now.getMinutes()) + ':' + zeroFill(now.getSeconds());
                document.getElementById('liveDateTime').innerHTML = Time;
            }
            else if (width < 386) {
                document.getElementById('liveDateTime').innerHTML = "";
            }

        }, 1000);

        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        $(document).click(function (e) {
            let sss1 = $(e.target).parents("#myNav").length === 0;
            let sss2 = $(e.target).parents("#userProfileIcon").length === 0;
            if (sss1 == true && sss2 == true) {
                closeNav();
            }
        });

        function menuToggle() {
            if ($('body').hasClass('nav-md')) {
                $("#sidebar-menu").find('li.active ul').hide();
                $("#sidebar-menu").find('li.active').addClass('active-sm').removeClass('active');
            } else {
                $("#sidebar-menu").find('li.active-sm ul').show();
                $("#sidebar-menu").find('li.active-sm').addClass('active').removeClass('active-sm');
            }
            $('body').toggleClass('nav-md nav-sm');
            setHeight();
        }

        function setHeight() {
            $('.right_col').css('min-height', $(window).height());
            var bodyHeight = $('body').outerHeight();
            var footerHeight = $('body').hasClass('footer_fixed') ? -10 : $('footer').height();
            var leftColHeight = $('.left_col').eq(1).height() + $('.sidebar-footer').height();
            var contentHeight = bodyHeight < leftColHeight ? leftColHeight : bodyHeight;
            contentHeight -= $('.nav_menu').height() + footerHeight;
            $('.right_col').css('min-height', contentHeight);
        }

    </script>
</body>
</html>
