@using Microsoft.AspNetCore.Identity;
@using SMS.BLL.Contracts;

@inject SignInManager<ApplicationUser> _signInManager;
@inject UserManager<ApplicationUser> _userManager;
@inject IInstituteManager _instituteManager;
@inject IEmployeeManager _employeeManager;
@inject IStudentManager _studentManager;

@{
    var info = await _instituteManager.GetAllAsync();
    if (info.Count() > 0)
    {
        GlobalUI.InstituteName = info.FirstOrDefault().Name;
        GlobalUI.Logo = info.FirstOrDefault().Logo;
    }
    string instituteName = GlobalUI.InstituteName != null ? GlobalUI.InstituteName : "Institute Name";
    string instituteLogo = GlobalUI.Logo != null ? GlobalUI.Logo : "nobleLogo.png";
}
@{
    string userImage = "";
    if (_signInManager.IsSignedIn(User))
    {
        var user = await _userManager.GetUserAsync(User);
        if (user.UserType == 's')
        {
            var stu = await _studentManager.GetByIdAsync(user.ReferenceId);
            if (stu.Photo != null)
            {
                userImage = "/Images/Student/Photo/" + stu.Photo;
            }
            else
            {
                userImage = "/Images/noProfileImage.png";
            }
        }
        if (user.UserType == 'e')
        {
            var emp = await _employeeManager.GetByIdAsync(user.ReferenceId);
            if (emp.Image != null)
            {
                userImage = "/Images/Employee/Photo/" + emp.Image;
            }
            else
            {
                userImage = "/Images/noProfileImage.png";
            }
        }
    }
}

@{
    var userName = _userManager.GetUserName(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title :  @instituteName</title>
    }
    else
    {
        <title>@instituteName</title>
    }

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/lib/Theme/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/lib/Theme/css/nprogress.css" rel="stylesheet" />

    <!-- Alertify -->
    <link href="~/lib/Alertify/css/themes/default.min.css" rel="stylesheet" />
    <link href="~/lib/Alertify/css/alertify.min.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/css/custom.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <!-- Overlay Style-->
    <link href="~/css/userProfileOverLay.css" rel="stylesheet" />

    <!-- Data Table Style-->
    <link href="~/lib/DataTable/css/jquery.dataTables.min.css" rel="stylesheet" />
    <style>
    </style>
</head>

<body class="nav-md">
    @await RenderSectionAsync("Styles", required: false)
    @*<body class="nav-sm">*@
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="overflow:hidden">
                        <a asp-action="Index" asp-controller="Home" class="" style="font-size:20px;color:#fff;font-weight:bold;width:100%"><img class="img-circle img-fluid p-2" src="~/Images/Institute/@instituteLogo" alt="Logo" style="width:60px;" /> @instituteName</a>
                    </div>

                    <div class="clearfix"></div>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                </li>
                                <li>
                                    <a><i class="fa fa-users"></i> Students <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a asp-action="Index" asp-controller="Students">All Students</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-user"></i> Employee <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a asp-action="Index" asp-controller="Employees"><span class="glyphicon glyphicon-asterisk"></span> All Employee</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="menu_section">

                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        @if (_signInManager.IsSignedIn(User))
                        {
                            <form asp-action="Logout" asp-controller="accounts" method="post">
                                <button data-toggle="tooltip" data-placement="top" title="Logout" type="submit">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                                </button>
                            </form>
                        }
                        else
                        {

                            <a data-toggle="tooltip" data-placement="top" title="Login" asp-action="login" asp-controller="Accounts">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                            </a>
                        }

                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav pb-3">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a style="padding:5px;" id="menu_toggle">


                            <i class="fa fa-bars"></i>
                        </a>

                    </div>
                    <div class="nav d-flex justify-content-between">
                        @if (_signInManager.IsSignedIn(User))
                        {

                            <span class="p-2">@userName </span>
                            <span class="float-right p-2" id="userProfileIcon">
                                <img src="@userImage" alt="profile Image" class="img-circle" data-toggle="popover" data-placement="bottom" style="width:25px;" onclick="openNav()" />
                            </span>
                            <div id="myNav" class="overlay">
                                <button class="btn btn-sm btn-danger btn-block closebtn" onclick="closeNav()">Close</button>


                                <div class="overlay-content">
                                    @await Component.InvokeAsync("ProfileOverlay")
                                </div>
                            </div>

                        }
                    </div>

                </div>
                <text class="h5 text-light">@GlobalUI.PageTitle</text>

            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" style="background:#c7c7c7">
                <div class="shadow rounded mt-2 bg-light p-2">
                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer class="fixed-bottom">
                <div class="pull-right">
                    &copy; Powerd By NRS
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/lib/Theme/js/jquery.min.js"></script>
    <!-- Validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/lib/Theme/js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/lib/Theme/js/nprogress.js"></script>

    <!-- User Profile Overlay -->
    <script src="~/js/Accessories/userProfileOverLay.js"></script>

    <!-- Alertify -->
    <script src="~/lib/Alertify/alertify.min.js"></script>
    <!-- Datatable script -->
    <script src="~/lib/DataTable/js/jquery.dataTables.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/js/custom.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        $(document).click(function (e) {
            let sss1 = $(e.target).parents("#myNav").length === 0;
            let sss2 = $(e.target).parents("#userProfileIcon").length === 0;
            if (sss1 == true && sss2 == true) {
                closeNav();
            }
        });

        function menuToggle() {
            if ($('body').hasClass('nav-md')) {
                $("#sidebar-menu").find('li.active ul').hide();
                $("#sidebar-menu").find('li.active').addClass('active-sm').removeClass('active');
            } else {
                $("#sidebar-menu").find('li.active-sm ul').show();
                $("#sidebar-menu").find('li.active-sm').addClass('active').removeClass('active-sm');
            }
            $('body').toggleClass('nav-md nav-sm');
            setHeight();
        }

        function setHeight() {
            $('.right_col').css('min-height', $(window).height());
            var bodyHeight = $('body').outerHeight();
            var footerHeight = $('body').hasClass('footer_fixed') ? -10 : $('footer').height();
            var leftColHeight = $('.left_col').eq(1).height() + $('.sidebar-footer').height();
            var contentHeight = bodyHeight < leftColHeight ? leftColHeight : bodyHeight;
            contentHeight -= $('.nav_menu').height() + footerHeight;
            $('.right_col').css('min-height', contentHeight);
        }




        $(document).ready(function () {
            menuToggle();
            //$('#menu_toggle').click();
            $("[data-toggle=popover]").popover({
                html: true,
                animation: true,
                delay: { "show": 500, "hide": 100 },
                template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>',
                content: function () {

                    return $('#popover-content').html();
                }
            });
        });
    </script>
</body>
</html>
