@model SMS.App.ViewModels.ModuleSubModuleVM.ProjectSubModuleVM

@inject UserManager<ApplicationUser> _userManager;
@{
    int sl = 0;
    string createdBy = string.Empty;
}

<div class="row">
    <div class="col-md-4">
        <div class="p-2 rounded" id="projectSubModuleCreateUpdateFieldset">
            <fieldset class="border p-3 shadow border-primary">
                <legend class="" style="width:inherit" id="legendTitle">Create/Update Sub Module</legend>
                <form asp-action="Create" method="post" id="createUpdateForm">
                    <input type="hidden" asp-for="ProjectSubModule.Id"  />
                    <div class="form-group row">
                        <label asp-for="ModuleSelectList" class="col-sm-3 col-form-label text-right text-sm-left"></label>
                        <div class="col-sm-9">
                            <select asp-for="ProjectSubModule.ProjectModuleId" asp-items="Model.ModuleSelectList" class="form-control">
                                <option selected disabled>Select Module</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ProjectSubModule.SubModuleName" class="col-sm-3 col-form-label text-right text-sm-left"></label>
                        <div class="col-sm-9">
                            <input asp-for="ProjectSubModule.SubModuleName" class="form-control" placeholder="Sub Module Name">
                            <span asp-validation-for="ProjectSubModule.SubModuleName"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ProjectSubModule.Remarks" class="col-sm-3 col-form-label text-right text-sm-left"></label>
                        <div class="col-sm-9">
                            <input asp-for="ProjectSubModule.Remarks" class="form-control" placeholder="Description">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 offset-sm-3">
                            <input asp-for="ProjectSubModule.Status">
                            <label asp-for="ProjectSubModule.Status" class="col-form-label"></label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10 text-right">
                            <input type="submit" class="btn btn-primary" id="submitId" value="Create" />
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
    <div class="col-md-8">
        <table class="shadow table table-responsive-sm table-striped table-striped-columns">
            <thead class="table-info">
                <tr>
                    <th>#</th>
                    <th>Sub Module Name</th>
                    <th>Module Name</th>
                    <th>Remarks</th>
                    <th>Status</th>
                    <th>Created By</th>
                    <th>Acation</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.SubModuleList != null && Model.SubModuleList.Count > 0)
                {
                    foreach (var item in Model.SubModuleList)
                    {
                        <tr>
                            <td>@(++sl)</td>
                            <td>@item.SubModuleName</td>
                            <td>@item.ProjectModule.ModuleName</td>
                            <td>@item.Remarks</td>
                            <td>
                                @if (item.Status)
                                {
                                  <span>Active</span>
                                }
                                else
                                {
                                    <span>Inactive</span>
                                }
                            </td>
                            <td>
                                @if (item.CreatedBy != null)
                                {
                                    ApplicationUser aUser = await _userManager.FindByIdAsync(item.CreatedBy);
                                    createdBy = aUser.UserName;
                                }
                                else
                                {
                                    createdBy = "N/F";
                                }
                                <span>@createdBy</span>
                            </td>
                            <td class="d-flex">
                                <button class="btn btn-warning btn-sm updateBtn" data-subModuleName="@item.SubModuleName" data-moduleId="@item.ProjectModuleId" data-subModuleId="@item.Id" data-remark="@item.Remarks" data-status="@item.Status">Edit</button>
                                <form asp-action="delete" method="post" id="delete">
                                    <input type="hidden" asp-for="ProjectSubModule.Id" value="@item.Id" />
                                    <input type="hidden" asp-for="ProjectSubModule.ProjectModuleId" value="@item.ProjectModuleId" />
                                    <input type="hidden" asp-for="ProjectSubModule.ProjectModuleId" value="@item.ProjectModule.ModuleName" />
                                    <input type="hidden" asp-for="ProjectSubModule.ProjectModuleId" value="@item.ProjectModule.Remarks" />
                                    <input type="hidden" asp-for="ProjectSubModule.ProjectModuleId" value="@item.ProjectModule.Status" />
                                    <input type="submit"  value="Delete" class="btn btn-sm btn-danger" />
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="text-center">
                        <td colspan="7" class="alert">Nothing Found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<partial name="_LastUpdated" />

@section scripts{
    <script>
        $(".updateBtn").click(function () {
            let form = document.getElementById('createUpdateForm');
            form.action = "/ProjectSubModules/Edit";
            document.getElementById('projectSubModuleCreateUpdateFieldset').style.backgroundColor = '#2A3F54'; /*'#f7cc93';*/

            var fieldSet = document.getElementById('projectModuleCreateUpdateForm');

            var legendData = document.getElementById('legendTitle');
            legendData.innerText = "Update Project Module";

            document.getElementById('legendTitle').style.color = "#fff";

            document.getElementById('projectSubModuleCreateUpdateFieldset').style.color = '#fff';
            document.getElementById('submitId').value = 'Update';

            //let rDoc = document.getElementById('SFAllocation_FeeAllocationApplication');

            var moduleId = $(this).data("moduleid");
            var subModuleId = $(this).data("submoduleid");
            var subModuleName = $(this).data("submodulename");
            var remarks = $(this).data("remark");
            var status = $(this).data("status");

            $("#ProjectSubModule_ProjectModuleId").val(moduleId).trigger('change');
            $("#ProjectSubModule_Id").val(subModuleId);
            $("#ProjectSubModule_SubModuleName").val(subModuleName);
            $('#ProjectSubModule_Remarks').val(remarks);
            $('#ProjectSubModule_Status').val(status);
            if (status == 'True') {
                $('#ProjectSubModule_Status').prop("checked", true);
            }
            else {
                $('#ProjectSubModule_Status').prop("checked", false);
            }
        });
        $('#submitId').click(function () {
            var isChecked = $('#ProjectSubModule_Status').is(':checked');
            if (isChecked) {
                $('#ProjectSubModule_Status').val(isChecked);
            }
        })
        $(function () {
            $('form#delete').submit(function () {
                var c = confirm("Click OK to continue?");
                return c;
            });
        });
    </script>
}