@model IEnumerable<SMS.Entities.AcademicSession>

@{
    ViewData["Title"] = "Academic Session";
    int i = 0;

    GlobalUI.PageTitle = ViewBag.Title;
}

<div class="row">
<table class="table">
    <thead class="bg-info text-light">
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            
            <th>
                <a data-toggle="tooltip" data-placement="top" title="Add New Academic Session" class="p-2 btn-sm btn-info rounded-pill" asp-action="Create"><i class="fa fa-plus"></i> Add</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@(++i).</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            
            <td>
                <partial name="_Edit_Details_Delete" model="@item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>
</div>
@section Scripts{ 
    @if (TempData["create"]!=null)
    {
        <script type="text/javascript">
            $(function () {
                alertify.success('@TempData["create"]');
            });
        </script>
    }
    @if (TempData["edit"]!=null)
    {
        <script type="text/javascript">
            $(function () {
                alertify.warning('@TempData["edit"]');
            });
        </script>
    }
    @if (TempData["delete"]!=null)
    {
        <script type="text/javascript">
            $(function () {
                alertify.error('@TempData["delete"]');
            });
        </script>
    }
    
}