@using Microsoft.AspNetCore.Identity;

@inject UserManager<ApplicationUser> _userManager;

@model SMS.App.ViewModels.Employees.EmployeeDetailsVM

@{

    if (await _userManager.IsInRoleAsync((await _userManager.GetUserAsync(User)), "Teacher"))
    {
        Layout = "~/Views/Shared/_TeacherLayout.cshtml";
    }

    if (ViewBag.InstituteName != null)
    {
        GlobalUI.InstituteName = ViewBag.InstituteName;
    }

    ViewData["Title"] = "Details";
    GlobalUI.PageTitle = ViewBag.Title + " about " + Model.EmployeeName;
    string image = Model.Image;
    if (Model.Image == "")
    {
        if (Model.Gender.Name.ToLower() == "male")
        {
            image = "maleEmployee.png";
        }
        else if (Model.Gender.Name.ToLower() == "female")
        {
            image = "femaleEmployee.png";
        }
        else
        {

            image = "otherEmployee.jpg";
        }
    }
}


<div class="row">
    <div class="col-md-3">
        <div class="row">
            <img class="rounded-circle img-thumbnail w-50 d-block mx-auto" src="~/Images/Employee/photo/@image" alt="Alternate Text" />
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                Personal Information
            </a>
            <a href="#" class="list-group-item list-group-item-action">Academic Information</a>
            <a href="#" class="list-group-item list-group-item-action">Official information</a>
            <a href="#" class="list-group-item list-group-item-action">Other</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
        </div>
    </div>
    <div class="col-md-9 bg-Teal shadow rounded">
        <table class="table table-responsive-sm text-light">
            <tr>
                <td>Employee Name </td>
                <td>:</td>
                <td>@Model.EmployeeName</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>:</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Phone number</td>
                <td>:</td>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <td>NID Number</td>
                <td>:</td>
                <td>@Model.NIDNo</td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>:</td>
                <td>@Model.DOB.ToString("dd MMM yyyy")</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>:</td>
                <td>@Model.Gender.Name</td>
            </tr>
            <tr>
                <td>Nationality</td>
                <td>:</td>
                <td>@Model.Nationality.Name</td>
            </tr>
            <tr>
                <td>Religion</td>
                <td>:</td>
                <td>@Model.Religion.Name</td>
            </tr>
            @{ 
                string presentUpazila = Model.PresentUpazila != null ? Model.PresentUpazila.Name : "N/A";
                string presentDistrict = Model.PresentDistrict != null ? Model.PresentDistrict.Name : "N/A";
                string presentDivision = Model.PresentDivision != null ? Model.PresentDivision.Name : "N/A";
                string permanentUpazila = Model.PermanentUpazila != null ? Model.PermanentUpazila.Name : "N/A";
                string PermanentDistrict = Model.PermanentDistrict != null ? Model.PermanentDistrict.Name : "N/A";
                string PermanentDivision = Model.PermanentDivision != null ? Model.PermanentDivision.Name : "N/A";
            }
            <tr>
                <td>Present Address</td>
                <td>:</td>
                <td>@Model.PresentAddress, Thana/Upazila:@presentUpazila, Dist:@presentDistrict, Div:@presentDivision</td>
            </tr>
           
            <tr>
                <td>Permanent Address</td>
                <td>:</td>
                <td>@Model.PermanentAddress, Thana/Upazila:@permanentUpazila, Dist:@PermanentDistrict, Div:@PermanentDivision</td>
            </tr>
        </table>
    </div>
</div>


<div class="d-flex align-items-start">

    <div class="tab-content" id="v-pills-tabContent">

    </div>
</div>


<div class="row">
    <div class="col-md-12 p-2 text-center">
        <partial name="_Edit_Back" model="@Model.Id" />
    </div>
</div>
