@using Microsoft.AspNetCore.Identity;
@using System.IO;
@using Microsoft.AspNetCore.Hosting;

@model IEnumerable<SMS.Entities.Employee>


@inject UserManager<ApplicationUser> _userManager;
@inject IWebHostEnvironment env;
@{

    ViewData["Title"] = "Employees";
    GlobalUI.PageTitle = ViewBag.Title;

}
@section Styles{
    <style>
        .img-responsive
        {
            max-width: 100%;
            height: auto;
        }

        .img-circle
        {
            border-radius: 100%;
        }
    </style>
}

<div class="row">
    <div class="col-md-12 text-right pb-2">
        <partial name="_Create" />
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        var blurSize = item.Status == true ? "" : "2px";
        <div class="col-md-4">
            <div class="card mb-2">                
                <div class="card-body" style="filter:blur(@blurSize)">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 text-center px-0">
                            <div class="">
                                <a href="#">
                                    @{
                                        var avatarImg = !string.IsNullOrEmpty(item.Image) ? $"/Images/Employee/photo/" + @item.Image : $"/Images/Employee/photo/maleEmployee.png";
                                        string root = env.WebRootPath;
                                        string folder = "Images/Employee/photo/";

                                        var path = System.IO.Path.Combine(root, folder, item.Image);
                                        if (!File.Exists(path))
                                        {
                                            avatarImg = $"/Images/Employee/photo/maleEmployee.png";
                                        }
                                    }
                                    <img src="@avatarImg" class="img-circle img-fluid" style="max-height:160px;" alt="@item.EmployeeName" />

                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 text-lg-left text-md-left text-center">
                            @if (item.EmployeeName.Length > 18)
                            {
                                <h6 class="card-title mb-0 text-primary" style="text-transform:capitalize">@item.EmployeeName</h6>
                            }
                            else
                            {
                                <h5 class="card-title mb-0 text-primary" style="text-transform:capitalize">@item.EmployeeName</h5>
                            }

                            <small>(@item.Designation.DesignationName)</small>
                            <p>Employee Id : @item.Id.ToString().PadLeft(5,'0')</p>
                            <hr class="p-0 m-0" />
                            <address>
                                <span class="text-capitalize">@item.PresentAddress</span>, @item.PresentUpazila.Name,<br />
                                @item.PresentDistrict.Name<br />
                                <abbr title="Phone"><i class="fa fa-phone fa-lg text-info"></i></abbr> @item.Phone <br />

                                <abbr title="Email"><i class="fa fa-envelope text-primary fa-lg"></i></abbr>
                                @if (item.Email.Length > 25)
                                {
                                    <span style="font-size:10px">@item.Email</span>
                                }
                                else
                                {
                                    <span style="">@item.Email</span>
                                }

                            </address>
                            <div class="btn-group">
                                @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                                {
                                    <a class=" btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                }
                                <a class=" btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    @*<script src="~/js/AlertifyNotify/successNotify.js"></script>*@
    <script>

    $(document).ready(function () {

        $(function () {
            let saved = '@TempData["saved"]';
            let deleted = '@TempData["deleted"]';
            let edited = '@TempData["edited"]';

            if (saved != "") {
                alertify.success("Saved Successfully");
            }
            if (deleted != "") {
                alertify.error("Deleted Successfully");
            }
            if (edited != "") {
                alertify.message('Updated Successfully');
            }
        });
    });
    </script>
}