@model IEnumerable<SMS.Entities.Employee>

@{
    ViewData["Title"] = "Employees";
    GlobalUI.PageTitle = ViewBag.Title;
    int sl = 0;
}


<table class="table table-responsive-sm table-hover table-striped table-sm">
    <thead class="bg-Teal">
        <tr>
            <th style="width:20px;">#</th>

            <th class="text-center" style="width:60px;">
                @Html.DisplayNameFor(model => model.Image)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Designation.DesignationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIDNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                <a class="btn-sm btn-info rounded-pill" asp-action="Create"><i class="fa fa-plus-square"></i> Add New</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@(++sl).</td>
            <td>
                <img src="~/Images/Employee/photo/@item.Image" alt="Alternate Text" style="width:60px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation.DesignationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIDNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <partial name="_Edit_Details_Delete" model="@item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{ 
    @*<script src="~/js/AlertifyNotify/successNotify.js"></script>*@
<script>

    $(document).ready(function () {

        $(function () {
            let saved = '@TempData["saved"]';
            let deleted = '@TempData["deleted"]';
            let edited = '@TempData["edited"]';

            if (saved != "") {
                alertify.success("Saved Successfully");
            }
            if (deleted != "") {
                alertify.error("Deleted Successfully");
            }
            if (edited != "") {
                alertify.message('Updated Successfully');
            }
        });
    });
</script>
}