@using Microsoft.AspNetCore.Identity;
@using System.IO;
@using Microsoft.AspNetCore.Hosting;

@model IEnumerable<SMS.Entities.Employee>


@inject UserManager<ApplicationUser> _userManager;
@inject IWebHostEnvironment env;
@{

    ViewData["Title"] = "Employees";
    GlobalUI.PageTitle = ViewBag.Title;
    //int sl = 0;
    //string image = "";

}
@section Styles{
    <style>
        .img-responsive
        {
            max-width: 100%;
            height: auto;
        }

        .img-circle
        {
            border-radius: 100%;
        }
    </style>
}

<div class="row">
    <div class="col-md-12 text-right pb-2">
        <partial name="_Create" />
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 text-center">
                            <a href="#">
                                @{
                                    var avatarImg = !string.IsNullOrEmpty(item.Image) ? $"/Images/Employee/photo/" + @item.Image : $"/Images/Employee/photo/maleEmployee.png";
                                    string root = env.WebRootPath;
                                    string folder = "Images/Employee/photo/";

                                    var path = System.IO.Path.Combine(root, folder, item.Image);
                                    if (!File.Exists(path))
                                    {
                                        avatarImg = $"/Images/Employee/photo/maleEmployee.png";
                                    }
                                }
                                <img src="@avatarImg" class="img-circle img-responsive" style="max-height:200px;" alt="@item.EmployeeName" />

                            </a>
                        </div>
                        <div class="col-md-8">
                            <h5 class="card-title mb-0 text-primary" style="text-transform:uppercase">@item.EmployeeName</h5>
                            <small>(@item.Designation.DesignationName)</small>
                            <hr class="p-0 m-0" />
                            <address>
                                <span class="text-capitalize">@item.PresentAddress</span>, @item.PresentUpazila.Name,<br />
                                @item.PresentDistrict.Name<br />
                                <abbr title="Phone"><i class="fa fa-mobile-phone fa-lg text-info"></i></abbr> @item.Phone <br />
                                <abbr title="Email"><i class="fa fa-envelope text-primary"></i></abbr> @item.Email
                            </address>
                            <div class="btn-group">
                                @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                                {
                                    <a class=" btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                }
                                <a class=" btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    @*<script src="~/js/AlertifyNotify/successNotify.js"></script>*@
    <script>

    $(document).ready(function () {

        $(function () {
            let saved = '@TempData["saved"]';
            let deleted = '@TempData["deleted"]';
            let edited = '@TempData["edited"]';

            if (saved != "") {
                alertify.success("Saved Successfully");
            }
            if (deleted != "") {
                alertify.error("Deleted Successfully");
            }
            if (edited != "") {
                alertify.message('Updated Successfully');
            }
        });
    });
    </script>
}